svg(viewBox="0 0 29 17" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect.fill_white(width="29" height="3")
    rect.fill_white(x="10" y="7" width="9" height="3")
    rect.fill_white(y="14" width="29" height="3")