svg(viewBox="0 0 501 502" fill="none" xmlns="http://www.w3.org/2000/svg")
    path.stroke_lavender(d="M73.4992 74.9496C118.796 29.2819 181.595 1 250.999 1C320.403 1 383.202 29.2819 428.499 74.9496M73.4492 427C118.75 472.697 181.569 501 250.999 501C320.429 501 383.248 472.697 428.549 427")
    path.stroke_lavender(d="M428 427.05C472.816 381.868 500.5 319.667 500.5 251C500.5 182.359 472.836 120.178 428.05 75" stroke-opacity="0.2" stroke-dasharray="4 4")
    path.stroke_lavender(d="M73.5 427.05C28.6841 381.868 1 319.667 1 251C1 182.359 28.6635 120.178 73.45 75" stroke-opacity="0.2" stroke-dasharray="4 4")