svg(viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect.fill_iris(width="22" height="22" rx="6")
    path.stroke_white(d="M5 15.0518L8.38176 11.8311L10.5611 13.7528L16.9167 7M16.9167 7H13.3739M16.9167 7V10.5428" stroke-width="1.4")