// work card 1
svg(viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
    path.stroke_iris(d="M7.63565 8.59082L13.6811 5.09082M13.6811 5.09082L20.0447 8.59082M13.6811 5.09082V14.9545M13.6811 14.9545L22.272 19.7272M13.6811 14.9545L5.72656 19.7272M22.272 19.7272V12.7272M22.272 19.7272L16.2266 23.2272M5.72656 19.7272V12.7272M5.72656 19.7272L11.4538 23.2272" stroke-width="1.90889")