svg(viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect.fill_iris(x="0.5" width="22" height="22" rx="6")
    path.stroke_white(d="M5.5 15.0518L8.88176 11.8311L11.0611 13.7528L17.4167 7M17.4167 7H13.8739M17.4167 7V10.5428" stroke-width="1.4")