// work card 4
svg(viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect.fill_iris(x="20.3633" y="5.09082" width="11.6364" height="5.09091" rx="1.45455")
    rect.fill_iris(x="16" y="13.0909" width="11.6364" height="5.09091" rx="1.45455")
    rect.fill_iris(x="11.6367" y="21.0908" width="11.6364" height="5.09091" rx="1.45455")
    path.stroke_iris(d="M0 15.6363H5.45455M13.8182 15.6363H10.1818M10.1818 15.6363V9.45452C10.1818 8.72725 10.5455 7.27271 12 7.27271C13.4545 7.27271 16.9697 7.27271 18.5455 7.27271M10.1818 15.6363H5.45455M5.45455 15.6363V21.8182C5.45455 22.4242 5.74545 23.6363 6.90909 23.6363C8.07273 23.6363 9.69697 23.6363 10.1818 23.6363" stroke-width="2.18182")