svg(viewBox="0 0 20 306" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect.fill_white(x="9" width="2" height="297" rx="1")
    rect.t_progress.fill_iris(x="9" width="2" height="0" rx="1")
    rect.fill_white(x="0.55" y="0.55" width="18.9" height="18.9" rx="9.45")
    rect.fill_white(x="0.55" y="95.55" width="18.9" height="18.9" rx="9.45")
    rect.fill_white(x="0.55" y="190.55" width="18.9" height="18.9" rx="9.45")
    rect.fill_white(x="0.55" y="285.55" width="18.9" height="18.9" rx="9.45")
    g
        rect.stroke_iris(x="0.55" y="0.55" width="18.9" height="18.9" rx="9.45"  stroke-width="1.1")
        rect.fill_iris(x="2" y="2" width="16" height="16" rx="8")
        path.stroke_white(d="M5.7998 10.6L8.1998 13L14.1998 7" stroke-width="1.03529")
    g.group(style="opacity: 0")
        rect.stroke_iris(x="0.55" y="95.55" width="18.9" height="18.9" rx="9.45" stroke-width="1.1")
        rect.fill_iris(x="2" y="97" width="16" height="16" rx="8")
        path.stroke_white(d="M5.7998 105.6L8.1998 108L14.1998 102" stroke-width="1.03529")
    g.group(style="opacity: 0")
        rect.stroke_iris(x="0.55" y="190.55" width="18.9" height="18.9" rx="9.45" stroke-width="1.1")
        rect.fill_iris(x="2" y="192" width="16" height="16" rx="8")
        path.stroke_white(d="M5.7998 200.6L8.1998 203L14.1998 197" stroke-width="1.03529")
    g.group(style="opacity: 0")
        rect.stroke_iris(x="0.55" y="285.55" width="18.9" height="18.9" rx="9.45" stroke-width="1.1")
        rect.fill_iris(x="2" y="287" width="16" height="16" rx="8")
        path.stroke_white(d="M5.7998 295.6L8.1998 298L14.1998 292" stroke-width="1.03529")