<svg width="158" height="86" viewBox="0 0 158 86" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<rect width="158" height="86" rx="10" fill="url(#pattern0_1012_576)"/>
<rect width="158" height="86" rx="10" fill="white"/>
<path d="M83.5 77.0444H73L73 35.8254L84.6805 39.5799L116.802 42.5L125.562 19.139L148 27V67L83.5 77.0444Z" fill="url(#paint0_linear_1012_576)"/>
<path d="M82 43.5L96 48.5L106.456 50.1331" stroke="#6F92E8" stroke-width="0.8"/>
<path d="M107.29 50.5503L116.468 54.3048L125.645 28.858L148.172 40.9557" stroke="#6F92E8" stroke-width="0.8" stroke-dasharray="1.67 1.67"/>
<path d="M107.5 40.5385L116.5 41.5L125 18L148 26" stroke="#6F92E8" stroke-width="0.8" stroke-dasharray="1.67 1.67"/>
<path d="M82 37.5L85 38.5L93.5 39.287L107 40.5" stroke="#6F92E8" stroke-width="0.8"/>
<path d="M82 79V44L96 49L106 51L116.885 55.1391L126.062 30.1095L148 42V79H82Z" fill="url(#paint1_linear_1012_576)"/>
<path d="M107.29 10V67" stroke="#6F92E8" stroke-width="0.8"/>
<rect x="4" y="4" width="81" height="78" fill="white"/>
<path d="M10 64.4999V44.9999L23 39.4999L38 37.4999L41 35L52 31.9999L64 27.5L72 23L76 20V63.9999L10 64.4999Z" fill="url(#paint2_linear_1012_576)"/>
<path d="M41.145 34.3627C48.2124 32.7668 66 27.5 76 19" stroke="#6F92E8" stroke-width="0.8" stroke-dasharray="1.37 1.37"/>
<path d="M10 45L22.679 39.1502L37.7256 37.0984L40.4614 35.0466" stroke="#6F92E8" stroke-width="0.8"/>
<path d="M10 56L21.6525 53.5129H30.8856L37.725 51.803L40.8027 49.7512" stroke="#6F92E8" stroke-width="0.8"/>
<path d="M41.8291 49.0673C47.9845 48.3833 64.2363 44.5658 76 38" stroke="#6F92E8" stroke-width="0.8" stroke-dasharray="1.37 1.37"/>
<path d="M10 79V56.5L21.5 54H31L38 52L41 50L52 48L61.5 45.5L76 39V79H10Z" fill="url(#paint3_linear_1012_576)"/>
<path d="M40.5 10V67" stroke="#6F92E8" stroke-width="0.8"/>
<path d="M13.444 20.148C14.536 20.148 15.316 19.572 15.316 18.564C15.316 17.364 14.308 16.98 12.964 16.98H12.664V15.888H12.916C14.368 15.888 15.088 15.456 15.088 14.496C15.088 13.584 14.356 13.14 13.48 13.14C12.376 13.14 11.776 13.812 11.644 14.82H10.396C10.528 13.224 11.668 12.144 13.54 12.144C15.016 12.144 16.396 12.756 16.396 14.388C16.396 15.264 15.904 16.008 15.04 16.38C16.216 16.764 16.624 17.652 16.624 18.54C16.624 20.304 15.112 21.156 13.42 21.156C11.404 21.156 10.372 19.86 10.276 18.372H11.524C11.656 19.38 12.256 20.148 13.444 20.148ZM18.085 12.3H20.881C22.897 12.3 24.529 12.696 24.529 14.976C24.529 17.148 22.981 17.628 20.881 17.628H19.453V21H18.085V12.3ZM20.929 13.428H19.453V16.476H20.965C22.165 16.476 23.113 16.332 23.113 14.988C23.113 13.572 22.117 13.428 20.929 13.428ZM27.0585 12.3V19.836H31.5465V21H25.6905V12.3H27.0585Z" fill="#6F92E8"/>
<path d="M85 21L88.228 12.3H89.74L93.016 21H91.528L90.844 19.092H87.064L86.392 21H85ZM88.936 13.788L87.472 17.94H90.424L88.936 13.788ZM95.3436 12.3V21H93.9756V12.3H95.3436ZM96.3806 12.3H97.8806L100.197 19.476L102.453 12.3H103.893L100.929 21H99.3806L96.3806 12.3Z" fill="#6F92E8"/>
<rect x="46.2" y="53.2" width="16.6" height="8.6" rx="1.8" fill="#D6DCFF" fill-opacity="0.2"/>
<rect x="46.2" y="53.2" width="16.6" height="8.6" rx="1.8" stroke="#D6DCFF" stroke-width="0.4"/>
<path d="M47.97 60L49.578 57.768L48.078 55.65H48.894L49.986 57.198L51.102 55.65H51.876L50.376 57.738L51.984 60H51.168L49.962 58.308L48.744 60H47.97ZM53.6771 59.574C54.2231 59.574 54.6131 59.286 54.6131 58.782C54.6131 58.182 54.1091 57.99 53.4371 57.99H53.2871V57.444H53.4131C54.1391 57.444 54.4991 57.228 54.4991 56.748C54.4991 56.292 54.1331 56.07 53.6951 56.07C53.1431 56.07 52.8431 56.406 52.7771 56.91H52.1531C52.2191 56.112 52.7891 55.572 53.7251 55.572C54.4631 55.572 55.1531 55.878 55.1531 56.694C55.1531 57.132 54.9071 57.504 54.4751 57.69C55.0631 57.882 55.2671 58.326 55.2671 58.77C55.2671 59.652 54.5111 60.078 53.6651 60.078C52.6571 60.078 52.1411 59.43 52.0931 58.686H52.7171C52.7831 59.19 53.0831 59.574 53.6771 59.574ZM55.7544 60V59.25H56.5044V60.054L56.1144 60.888H55.7244L56.0844 60H55.7544ZM58.5422 59.574C59.0462 59.574 59.4602 59.214 59.4602 58.584C59.4602 57.9 58.9862 57.594 58.5302 57.594C58.1042 57.594 57.8102 57.822 57.7142 58.062L57.1082 58.026L57.3962 55.65H59.9402V56.22H57.9062L57.7622 57.384C57.9842 57.186 58.3022 57.084 58.6802 57.084C59.4362 57.084 60.1142 57.6 60.1142 58.578C60.1142 59.562 59.3702 60.078 58.5362 60.078C57.5342 60.078 57.0362 59.424 56.9702 58.704H57.5942C57.6662 59.232 57.9482 59.574 58.5422 59.574Z" fill="#6F92E8"/>
<rect x="84.2" y="27.2" width="16.6" height="8.6" rx="1.8" fill="#D6DCFF" fill-opacity="0.2"/>
<rect x="84.2" y="27.2" width="16.6" height="8.6" rx="1.8" stroke="#D6DCFF" stroke-width="0.4"/>
<path d="M87.656 34H87.026V30.64H86.036V30.214C86.654 30.196 86.99 30.118 87.206 29.65H87.656V34ZM89.2778 34H88.5278V33.25H89.2778V34ZM91.4914 29.572C92.2954 29.572 92.8894 29.98 92.8894 30.718C92.8894 31.672 91.9294 32.542 90.6634 33.436H93.0034V34H89.8534V33.46C91.3474 32.32 92.2354 31.54 92.2354 30.784C92.2354 30.346 91.9474 30.07 91.4734 30.07C91.0294 30.07 90.5974 30.322 90.5974 31.024H89.9614C89.9434 30.154 90.5614 29.572 91.4914 29.572ZM96.2075 34H95.4995L94.3415 30.34V34H93.6695V29.65H94.7675L95.8535 33.202L96.9395 29.65H98.0375V34H97.3655V30.34L96.2075 34Z" fill="#6F92E8"/>
<circle cx="107.5" cy="40.5" r="2" fill="#6F92E8" stroke="#D6DCFF"/>
<circle cx="107.5" cy="50.5" r="2" fill="#6F92E8" stroke="#D6DCFF"/>
<circle cx="40.5" cy="34.5" r="2" fill="#6F92E8" stroke="#D6DCFF"/>
<circle cx="40.5" cy="49.5" r="2" fill="#6F92E8" stroke="#D6DCFF"/>
<defs>
<pattern id="pattern0_1012_576" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#image0_1012_576" transform="matrix(0.000595238 0 0 0.00109358 0 -0.112403)"/>
</pattern>
<linearGradient id="paint0_linear_1012_576" x1="67.3876" y1="15.926" x2="67.3876" y2="65.9852" gradientUnits="userSpaceOnUse">
<stop stop-color="#DADCFB"/>
<stop offset="1" stop-color="white" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear_1012_576" x1="75.5858" y1="16.7604" x2="76" y2="86" gradientUnits="userSpaceOnUse">
<stop stop-color="#6F92E8"/>
<stop offset="1" stop-color="white" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint2_linear_1012_576" x1="0.656641" y1="12.1509" x2="1.07085" y2="81.3905" gradientUnits="userSpaceOnUse">
<stop stop-color="#D6DCFF"/>
<stop offset="1" stop-color="white" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint3_linear_1012_576" x1="0.656621" y1="26.6509" x2="1.07083" y2="95.8905" gradientUnits="userSpaceOnUse">
<stop stop-color="#6F92E8"/>
<stop offset="0.803274" stop-color="white" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
