<svg width="158" height="86" viewBox="0 0 158 86" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<rect width="158" height="86" rx="10" fill="url(#pattern0_1001_2679)"/>
<rect width="158" height="86" rx="10" fill="white"/>
<path d="M21.6187 20.1836H144.619" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M21.6187 31.1836H144.619" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M21.6187 42.1836H144.619" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M21.6187 53.1836H144.619" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M21.6187 64.1836H144.619" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M39 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M28 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M50 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M61 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M72 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M83 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M94 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M105 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M116 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M127 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M139 12.3549V72.3549" stroke="#AFA6A6" stroke-width="0.0876126" stroke-dasharray="0.5 0.5"/>
<path d="M102 58L107.5 65.5H116" stroke="#6F92E8" stroke-width="0.4"/>
<path d="M43 44.5L37.5 37H29" stroke="#6F92E8" stroke-width="0.4"/>
<path d="M49 27.5L54.5 20H63" stroke="#6F92E8" stroke-width="0.4"/>
<path d="M100.082 19.1773C105.849 20.7684 110.73 23.4354 113.96 26.4592C117.191 29.4845 118.76 32.8578 117.93 35.8646C117.101 38.8714 114.024 40.9628 109.699 41.9037C105.376 42.8441 99.8181 42.6314 94.0505 41.0403C88.2828 39.4491 83.4013 36.782 80.1719 33.7581C76.9411 30.7328 75.3726 27.3597 76.202 24.353C77.0315 21.3463 80.1076 19.2545 84.4326 18.3136C88.7555 17.3732 94.3142 17.5861 100.082 19.1773Z" fill="#6F92E8" fill-opacity="0.5" stroke="#6F92E8" stroke-width="0.0876126"/>
<path d="M90.3351 28.7625C96.1728 30.0733 101.177 32.5015 104.548 35.3658C107.922 38.2316 109.652 41.5251 108.969 44.5684C108.285 47.6118 105.313 49.8494 101.038 50.9981C96.766 52.1461 91.2043 52.202 85.3666 50.8913C79.5288 49.5805 74.5241 47.1522 71.1525 44.2879C67.7794 41.4221 66.0498 38.1287 66.7331 35.0854C67.4164 32.0421 70.3879 29.8042 74.6624 28.6556C78.9349 27.5075 84.4973 27.4518 90.3351 28.7625Z" fill="#6F92E8" fill-opacity="0.5" stroke="#6F92E8" stroke-width="0.0876126"/>
<path d="M82.6334 35.2776C87.9419 36.5266 92.4408 38.954 95.4233 41.8663C98.4065 44.7792 99.868 48.171 99.1193 51.3536C98.3705 54.5361 95.5499 56.9214 91.5808 58.1987C87.6126 59.4755 82.5034 59.6415 77.195 58.3926C71.8866 57.1436 67.3873 54.7171 64.4048 51.8049C61.4216 48.8919 59.9613 45.4994 60.71 42.3169C61.4588 39.1345 64.2786 36.7498 68.2474 35.4725C72.2155 34.1956 77.3249 34.0287 82.6334 35.2776Z" fill="#6F92E8" fill-opacity="0.5" stroke="#6F92E8" stroke-width="0.0876126"/>
<path d="M68.5589 47.2536C74.5955 46.7582 80.1496 47.4172 84.2485 48.8809C88.3515 50.3462 90.9793 52.6107 91.2016 55.3162C91.4236 58.0218 89.2003 60.6852 85.3909 62.8C81.5855 64.9125 76.2132 66.4682 70.1766 66.9637C64.1399 67.4592 58.5851 66.8003 54.4861 65.3365C50.3829 63.8712 47.755 61.6059 47.533 58.9003C47.3111 56.1948 49.5346 53.5321 53.3437 51.4174C57.1492 49.3049 62.5222 47.7491 68.5589 47.2536Z" fill="#6F92E8" fill-opacity="0.5" stroke="#6F92E8" stroke-width="0.0876126"/>
<path d="M97.7162 25.4812C100.476 26.1984 102.814 27.4531 104.364 28.8992C105.916 30.3469 106.669 31.9772 106.286 33.449C105.903 34.9207 104.452 35.9772 102.392 36.486C100.334 36.9943 97.6805 36.9515 94.9212 36.2342C92.1618 35.517 89.8234 34.2623 88.2733 32.8162C86.7217 31.3686 85.9685 29.739 86.3509 28.2673C86.7335 26.7955 88.185 25.7382 90.2453 25.2294C92.3035 24.7211 94.9568 24.764 97.7162 25.4812Z" fill="#D6DCFF" fill-opacity="0.5" stroke="#6F92E8" stroke-width="0.1"/>
<path d="M88.2997 34.6286C91.059 35.3459 93.3974 36.6006 94.9475 38.0467C96.4993 39.4944 97.2522 41.1246 96.8697 42.5965C96.487 44.0682 95.0356 45.1247 92.9755 45.6335C90.9174 46.1417 88.264 46.0989 85.5047 45.3817C82.7453 44.6644 80.4069 43.4098 78.8568 41.9636C77.3052 40.5161 76.552 38.8865 76.9344 37.4148C77.317 35.9429 78.7685 34.8856 80.8288 34.3769C82.8869 33.8686 85.5403 33.9114 88.2997 34.6286Z" fill="#D6DCFF" fill-opacity="0.5" stroke="#6F92E8" stroke-width="0.1"/>
<path d="M80.5885 41.9858C83.1011 42.639 85.2149 43.8411 86.6016 45.253C87.9889 46.6658 88.6425 48.2822 88.2559 49.7695C87.8692 51.2568 86.5114 52.3504 84.6116 52.9088C82.7129 53.4668 80.2816 53.4864 77.7689 52.8334C75.2561 52.1802 73.1414 50.979 71.7547 49.5669C70.3673 48.1541 69.7139 46.5377 70.1004 45.0504C70.487 43.5631 71.8449 42.4696 73.7446 41.9111C75.6434 41.3531 78.0757 41.3327 80.5885 41.9858Z" fill="#D6DCFF" fill-opacity="0.5" stroke="#6F92E8" stroke-width="0.1"/>
<path d="M68.355 52.764C71.227 52.6078 73.8588 53.0022 75.7926 53.7687C77.722 54.5335 78.9759 55.6772 79.0497 57.0292C79.1233 58.3814 78.0008 59.6551 76.1656 60.6248C74.3263 61.5965 71.7529 62.2741 68.8808 62.4304C66.0085 62.5866 63.3762 62.1923 61.4422 61.4257C59.5127 60.6608 58.2596 59.5164 58.1861 58.1642C58.1128 56.8122 59.2343 55.5393 61.0693 54.5697C62.9086 53.5978 65.4827 52.9203 68.355 52.764Z" fill="#D6DCFF" fill-opacity="0.5" stroke="#6F92E8" stroke-width="0.1"/>
<path d="M75.8837 57L77.515 59.8255H74.2524L75.8837 57Z" fill="white"/>
<path d="M73.8837 31L75.515 33.8255H72.2524L73.8837 31Z" fill="white"/>
<path d="M92.8837 51L94.515 53.8255H91.2524L92.8837 51Z" fill="white"/>
<path d="M88.8837 49L90.515 51.8255H87.2524L88.8837 49Z" fill="white"/>
<path d="M52.8837 62L54.515 64.8255H51.2524L52.8837 62Z" fill="#6F92E8"/>
<path d="M49.8837 50L51.515 52.8255H48.2524L49.8837 50Z" fill="#6F92E8"/>
<path d="M124.884 26L126.515 28.8255H123.252L124.884 26Z" fill="#6F92E8"/>
<path d="M120.884 32L122.515 34.8255H119.252L120.884 32Z" fill="#6F92E8"/>
<path d="M60.7676 16.8837L57.9421 15.2524L57.9421 18.515L60.7676 16.8837Z" fill="#29B279"/>
<path d="M33.7676 34.1163L30.9421 32.485L30.9421 35.7476L33.7676 34.1163Z" fill="#29B279"/>
<path d="M109.768 61.8837L106.942 60.2524L106.942 63.515L109.768 61.8837Z" fill="#29B279"/>
<path d="M114.884 43L116.515 45.8255H113.252L114.884 43Z" fill="#6F92E8"/>
<path d="M72.8837 26L74.515 28.8255H71.2524L72.8837 26Z" fill="#6F92E8"/>
<path d="M121.884 21L123.515 23.8255H120.252L121.884 21Z" fill="#6F92E8"/>
<path d="M115.884 28L117.515 30.8255H114.252L115.884 28Z" fill="#6F92E8"/>
<path d="M111.884 26L113.515 28.8255H110.252L111.884 26Z" fill="#6F92E8"/>
<path d="M119.884 26L121.515 28.8255H118.252L119.884 26Z" fill="#6F92E8"/>
<path d="M56.8837 34.3383L58.515 37.1638H55.2524L56.8837 34.3383Z" fill="#6F92E8"/>
<path d="M61.9652 34.0754L63.5965 36.9009H60.3339L61.9652 34.0754Z" fill="#6F92E8"/>
<path d="M61.9652 24L63.5965 26.8255H60.3339L61.9652 24Z" fill="#6F92E8"/>
<path d="M60.2523 63L61.8836 65.8255H58.621L60.2523 63Z" fill="#6F92E8"/>
<path d="M84.8837 60L86.515 62.8255H83.2524L84.8837 60Z" fill="white"/>
<path d="M55.8837 43L57.515 45.8255H54.2524L55.8837 43Z" fill="#6F92E8"/>
<path d="M112.083 47L113.715 49.8255H110.452L112.083 47Z" fill="#6F92E8"/>
<path d="M119.884 53L121.515 55.8255H118.252L119.884 53Z" fill="#6F92E8"/>
<path d="M110.884 54L112.515 56.8255H109.252L110.884 54Z" fill="#6F92E8"/>
<path d="M104.884 51L106.515 53.8255H103.252L104.884 51Z" fill="#6F92E8"/>
<path d="M97.8837 59L99.515 61.8255H96.2524L97.8837 59Z" fill="#6F92E8"/>
<path d="M10.072 10.3H11.572L13.888 17.476L16.144 10.3H17.584L14.62 19H13.072L10.072 10.3ZM17.7714 19H16.5474L19.9434 10.3H21.1794L17.7714 19ZM27.0577 19H25.6417L23.3257 11.68V19H21.9817V10.3H24.1777L26.3497 17.404L28.5217 10.3H30.7177V19H29.3737V11.68L27.0577 19Z" fill="#6F92E8"/>
<path d="M123.6 10.144C125.208 10.144 126.396 10.96 126.396 12.436C126.396 14.344 124.476 16.084 121.944 17.872H126.624V19H120.324V17.92C123.312 15.64 125.088 14.08 125.088 12.568C125.088 11.692 124.512 11.14 123.564 11.14C122.676 11.14 121.812 11.644 121.812 13.048H120.54C120.504 11.308 121.74 10.144 123.6 10.144ZM129.084 19H127.584V17.5H129.084V19ZM133.079 10.144C134.879 10.144 136.019 11.08 136.019 12.364C136.019 13.108 135.683 13.9 134.867 14.368C135.947 14.848 136.283 15.736 136.283 16.54C136.283 18.22 134.891 19.156 133.079 19.156C131.267 19.156 129.875 18.22 129.875 16.54C129.875 15.736 130.223 14.848 131.303 14.368C130.487 13.9 130.151 13.096 130.151 12.364C130.151 11.08 131.279 10.144 133.079 10.144ZM133.079 14.86C131.927 14.86 131.195 15.508 131.195 16.516C131.195 17.524 131.927 18.148 133.079 18.148C134.231 18.148 134.975 17.524 134.975 16.516C134.975 15.508 134.231 14.86 133.079 14.86ZM134.771 12.52C134.771 11.668 134.099 11.14 133.079 11.14C132.071 11.14 131.387 11.668 131.387 12.52C131.387 13.372 132.071 13.984 133.079 13.984C134.099 13.984 134.771 13.384 134.771 12.52ZM142.785 19H141.369L139.053 11.68V19H137.709V10.3H139.905L142.077 17.404L144.249 10.3H146.445V19H145.101V11.68L142.785 19Z" fill="#6F92E8"/>
<path d="M63.2 17.716C63.536 17.716 63.812 17.476 63.812 17.056C63.812 16.6 63.496 16.396 63.192 16.396C62.908 16.396 62.712 16.548 62.648 16.708L62.244 16.684L62.436 15.1H64.132V15.48H62.776L62.68 16.256C62.828 16.124 63.04 16.056 63.292 16.056C63.796 16.056 64.248 16.4 64.248 17.052C64.248 17.708 63.752 18.052 63.196 18.052C62.528 18.052 62.196 17.616 62.152 17.136H62.568C62.616 17.488 62.804 17.716 63.2 17.716ZM65.5338 17.716C65.8978 17.716 66.1578 17.524 66.1578 17.188C66.1578 16.788 65.8218 16.66 65.3738 16.66H65.2738V16.296H65.3578C65.8418 16.296 66.0818 16.152 66.0818 15.832C66.0818 15.528 65.8378 15.38 65.5458 15.38C65.1778 15.38 64.9778 15.604 64.9338 15.94H64.5178C64.5618 15.408 64.9418 15.048 65.5658 15.048C66.0578 15.048 66.5178 15.252 66.5178 15.796C66.5178 16.088 66.3538 16.336 66.0658 16.46C66.4578 16.588 66.5938 16.884 66.5938 17.18C66.5938 17.768 66.0898 18.052 65.5258 18.052C64.8538 18.052 64.5098 17.62 64.4778 17.124H64.8938C64.9378 17.46 65.1378 17.716 65.5338 17.716ZM66.8787 18V17.5H67.3787V18.036L67.1187 18.592H66.8587L67.0987 18H66.8787ZM68.6972 17.716C69.0332 17.716 69.3092 17.476 69.3092 17.056C69.3092 16.6 68.9932 16.396 68.6892 16.396C68.4052 16.396 68.2092 16.548 68.1452 16.708L67.7412 16.684L67.9332 15.1H69.6292V15.48H68.2732L68.1772 16.256C68.3252 16.124 68.5372 16.056 68.7892 16.056C69.2932 16.056 69.7452 16.4 69.7452 17.052C69.7452 17.708 69.2492 18.052 68.6932 18.052C68.0252 18.052 67.6932 17.616 67.6492 17.136H68.0652C68.1132 17.488 68.3012 17.716 68.6972 17.716ZM70.527 17.072C70.527 17.468 70.771 17.716 71.127 17.716C71.479 17.716 71.731 17.46 71.731 17.072C71.731 16.68 71.483 16.416 71.131 16.416C70.775 16.416 70.527 16.68 70.527 17.072ZM71.163 15.38C70.743 15.38 70.499 15.804 70.487 16.44C70.619 16.232 70.855 16.068 71.219 16.068C71.755 16.068 72.167 16.464 72.167 17.056C72.167 17.616 71.755 18.052 71.131 18.052C70.395 18.052 70.059 17.516 70.059 16.644C70.059 15.812 70.359 15.048 71.203 15.048C71.787 15.048 72.063 15.42 72.115 15.8H71.679C71.635 15.528 71.439 15.38 71.163 15.38ZM74.0093 16.76C73.5733 16.76 73.3453 16.416 73.3453 15.916C73.3453 15.416 73.5733 15.072 74.0093 15.072C74.4573 15.072 74.6813 15.416 74.6813 15.916C74.6813 16.416 74.4573 16.76 74.0093 16.76ZM74.0093 16.524C74.2333 16.524 74.3533 16.316 74.3533 15.916C74.3533 15.516 74.2333 15.308 74.0093 15.308C73.7973 15.308 73.6733 15.516 73.6733 15.916C73.6733 16.316 73.7973 16.524 74.0093 16.524ZM74.4613 18H74.0093L76.0093 15.1H76.4613L74.4613 18ZM76.4693 18.028C76.0253 18.028 75.8013 17.684 75.8013 17.184C75.8013 16.684 76.0253 16.34 76.4693 16.34C76.9133 16.34 77.1373 16.684 77.1373 17.184C77.1373 17.684 76.9133 18.028 76.4693 18.028ZM76.4693 17.792C76.6893 17.792 76.8093 17.584 76.8093 17.184C76.8093 16.784 76.6893 16.576 76.4693 16.576C76.2493 16.576 76.1293 16.784 76.1293 17.184C76.1293 17.584 76.2493 17.792 76.4693 17.792Z" fill="#29B279"/>
<path d="M112.148 62.716C112.512 62.716 112.772 62.524 112.772 62.188C112.772 61.788 112.436 61.66 111.988 61.66H111.888V61.296H111.972C112.456 61.296 112.696 61.152 112.696 60.832C112.696 60.528 112.452 60.38 112.16 60.38C111.792 60.38 111.592 60.604 111.548 60.94H111.132C111.176 60.408 111.556 60.048 112.18 60.048C112.672 60.048 113.132 60.252 113.132 60.796C113.132 61.088 112.968 61.336 112.68 61.46C113.072 61.588 113.208 61.884 113.208 62.18C113.208 62.768 112.704 63.052 112.14 63.052C111.468 63.052 111.124 62.62 111.092 62.124H111.508C111.552 62.46 111.752 62.716 112.148 62.716ZM114.823 60.656L113.847 61.924H114.823V60.656ZM115.763 61.924V62.3H115.243V63H114.823V62.3H113.387V61.932L114.823 60.1H115.243V61.924H115.763ZM115.98 63V62.5H116.48V63.036L116.22 63.592H115.96L116.2 63H115.98ZM117.799 62.716C118.135 62.716 118.411 62.476 118.411 62.056C118.411 61.6 118.095 61.396 117.791 61.396C117.507 61.396 117.311 61.548 117.247 61.708L116.843 61.684L117.035 60.1H118.731V60.48H117.375L117.279 61.256C117.427 61.124 117.639 61.056 117.891 61.056C118.395 61.056 118.847 61.4 118.847 62.052C118.847 62.708 118.351 63.052 117.795 63.052C117.127 63.052 116.795 62.616 116.751 62.136H117.167C117.215 62.488 117.403 62.716 117.799 62.716ZM119.629 62.072C119.629 62.468 119.873 62.716 120.229 62.716C120.581 62.716 120.833 62.46 120.833 62.072C120.833 61.68 120.585 61.416 120.233 61.416C119.877 61.416 119.629 61.68 119.629 62.072ZM120.265 60.38C119.845 60.38 119.601 60.804 119.589 61.44C119.721 61.232 119.957 61.068 120.321 61.068C120.857 61.068 121.269 61.464 121.269 62.056C121.269 62.616 120.857 63.052 120.233 63.052C119.497 63.052 119.161 62.516 119.161 61.644C119.161 60.812 119.461 60.048 120.305 60.048C120.889 60.048 121.165 60.42 121.217 60.8H120.781C120.737 60.528 120.541 60.38 120.265 60.38ZM123.111 61.76C122.675 61.76 122.447 61.416 122.447 60.916C122.447 60.416 122.675 60.072 123.111 60.072C123.559 60.072 123.783 60.416 123.783 60.916C123.783 61.416 123.559 61.76 123.111 61.76ZM123.111 61.524C123.335 61.524 123.455 61.316 123.455 60.916C123.455 60.516 123.335 60.308 123.111 60.308C122.899 60.308 122.775 60.516 122.775 60.916C122.775 61.316 122.899 61.524 123.111 61.524ZM123.563 63H123.111L125.111 60.1H125.563L123.563 63ZM125.571 63.028C125.127 63.028 124.903 62.684 124.903 62.184C124.903 61.684 125.127 61.34 125.571 61.34C126.015 61.34 126.239 61.684 126.239 62.184C126.239 62.684 126.015 63.028 125.571 63.028ZM125.571 62.792C125.791 62.792 125.911 62.584 125.911 62.184C125.911 61.784 125.791 61.576 125.571 61.576C125.351 61.576 125.231 61.784 125.231 62.184C125.231 62.584 125.351 62.792 125.571 62.792Z" fill="#29B279"/>
<path d="M36.488 32.656L35.512 33.924H36.488V32.656ZM37.428 33.924V34.3H36.908V35H36.488V34.3H35.052V33.932L36.488 32.1H36.908V33.924H37.428ZM38.9363 32.656L37.9603 33.924H38.9363V32.656ZM39.8763 33.924V34.3H39.3563V35H38.9363V34.3H37.5003V33.932L38.9363 32.1H39.3563V33.924H39.8763ZM40.0935 35V34.5H40.5935V35.036L40.3335 35.592H40.0735L40.3135 35H40.0935ZM41.9069 34.716C42.3509 34.716 42.6069 34.328 42.6069 33.548C42.6069 32.776 42.3509 32.38 41.9069 32.38C41.4709 32.38 41.2069 32.776 41.2069 33.548C41.2069 34.328 41.4709 34.716 41.9069 34.716ZM41.9069 35.052C41.1349 35.052 40.7669 34.456 40.7669 33.548C40.7669 32.644 41.1349 32.048 41.9069 32.048C42.6829 32.048 43.0469 32.644 43.0469 33.548C43.0469 34.456 42.6829 35.052 41.9069 35.052ZM43.8317 34.072C43.8317 34.468 44.0757 34.716 44.4317 34.716C44.7837 34.716 45.0357 34.46 45.0357 34.072C45.0357 33.68 44.7877 33.416 44.4357 33.416C44.0797 33.416 43.8317 33.68 43.8317 34.072ZM44.4677 32.38C44.0477 32.38 43.8037 32.804 43.7917 33.44C43.9237 33.232 44.1597 33.068 44.5237 33.068C45.0597 33.068 45.4717 33.464 45.4717 34.056C45.4717 34.616 45.0597 35.052 44.4357 35.052C43.6997 35.052 43.3637 34.516 43.3637 33.644C43.3637 32.812 43.6637 32.048 44.5077 32.048C45.0917 32.048 45.3677 32.42 45.4197 32.8H44.9837C44.9397 32.528 44.7437 32.38 44.4677 32.38ZM47.314 33.76C46.878 33.76 46.65 33.416 46.65 32.916C46.65 32.416 46.878 32.072 47.314 32.072C47.762 32.072 47.986 32.416 47.986 32.916C47.986 33.416 47.762 33.76 47.314 33.76ZM47.314 33.524C47.538 33.524 47.658 33.316 47.658 32.916C47.658 32.516 47.538 32.308 47.314 32.308C47.102 32.308 46.978 32.516 46.978 32.916C46.978 33.316 47.102 33.524 47.314 33.524ZM47.766 35H47.314L49.314 32.1H49.766L47.766 35ZM49.774 35.028C49.33 35.028 49.106 34.684 49.106 34.184C49.106 33.684 49.33 33.34 49.774 33.34C50.218 33.34 50.442 33.684 50.442 34.184C50.442 34.684 50.218 35.028 49.774 35.028ZM49.774 34.792C49.994 34.792 50.114 34.584 50.114 34.184C50.114 33.784 49.994 33.576 49.774 33.576C49.554 33.576 49.434 33.784 49.434 34.184C49.434 34.584 49.554 34.792 49.774 34.792Z" fill="#29B279"/>
<path d="M12.084 75L11.464 73.776C11.404 73.78 11.34 73.78 11.276 73.78H10.776V75H10.32V72.1H11.24C12.02 72.1 12.488 72.264 12.488 72.936C12.488 73.352 12.292 73.588 11.928 73.7L12.596 75H12.084ZM11.292 72.476H10.776V73.408H11.3C11.728 73.408 12.02 73.344 12.02 72.944C12.02 72.528 11.704 72.476 11.292 72.476ZM12.7139 75L13.7899 72.1H14.2939L15.3859 75H14.8899L14.6619 74.364H13.4019L13.1779 75H12.7139ZM14.0259 72.596L13.5379 73.98H14.5219L14.0259 72.596ZM15.9967 75V72.488H15.0647V72.1H17.3807V72.488H16.4527V75H15.9967ZM17.6688 75V72.1H19.6768V72.488H18.1248V73.316H19.5888V73.7H18.1248V74.612H19.6768V75H17.6688Z" fill="#6F92E8"/>
<path d="M11.488 26.656L10.512 27.924H11.488V26.656ZM12.428 27.924V28.3H11.908V29H11.488V28.3H10.052V27.932L11.488 26.1H11.908V27.924H12.428ZM13.5963 28.716C13.9603 28.716 14.2203 28.524 14.2203 28.188C14.2203 27.788 13.8843 27.66 13.4363 27.66H13.3363V27.296H13.4203C13.9043 27.296 14.1443 27.152 14.1443 26.832C14.1443 26.528 13.9003 26.38 13.6083 26.38C13.2403 26.38 13.0403 26.604 12.9963 26.94H12.5803C12.6243 26.408 13.0043 26.048 13.6283 26.048C14.1203 26.048 14.5803 26.252 14.5803 26.796C14.5803 27.088 14.4163 27.336 14.1283 27.46C14.5203 27.588 14.6563 27.884 14.6563 28.18C14.6563 28.768 14.1523 29.052 13.5883 29.052C12.9163 29.052 12.5723 28.62 12.5403 28.124H12.9563C13.0003 28.46 13.2003 28.716 13.5963 28.716ZM16.0993 28.716C16.5433 28.716 16.7993 28.328 16.7993 27.548C16.7993 26.776 16.5433 26.38 16.0993 26.38C15.6633 26.38 15.3993 26.776 15.3993 27.548C15.3993 28.328 15.6633 28.716 16.0993 28.716ZM16.0993 29.052C15.3273 29.052 14.9593 28.456 14.9593 27.548C14.9593 26.644 15.3273 26.048 16.0993 26.048C16.8753 26.048 17.2393 26.644 17.2393 27.548C17.2393 28.456 16.8753 29.052 16.0993 29.052Z" fill="#6F92E8"/>
<path d="M11.488 37.656L10.512 38.924H11.488V37.656ZM12.428 38.924V39.3H11.908V40H11.488V39.3H10.052V38.932L11.488 37.1H11.908V38.924H12.428ZM13.6483 37.048C14.1843 37.048 14.5803 37.32 14.5803 37.812C14.5803 38.448 13.9403 39.028 13.0963 39.624H14.6563V40H12.5563V39.64C13.5523 38.88 14.1443 38.36 14.1443 37.856C14.1443 37.564 13.9523 37.38 13.6363 37.38C13.3403 37.38 13.0523 37.548 13.0523 38.016H12.6283C12.6163 37.436 13.0283 37.048 13.6483 37.048ZM16.0563 39.716C16.5003 39.716 16.7563 39.328 16.7563 38.548C16.7563 37.776 16.5003 37.38 16.0563 37.38C15.6203 37.38 15.3563 37.776 15.3563 38.548C15.3563 39.328 15.6203 39.716 16.0563 39.716ZM16.0563 40.052C15.2843 40.052 14.9163 39.456 14.9163 38.548C14.9163 37.644 15.2843 37.048 16.0563 37.048C16.8323 37.048 17.1963 37.644 17.1963 38.548C17.1963 39.456 16.8323 40.052 16.0563 40.052Z" fill="#6F92E8"/>
<path d="M11.488 48.656L10.512 49.924H11.488V48.656ZM12.428 49.924V50.3H11.908V51H11.488V50.3H10.052V49.932L11.488 48.1H11.908V49.924H12.428ZM13.5523 51H13.1323V48.76H12.4723V48.476C12.8843 48.464 13.1083 48.412 13.2523 48.1H13.5523V51ZM15.1735 50.716C15.6175 50.716 15.8735 50.328 15.8735 49.548C15.8735 48.776 15.6175 48.38 15.1735 48.38C14.7375 48.38 14.4735 48.776 14.4735 49.548C14.4735 50.328 14.7375 50.716 15.1735 50.716ZM15.1735 51.052C14.4015 51.052 14.0335 50.456 14.0335 49.548C14.0335 48.644 14.4015 48.048 15.1735 48.048C15.9495 48.048 16.3135 48.644 16.3135 49.548C16.3135 50.456 15.9495 51.052 15.1735 51.052Z" fill="#6F92E8"/>
<path d="M11.488 59.656L10.512 60.924H11.488V59.656ZM12.428 60.924V61.3H11.908V62H11.488V61.3H10.052V60.932L11.488 59.1H11.908V60.924H12.428ZM13.7643 61.716C14.2083 61.716 14.4643 61.328 14.4643 60.548C14.4643 59.776 14.2083 59.38 13.7643 59.38C13.3283 59.38 13.0643 59.776 13.0643 60.548C13.0643 61.328 13.3283 61.716 13.7643 61.716ZM13.7643 62.052C12.9923 62.052 12.6243 61.456 12.6243 60.548C12.6243 59.644 12.9923 59.048 13.7643 59.048C14.5403 59.048 14.9043 59.644 14.9043 60.548C14.9043 61.456 14.5403 62.052 13.7643 62.052ZM16.361 61.716C16.805 61.716 17.061 61.328 17.061 60.548C17.061 59.776 16.805 59.38 16.361 59.38C15.925 59.38 15.661 59.776 15.661 60.548C15.661 61.328 15.925 61.716 16.361 61.716ZM16.361 62.052C15.589 62.052 15.221 61.456 15.221 60.548C15.221 59.644 15.589 59.048 16.361 59.048C17.137 59.048 17.501 59.644 17.501 60.548C17.501 61.456 17.137 62.052 16.361 62.052Z" fill="#6F92E8"/>
<path d="M42.148 74.716C42.512 74.716 42.772 74.524 42.772 74.188C42.772 73.788 42.436 73.66 41.988 73.66H41.888V73.296H41.972C42.456 73.296 42.696 73.152 42.696 72.832C42.696 72.528 42.452 72.38 42.16 72.38C41.792 72.38 41.592 72.604 41.548 72.94H41.132C41.176 72.408 41.556 72.048 42.18 72.048C42.672 72.048 43.132 72.252 43.132 72.796C43.132 73.088 42.968 73.336 42.68 73.46C43.072 73.588 43.208 73.884 43.208 74.18C43.208 74.768 42.704 75.052 42.14 75.052C41.468 75.052 41.124 74.62 41.092 74.124H41.508C41.552 74.46 41.752 74.716 42.148 74.716ZM45.123 73.028C45.123 72.632 44.883 72.38 44.527 72.38C44.171 72.38 43.923 72.632 43.923 73.028C43.923 73.42 44.171 73.684 44.523 73.684C44.875 73.684 45.123 73.42 45.123 73.028ZM44.491 74.716C44.915 74.716 45.147 74.296 45.167 73.66C45.035 73.868 44.791 74.032 44.435 74.032C43.899 74.032 43.487 73.632 43.487 73.04C43.487 72.48 43.899 72.048 44.523 72.048C45.259 72.048 45.595 72.584 45.595 73.456C45.595 74.288 45.295 75.052 44.451 75.052C43.871 75.052 43.583 74.68 43.539 74.3H43.975C44.019 74.572 44.207 74.716 44.491 74.716Z" fill="#6F92E8"/>
<path d="M32.148 74.716C32.512 74.716 32.772 74.524 32.772 74.188C32.772 73.788 32.436 73.66 31.988 73.66H31.888V73.296H31.972C32.456 73.296 32.696 73.152 32.696 72.832C32.696 72.528 32.452 72.38 32.16 72.38C31.792 72.38 31.592 72.604 31.548 72.94H31.132C31.176 72.408 31.556 72.048 32.18 72.048C32.672 72.048 33.132 72.252 33.132 72.796C33.132 73.088 32.968 73.336 32.68 73.46C33.072 73.588 33.208 73.884 33.208 74.18C33.208 74.768 32.704 75.052 32.14 75.052C31.468 75.052 31.124 74.62 31.092 74.124H31.508C31.552 74.46 31.752 74.716 32.148 74.716ZM34.591 72.048C35.191 72.048 35.571 72.36 35.571 72.788C35.571 73.036 35.459 73.3 35.187 73.456C35.547 73.616 35.659 73.912 35.659 74.18C35.659 74.74 35.195 75.052 34.591 75.052C33.987 75.052 33.523 74.74 33.523 74.18C33.523 73.912 33.639 73.616 33.999 73.456C33.727 73.3 33.615 73.032 33.615 72.788C33.615 72.36 33.991 72.048 34.591 72.048ZM34.591 73.62C34.207 73.62 33.963 73.836 33.963 74.172C33.963 74.508 34.207 74.716 34.591 74.716C34.975 74.716 35.223 74.508 35.223 74.172C35.223 73.836 34.975 73.62 34.591 73.62ZM35.155 72.84C35.155 72.556 34.931 72.38 34.591 72.38C34.255 72.38 34.027 72.556 34.027 72.84C34.027 73.124 34.255 73.328 34.591 73.328C34.931 73.328 35.155 73.128 35.155 72.84Z" fill="#6F92E8"/>
<path d="M53.488 72.656L52.512 73.924H53.488V72.656ZM54.428 73.924V74.3H53.908V75H53.488V74.3H52.052V73.932L53.488 72.1H53.908V73.924H54.428ZM55.7643 74.716C56.2083 74.716 56.4643 74.328 56.4643 73.548C56.4643 72.776 56.2083 72.38 55.7643 72.38C55.3283 72.38 55.0643 72.776 55.0643 73.548C55.0643 74.328 55.3283 74.716 55.7643 74.716ZM55.7643 75.052C54.9923 75.052 54.6243 74.456 54.6243 73.548C54.6243 72.644 54.9923 72.048 55.7643 72.048C56.5403 72.048 56.9043 72.644 56.9043 73.548C56.9043 74.456 56.5403 75.052 55.7643 75.052Z" fill="#6F92E8"/>
<path d="M64.488 72.656L63.512 73.924H64.488V72.656ZM65.428 73.924V74.3H64.908V75H64.488V74.3H63.052V73.932L64.488 72.1H64.908V73.924H65.428ZM66.5523 75H66.1323V72.76H65.4723V72.476C65.8843 72.464 66.1083 72.412 66.2523 72.1H66.5523V75Z" fill="#6F92E8"/>
<path d="M75.488 72.656L74.512 73.924H75.488V72.656ZM76.428 73.924V74.3H75.908V75H75.488V74.3H74.052V73.932L75.488 72.1H75.908V73.924H76.428ZM77.6483 72.048C78.1843 72.048 78.5803 72.32 78.5803 72.812C78.5803 73.448 77.9403 74.028 77.0963 74.624H78.6563V75H76.5563V74.64C77.5523 73.88 78.1443 73.36 78.1443 72.856C78.1443 72.564 77.9523 72.38 77.6363 72.38C77.3403 72.38 77.0523 72.548 77.0523 73.016H76.6283C76.6163 72.436 77.0283 72.048 77.6483 72.048Z" fill="#6F92E8"/>
<path d="M85.488 72.656L84.512 73.924H85.488V72.656ZM86.428 73.924V74.3H85.908V75H85.488V74.3H84.052V73.932L85.488 72.1H85.908V73.924H86.428ZM87.5963 74.716C87.9603 74.716 88.2203 74.524 88.2203 74.188C88.2203 73.788 87.8843 73.66 87.4363 73.66H87.3363V73.296H87.4203C87.9043 73.296 88.1443 73.152 88.1443 72.832C88.1443 72.528 87.9003 72.38 87.6083 72.38C87.2403 72.38 87.0403 72.604 86.9963 72.94H86.5803C86.6243 72.408 87.0043 72.048 87.6283 72.048C88.1203 72.048 88.5803 72.252 88.5803 72.796C88.5803 73.088 88.4163 73.336 88.1283 73.46C88.5203 73.588 88.6563 73.884 88.6563 74.18C88.6563 74.768 88.1523 75.052 87.5883 75.052C86.9163 75.052 86.5723 74.62 86.5403 74.124H86.9563C87.0003 74.46 87.2003 74.716 87.5963 74.716Z" fill="#6F92E8"/>
<path d="M97.488 72.656L96.512 73.924H97.488V72.656ZM98.428 73.924V74.3H97.908V75H97.488V74.3H96.052V73.932L97.488 72.1H97.908V73.924H98.428ZM99.9363 72.656L98.9603 73.924H99.9363V72.656ZM100.876 73.924V74.3H100.356V75H99.9363V74.3H98.5003V73.932L99.9363 72.1H100.356V73.924H100.876Z" fill="#6F92E8"/>
<path d="M109.488 72.656L108.512 73.924H109.488V72.656ZM110.428 73.924V74.3H109.908V75H109.488V74.3H108.052V73.932L109.488 72.1H109.908V73.924H110.428ZM111.648 74.716C111.984 74.716 112.26 74.476 112.26 74.056C112.26 73.6 111.944 73.396 111.64 73.396C111.356 73.396 111.16 73.548 111.096 73.708L110.692 73.684L110.884 72.1H112.58V72.48H111.224L111.128 73.256C111.276 73.124 111.488 73.056 111.74 73.056C112.244 73.056 112.696 73.4 112.696 74.052C112.696 74.708 112.2 75.052 111.644 75.052C110.976 75.052 110.644 74.616 110.6 74.136H111.016C111.064 74.488 111.252 74.716 111.648 74.716Z" fill="#6F92E8"/>
<path d="M120.488 72.656L119.512 73.924H120.488V72.656ZM121.428 73.924V74.3H120.908V75H120.488V74.3H119.052V73.932L120.488 72.1H120.908V73.924H121.428ZM122.092 74.072C122.092 74.468 122.336 74.716 122.692 74.716C123.044 74.716 123.296 74.46 123.296 74.072C123.296 73.68 123.048 73.416 122.696 73.416C122.34 73.416 122.092 73.68 122.092 74.072ZM122.728 72.38C122.308 72.38 122.064 72.804 122.052 73.44C122.184 73.232 122.42 73.068 122.784 73.068C123.32 73.068 123.732 73.464 123.732 74.056C123.732 74.616 123.32 75.052 122.696 75.052C121.96 75.052 121.624 74.516 121.624 73.644C121.624 72.812 121.924 72.048 122.768 72.048C123.352 72.048 123.628 72.42 123.68 72.8H123.244C123.2 72.528 123.004 72.38 122.728 72.38Z" fill="#6F92E8"/>
<path d="M131.488 72.656L130.512 73.924H131.488V72.656ZM132.428 73.924V74.3H131.908V75H131.488V74.3H130.052V73.932L131.488 72.1H131.908V73.924H132.428ZM132.464 72.48V72.1H134.508V72.48C133.784 73.116 133.36 73.924 133.296 75H132.808C132.86 73.972 133.348 73.096 134.048 72.48H132.464Z" fill="#6F92E8"/>
<circle cx="102" cy="23" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="105" cy="25" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="91" cy="21" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="82" cy="29" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="89" cy="34" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="91" cy="28" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="87" cy="21" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="93" cy="28" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="96" cy="25" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="96" cy="19" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="109" cy="19" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="106" cy="32" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="85" cy="45" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="72" cy="48" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="60" cy="55" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="65" cy="42" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="73" cy="42" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="75" cy="35" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="84" cy="39" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="99" cy="39" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="105" cy="34" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="101" cy="49" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="93" cy="48" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="93" cy="41" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="93" cy="33" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="82" cy="53" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="74" cy="58" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="68" cy="50" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="58" cy="60" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="51" cy="59" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="56" cy="54" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="69" cy="60" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="77" cy="62" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="85" cy="56" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="80" cy="46" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="76" cy="38" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="70" cy="38" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="70" cy="48" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="66" cy="46" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="89" cy="47" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="104" cy="43" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="105" cy="38" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="101" cy="34" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="107" cy="26" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="105" cy="19" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="100" cy="19" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="100" cy="25" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="90" cy="24" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="83" cy="24" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="86" cy="34" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="78" cy="32" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="88" cy="40" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="87" cy="36" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="92" cy="40" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="89" cy="37" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="92" cy="38" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="81" cy="44" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="81" cy="37" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="85" cy="41" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="88" cy="44" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="91" cy="43" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="96" cy="48" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="104" cy="47" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="102" cy="43" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="107" cy="40" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="111" cy="35" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="110" cy="41" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="108" cy="38" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="108" cy="34" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="110" cy="38" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="103" cy="42" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="107" cy="49" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="101" cy="49" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="98" cy="41" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="98" cy="33" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="101" cy="35" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="101" cy="29" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="104" cy="30" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="99" cy="32" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="108" cy="37" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="108" cy="30" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="106" cy="25" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="102" cy="25" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="101" cy="21" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="96" cy="24" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="100" cy="29" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="94" cy="29" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="97" cy="27" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="89" cy="27" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="104" cy="29" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="96" cy="31" r="0.9" stroke="white" stroke-width="0.2"/>
<circle cx="102" cy="38" r="0.9" stroke="#477CD2" stroke-width="0.2"/>
<circle cx="49.5" cy="26.5" r="1" fill="white" stroke="#6F92E8"/>
<circle cx="101.5" cy="57.5" r="1" fill="white" stroke="#6F92E8"/>
<circle cx="1.5" cy="1.5" r="1" transform="matrix(-1 0 0 1 51 44)" fill="white" stroke="#6F92E8"/>
</svg>
