<svg width="158" height="86" viewBox="0 0 158 86" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<rect width="158" height="86" rx="10" fill="url(#pattern0_1024_2115)"/>
<rect width="158" height="86" rx="10" fill="white"/>
<rect x="41.1699" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="61.6755" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="83.3936" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="83.3936" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="125.616" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="59.3298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="41.1699" y="29.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="45.8613" y="29.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="83.3936" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="83.3936" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="83.3936" y="59.3298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="125.616" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="83.3936" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="83.3936" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="83.3936" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="125.616" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="125.616" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="41.1699" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="83.3936" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="83.3936" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="83.3936" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="125.616" y="20.234" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="55.2441" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="97.4668" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="97.4668" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="55.2441" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="97.4668" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="97.4668" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="97.4668" y="59.3298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="139.691" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="55.2441" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="55.3086" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="97.4668" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="97.4668" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="97.4668" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27" y="25" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="34" y="16" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="139.691" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="139.691" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="55.2441" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="20.4574" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="97.4668" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="97.4668" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="97.4668" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="139.691" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="139.691" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="45.8613" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="45.8613" y="61.6755" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="45.8613" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="88.085" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="88.085" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="88.085" y="61.6755" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="45.8613" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="45.8613" y="59.3298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="45.8613" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="88.085" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="88.085" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="88.085" y="59.3298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="130.309" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="130.309" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="45.8613" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="50.5527" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="45.8613" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="88.085" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="88.085" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="130.309" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="135" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="130.309" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="45.8613" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="50.5527" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="45.8613" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="88.085" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="88.085" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="130.309" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="130.309" y="20.234" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="130.309" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="102.159" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="102.159" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="102.159" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="102.159" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="102.159" y="59.3298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="106.851" y="59.3298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="17.7119" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22" y="43" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="102.159" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="59.9355" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="20.4574" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="18" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="102.159" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="50.5527" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="50.5527" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="50.5527" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="50.5527" y="61.6755" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="50.5527" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="92.7754" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="92.7754" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="135" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="50.5527" y="41.5691" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="50.5527" y="55.3086" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="50.5527" y="27.8298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="92.7754" y="27.8298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="92.7754" y="41.5691" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="92.7754" y="55.3086" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="135" y="41.5691" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="41.1699" y="55.3086" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="83.3936" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="125.616" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="45.8613" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="45.8613" y="55.3086" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="88.085" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="88.085" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="88.085" y="55.3086" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="130.309" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="130.309" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="50.5527" y="44.0266" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="50.5527" y="30.2871" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="92.7754" y="30.2871" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="92.7754" y="44.0266" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="135" y="30.2871" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="55.2441" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="55.2441" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="97.4668" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="97.4668" y="55.3086" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="97.4668" y="61.7871" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="59.9355" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="102.159" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="102.159" y="55.3086" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="106.851" y="61.7871" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="106.851" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="106.851" y="55.3086" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22.4033" y="55.3086" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="69.3184" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="69.3184" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="111.542" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="106.851" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="111.542" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27.0947" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="74.0107" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="74.0107" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="116.233" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="116.233" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="31.7861" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="78.7021" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="78.7021" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="120.925" y="27.8298" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="120.925" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="36.4775" y="55.3086" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="36.4775" y="41.5691" width="4.46809" height="3.79787" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="64.627" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="106.851" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="106.851" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22.4033" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22.4033" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="69.3184" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="69.3184" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="111.542" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="111.542" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27.0947" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27.0947" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="74.0107" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="116.233" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="116.233" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="31.7861" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="31.7861" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="78.7021" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="78.7021" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="120.925" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="36.4775" y="47.9362" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="36.4775" y="34.1968" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="106.851" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="106.851" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22.4033" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22.4033" y="29.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="19" y="27" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="69.3184" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="69.3184" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="111.542" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="111.542" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27.0947" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="27.0947" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27.0947" y="29.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="74.0107" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="74.0107" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="116.233" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="116.233" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="31.7861" y="59.3298" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="31.7861" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="31.7861" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="78.7021" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="120.925" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="120.925" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="36.4775" y="45.5903" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="36.4775" y="31.8511" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="106.851" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="106.851" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22.4033" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22.4033" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="69.3184" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="111.542" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="111.542" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="111.542" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27.0947" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27.0947" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="74.0107" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="74.0107" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="116.233" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="116.233" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="116.233" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="31.7861" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="31.7861" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="78.7021" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="78.7021" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="78.7021" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="120.925" y="25.3723" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="120.925" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="36.4775" y="52.851" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="36.4775" y="39.1117" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="64.627" y="20.4574" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="106.851" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="106.851" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="22.4033" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="69.3184" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="111.542" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="111.542" y="20.4574" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="111.542" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="111.542" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="27.0947" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="27.0947" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="74.0107" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="74.0107" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="116.233" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="116.233" y="20.4574" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="116.233" y="18" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="116.233" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="116.233" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="31.7861" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="31.7861" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<rect x="78.7021" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="120.925" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="78.7021" y="22.9149" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="120.925" y="20.4574" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="120.925" y="18" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="120.925" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="36.4775" y="50.3937" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.2"/>
<rect x="36.4775" y="36.6542" width="4.46809" height="2.23404" fill="#6F92E8" fill-opacity="0.6"/>
<path d="M13.5 33C26.3457 35.8484 26.4032 43.8256 37.2606 43.4681C48.0957 41.7367 58.9867 29.9521 70.9947 29.9521C79.1489 29.9521 89.1128 43.4681 97.2447 43.4681C104.449 43.4681 123.193 29.9521 127.125 29.9521C131.057 29.9521 136.247 31.9256 138.351 32.9123" stroke="#6F92E8" stroke-width="0.8"/>
<rect x="60.2" y="12.2" width="28.6" height="47.6" stroke="#6F92E8" stroke-width="0.4"/>
<path d="M69.7247 12.1026V59.8974M79.1888 12.1026V59.8974M60.1738 43.7949H88.9133M60.1738 27.8974H88.9133" stroke="#6F92E8" stroke-width="0.4" stroke-dasharray="0.3 0.3"/>
<circle cx="26.9775" cy="40" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="35.4668" cy="43.5745" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="47.8662" cy="39.7766" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="57.4727" cy="34.3032" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="66.6328" cy="30.5054" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="76.0156" cy="31.399" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="85.0635" cy="37.4309" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="92.7705" cy="42.3458" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="103" cy="42" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="113" cy="37" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="120" cy="33" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<circle cx="132.983" cy="30.9521" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<path d="M11.104 30H10.684V27.76H10.024V27.476C10.436 27.464 10.66 27.412 10.804 27.1H11.104V30ZM12.6052 29.716C13.0492 29.716 13.3052 29.328 13.3052 28.548C13.3052 27.776 13.0492 27.38 12.6052 27.38C12.1692 27.38 11.9052 27.776 11.9052 28.548C11.9052 29.328 12.1692 29.716 12.6052 29.716ZM12.6052 30.052C11.8332 30.052 11.4652 29.456 11.4652 28.548C11.4652 27.644 11.8332 27.048 12.6052 27.048C13.3812 27.048 13.7452 27.644 13.7452 28.548C13.7452 29.456 13.3812 30.052 12.6052 30.052ZM15.0819 29.716C15.5259 29.716 15.7819 29.328 15.7819 28.548C15.7819 27.776 15.5259 27.38 15.0819 27.38C14.6459 27.38 14.3819 27.776 14.3819 28.548C14.3819 29.328 14.6459 29.716 15.0819 29.716ZM15.0819 30.052C14.3099 30.052 13.9419 29.456 13.9419 28.548C13.9419 27.644 14.3099 27.048 15.0819 27.048C15.8579 27.048 16.2219 27.644 16.2219 28.548C16.2219 29.456 15.8579 30.052 15.0819 30.052ZM16.3147 27.652C16.3147 27.316 16.5867 27.048 16.9147 27.048C17.2507 27.048 17.5227 27.316 17.5227 27.652C17.5227 27.984 17.2507 28.256 16.9147 28.256C16.5867 28.256 16.3147 27.984 16.3147 27.652ZM16.6227 27.652C16.6227 27.824 16.7427 27.968 16.9147 27.968C17.0907 27.968 17.2187 27.824 17.2187 27.652C17.2187 27.476 17.0907 27.336 16.9147 27.336C16.7427 27.336 16.6227 27.476 16.6227 27.652Z" fill="#6F92E8"/>
<path d="M12.328 12.3V16.56L16.144 12.3H17.8L14.56 15.852L18.136 21H16.516L13.648 16.848L12.328 18.3V21H10.96V12.3H12.328ZM18.5191 12.3H21.3151C23.3311 12.3 24.9631 12.696 24.9631 14.976C24.9631 17.148 23.4151 17.628 21.3151 17.628H19.8871V21H18.5191V12.3ZM21.3631 13.428H19.8871V16.476H21.3991C22.5991 16.476 23.5471 16.332 23.5471 14.988C23.5471 13.572 22.5511 13.428 21.3631 13.428ZM27.0125 12.3V21H25.6445V12.3H27.0125Z" fill="#6F92E8"/>
<path d="M11.2 47.716C11.536 47.716 11.812 47.476 11.812 47.056C11.812 46.6 11.496 46.396 11.192 46.396C10.908 46.396 10.712 46.548 10.648 46.708L10.244 46.684L10.436 45.1H12.132V45.48H10.776L10.68 46.256C10.828 46.124 11.04 46.056 11.292 46.056C11.796 46.056 12.248 46.4 12.248 47.052C12.248 47.708 11.752 48.052 11.196 48.052C10.528 48.052 10.196 47.616 10.152 47.136H10.568C10.616 47.488 10.804 47.716 11.2 47.716ZM13.5818 47.716C14.0258 47.716 14.2818 47.328 14.2818 46.548C14.2818 45.776 14.0258 45.38 13.5818 45.38C13.1458 45.38 12.8818 45.776 12.8818 46.548C12.8818 47.328 13.1458 47.716 13.5818 47.716ZM13.5818 48.052C12.8098 48.052 12.4418 47.456 12.4418 46.548C12.4418 45.644 12.8098 45.048 13.5818 45.048C14.3578 45.048 14.7218 45.644 14.7218 46.548C14.7218 47.456 14.3578 48.052 13.5818 48.052ZM14.8145 45.652C14.8145 45.316 15.0865 45.048 15.4145 45.048C15.7505 45.048 16.0225 45.316 16.0225 45.652C16.0225 45.984 15.7505 46.256 15.4145 46.256C15.0865 46.256 14.8145 45.984 14.8145 45.652ZM15.1225 45.652C15.1225 45.824 15.2425 45.968 15.4145 45.968C15.5905 45.968 15.7185 45.824 15.7185 45.652C15.7185 45.476 15.5905 45.336 15.4145 45.336C15.2425 45.336 15.1225 45.476 15.1225 45.652Z" fill="#6F92E8"/>
<path d="M11.2 65.048C11.736 65.048 12.132 65.32 12.132 65.812C12.132 66.448 11.492 67.028 10.648 67.624H12.208V68H10.108V67.64C11.104 66.88 11.696 66.36 11.696 65.856C11.696 65.564 11.504 65.38 11.188 65.38C10.892 65.38 10.604 65.548 10.604 66.016H10.18C10.168 65.436 10.58 65.048 11.2 65.048ZM13.372 67.716C13.708 67.716 13.984 67.476 13.984 67.056C13.984 66.6 13.668 66.396 13.364 66.396C13.08 66.396 12.884 66.548 12.82 66.708L12.416 66.684L12.608 65.1H14.304V65.48H12.948L12.852 66.256C13 66.124 13.212 66.056 13.464 66.056C13.968 66.056 14.42 66.4 14.42 67.052C14.42 67.708 13.924 68.052 13.368 68.052C12.7 68.052 12.368 67.616 12.324 67.136H12.74C12.788 67.488 12.976 67.716 13.372 67.716ZM14.5098 65.652C14.5098 65.316 14.7818 65.048 15.1098 65.048C15.4458 65.048 15.7178 65.316 15.7178 65.652C15.7178 65.984 15.4458 66.256 15.1098 66.256C14.7818 66.256 14.5098 65.984 14.5098 65.652ZM14.8178 65.652C14.8178 65.824 14.9378 65.968 15.1098 65.968C15.2858 65.968 15.4138 65.824 15.4138 65.652C15.4138 65.476 15.2858 65.336 15.1098 65.336C14.9378 65.336 14.8178 65.476 14.8178 65.652Z" fill="#6F92E8"/>
<path d="M63.088 73.1L63.624 75.444L64.112 73.1H64.592L63.892 76H63.344L62.82 73.692L62.304 76H61.756L61.044 73.1H61.544L62.056 75.444L62.556 73.1H63.088Z" fill="#6F92E8"/>
<path d="M110.088 73.1L110.624 75.444L111.112 73.1H111.592L110.892 76H110.344L109.82 73.692L109.304 76H108.756L108.044 73.1H108.544L109.056 75.444L109.556 73.1H110.088Z" fill="#6F92E8"/>
<path d="M28.012 76H27.54L26.768 73.56V76H26.32V73.1H27.052L27.776 75.468L28.5 73.1H29.232V76H28.784V73.56L28.012 76Z" fill="#6F92E8"/>
<path d="M75.012 76H74.54L73.768 73.56V76H73.32V73.1H74.052L74.776 75.468L75.5 73.1H76.232V76H75.784V73.56L75.012 76Z" fill="#6F92E8"/>
<path d="M122.012 76H121.54L120.768 73.56V76H120.32V73.1H121.052L121.776 75.468L122.5 73.1H123.232V76H122.784V73.56L122.012 76Z" fill="#6F92E8"/>
<path d="M37.992 73.1H38.5L39.26 74.46L40.036 73.1H40.54L39.476 74.876V76H39.02V74.868L37.992 73.1Z" fill="#6F92E8"/>
<path d="M84.992 73.1H85.5L86.26 74.46L87.036 73.1H87.54L86.476 74.876V76H86.02V74.868L84.992 73.1Z" fill="#6F92E8"/>
<path d="M131.992 73.1H132.5L133.26 74.46L134.036 73.1H134.54L133.476 74.876V76H133.02V74.868L131.992 73.1Z" fill="#6F92E8"/>
<path d="M51.932 74.548C51.932 75 51.792 75.38 51.548 75.648L51.888 76.02L51.612 76.276L51.252 75.884C51.056 75.992 50.824 76.052 50.564 76.052C49.72 76.052 49.192 75.432 49.192 74.548C49.192 73.664 49.72 73.048 50.564 73.048C51.404 73.048 51.932 73.664 51.932 74.548ZM49.66 74.548C49.66 75.272 50.056 75.672 50.564 75.672C50.708 75.672 50.844 75.64 50.968 75.572L50.716 75.296L50.992 75.04L51.248 75.324C51.388 75.136 51.464 74.88 51.464 74.548C51.464 73.82 51.064 73.428 50.564 73.428C50.056 73.428 49.66 73.82 49.66 74.548Z" fill="#6F92E8"/>
<path d="M98.932 74.548C98.932 75 98.792 75.38 98.548 75.648L98.888 76.02L98.612 76.276L98.252 75.884C98.056 75.992 97.824 76.052 97.564 76.052C96.72 76.052 96.192 75.432 96.192 74.548C96.192 73.664 96.72 73.048 97.564 73.048C98.404 73.048 98.932 73.664 98.932 74.548ZM96.66 74.548C96.66 75.272 97.056 75.672 97.564 75.672C97.708 75.672 97.844 75.64 97.968 75.572L97.716 75.296L97.992 75.04L98.248 75.324C98.388 75.136 98.464 74.88 98.464 74.548C98.464 73.82 98.064 73.428 97.564 73.428C97.056 73.428 96.66 73.82 96.66 74.548Z" fill="#6F92E8"/>
<path d="M19 69L137 69" stroke="#6F92E8" stroke-width="0.4" stroke-dasharray="0.8 0.8"/>
<path d="M19 69L19 24" stroke="#6F92E8" stroke-width="0.4" stroke-dasharray="0.8 0.8"/>
<circle cx="19" cy="35" r="0.7" fill="white" stroke="#6F92E8" stroke-width="0.6"/>
<defs>
<pattern id="pattern0_1024_2115" patternContentUnits="objectBoundingBox" width="1" height="1">
</pattern>
</defs>
</svg>
