svg(viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect.fill_white(x="30.8296" y="11.5145" width="27.4293" height="3.42866" transform="rotate(135 30.8296 11.5145)")
    rect.fill_white(x="11.5949" y="9.09001" width="27.4293" height="3.42866" transform="rotate(45 11.5949 9.09001)")
