doctype html
html(lang="ru")
    head
        title КСЛ
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" href="./style.css")
        script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js")
        script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js")
        script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js")
        script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/TextPlugin.min.js")
    body
        .bg
            include ./layout/banner
            script.
                gsap.registerPlugin(ScrollTrigger, ScrollSmoother, TextPlugin)
            include ./layout/second
        //include ./layout/work
        //include ./layout/methodic
        //include ./layout/effect
        //include ./layout/profit
        //include ./layout/ksl
        //include ./layout/partners
        //include ./layout/faq
        //include ./layout/footer