@font-face {
  font-family: "Suisse Intl";
  src: url("./fonts/web/SuisseIntl-Black-WebM.eot") format("embedded-opentype"), url("./fonts/web/SuisseIntl-Black-WebM.ttf") format("truetype"), url("./fonts/web/SuisseIntl-Black-WebM.woff") format("woff"), url("./fonts/web/SuisseIntl-Black-WebM.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("./fonts/web/SuisseIntl-Book-WebXL.eot") format("embedded-opentype"), url("./fonts/web/SuisseIntl-Book-WebXL.ttf") format("truetype"), url("./fonts/web/SuisseIntl-Book-WebXL.woff") format("woff"), url("./fonts/web/SuisseIntl-Book-WebXL.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("./fonts/web/SuisseIntl-Book-WebM.eot") format("embedded-opentype"), url("./fonts/web/SuisseIntl-Book-WebM.ttf") format("truetype"), url("./fonts/web/SuisseIntl-Book-WebM.woff") format("woff"), url("./fonts/web/SuisseIntl-Book-WebM.woff2") format("woff2");
  font-weight: 300;
}
html {
  font-size: 2.56vw;
}
@media screen and (min-width: 760px) {
  html {
    font-size: 1.36vw;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 0.69vw;
  }
}
body {
  background-color: #f1f1f1;
  color: #32364c;
  font-family: "Suisse Intl", sans-serif;
  font-weight: 300;
  margin: 0;
}
h1 {
  margin: 0;
  font-weight: 300;
  font-size: 3.2rem;
  letter-spacing: -0.01rem;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (min-width: 760px) {
  h1 {
    font-size: 3.6rem;
    letter-spacing: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3.2rem;
  }
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
  font-weight: 300;
  font-size: 1.5rem;
}
@media screen and (min-width: 760px) {
  h3 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1440px) {
  h3 {
    font-size: 2rem;
  }
}
h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  h4 {
    font-size: 1rem;
  }
}
p {
  margin: 0;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
@media screen and (min-width: 760px) {
  p {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}
@media screen and (min-width: 1440px) {
  p {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.iris-txt {
  color: #6f92e8;
}
.lavender-txt {
  color: #d6dcff;
}
.stroke_iris {
  stroke: #6f92e8;
}
.stroke_white {
  stroke: #fff;
}
.fill_white {
  fill: #fff;
}
.stroke_dark {
  stroke: #32364c;
}
.fill_iris {
  fill: #6f92e8;
}
.fill_cloudyBlue {
  fill: #8c9fcd;
}
.fill_lavender {
  fill: #d6dcff;
}
.stroke_lavender {
  stroke: #d6dcff;
}
.btn-label {
  height: 3.6rem;
  padding: 0.7rem 1.05rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: max-content;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  text-transform: uppercase;
}
.btn-label span {
  display: flex;
  width: max-content;
  margin-top: 0.05rem;
}
.btn-label svg {
  height: 2.2rem;
}
@media screen and (min-width: 760px) {
  .btn-label {
    height: 4rem;
    padding: 0.9rem 2rem;
  }
}
.figures {
  height: 3.6rem;
  box-sizing: border-box;
  padding: 1rem 2rem;
  position: relative;
}
.figures .line {
  background-color: #6f92e8;
  height: 0.14rem;
}
.figures .square {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #6f92e8;
  position: absolute;
  left: calc(50% - 0.55rem);
  top: 0.5rem;
  border-radius: 0.2rem;
}
.figures .square::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 4rem;
  left: 0.5rem;
  top: 0;
  background-color: #6f92e8;
}
.figures_simple {
  height: 2.4rem;
  box-sizing: border-box;
  position: relative;
}
.figures_simple .line {
  background-color: #6f92e8;
  height: 0.14rem;
}
.figures_simple .line2 {
  background-color: #6f92e8;
  width: 0.14rem;
  height: 100%;
  position: absolute;
  left: calc(50% - 0.07rem);
  top: 0;
}
.label-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  margin: 0 auto 1rem;
  border: 0.16rem solid #d6dcff;
  border-radius: 0.6rem;
  background-color: #131313;
  color: #e5e5e5;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: none;
}
@media screen and (min-width: 1440px) {
  .label-btn {
    height: 2.8rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.label-btn_light {
  background-color: #e5e5e5;
  border-color: rgba(214,220,255,0.2);
  color: #32364c;
}
.label-btn_upper {
  text-transform: uppercase;
}
.label-btn_lit {
  letter-spacing: -0.012rem;
}
@media screen and (min-width: 1440px) {
  .label-btn_lit {
    letter-spacing: 0;
  }
}
.primary-caption {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.2rem;
  color: #32364c;
  padding-bottom: 2rem;
}
@media screen and (min-width: 760px) {
  .primary-caption {
    font-size: 3rem;
    line-height: 1;
  }
}
@media screen and (min-width: 1440px) {
  .primary-caption {
    padding-bottom: 1.5rem;
    font-size: 2.8rem;
    line-height: 3.1rem;
  }
}
.primary-caption_center {
  text-align: center;
}
.primary-caption_center_760 {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .primary-caption_center_760 {
    text-align: left;
  }
}
.primary-caption_light {
  color: #e5e5e5;
}
.primary-caption_iris {
  color: #6f92e8;
}
.primary-caption_iris_390 {
  color: #6f92e8;
}
@media screen and (min-width: 760px) {
  .primary-caption_iris_390 {
    color: inherit;
  }
}
@media screen and (min-width: 760px) {
  .primary-caption_iris_760 {
    color: #6f92e8;
  }
}
.primary-caption_iris_390_1440 {
  color: #6f92e8;
}
@media screen and (min-width: 760px) {
  .primary-caption_iris_390_1440 {
    color: inherit;
  }
}
@media screen and (min-width: 1440px) {
  .primary-caption_iris_390_1440 {
    color: #6f92e8;
  }
}
@media screen and (min-width: 1440px) {
  .primary-caption_white_1440 {
    color: #fff;
  }
}
.container {
  padding: 10rem 1rem 0;
}
@media screen and (min-width: 760px) {
  .container {
    padding: 12rem 2rem 0;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-top: 15rem;
  }
}
.container_h0 {
  padding-left: 0;
  padding-right: 0;
}
.container_h2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (min-width: 1440px) {
  .container_top15_1440 {
    padding-top: 15rem;
  }
}
.sq_line {
  margin-top: 0.5rem;
  height: 0.1rem;
  margin-bottom: 3.4rem;
  width: 100%;
  position: relative;
  background-color: #6f92e8;
  display: flex;
  justify-content: center;
}
.sq_line::before,
.sq_line::after {
  content: "";
  position: absolute;
}
.sq_line::before {
  top: -0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: inherit;
  border-radius: 0.2rem;
}
.sq_line::after {
  top: -0.5rem;
  width: 0.1rem;
  height: 4rem;
  background-color: inherit;
}
@media screen and (min-width: 760px) {
  .sq_line {
    margin-top: 0.65rem;
    margin-bottom: 2.95rem;
  }
  .sq_line::before {
    top: -0.65rem;
    width: 1.3rem;
    height: 1.3rem;
  }
  .sq_line::after {
    height: 3rem;
    top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .sq_line {
    margin-top: 0.5rem;
    margin-bottom: 4.4rem;
  }
  .sq_line::before {
    top: -0.5rem;
  }
  .sq_line::after {
    height: 5rem;
    top: -0.5rem;
  }
}
.main-banner {
  height: 99.1rem;
  background-color: #001342;
  background-image: url("./images/banner.png");
  background-position: center -6rem;
  background-repeat: no-repeat;
  background-size: 300%;
}
@media screen and (min-width: 760px) {
  .main-banner {
    background-size: 160%;
    height: 100rem;
  }
}
@media screen and (min-width: 1440px) {
  .main-banner {
    height: 72.1rem;
    background-size: 100%;
    background-position: center -8rem;
  }
}
.banner {
  padding: 6.1rem 2rem 0;
}
@media screen and (min-width: 760px) {
  .banner {
    padding-top: 10.04rem;
  }
}
@media screen and (min-width: 1140px) {
  .banner {
    padding-top: 13.2rem;
  }
}
.banner h1 {
  margin-bottom: 2rem;
  display: grid;
}
@media screen and (min-width: 760px) {
  .banner h1 {
    display: block;
    margin-bottom: 3rem;
  }
  .banner h1 .span {
    color: #d6dcff;
  }
}
@media screen and (min-width: 1140px) {
  .banner h1 {
    display: grid;
  }
  .banner h1 .first {
    margin-bottom: 1rem;
  }
  .banner h1 .span {
    color: inherit;
  }
}
.banner__image {
  height: 1.4rem;
  margin-bottom: 1rem;
}
.banner__image svg {
  height: 100%;
}
@media screen and (min-width: 760px) {
  .banner__image {
    height: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1140px) {
  .banner__image {
    height: 1.9rem;
    margin-bottom: 0.6rem;
  }
}
.banner__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
@media screen and (min-width: 760px) {
  .banner__buttons {
    gap: 2rem;
    justify-content: center;
  }
}
@media screen and (min-width: 1140px) {
  .banner__buttons {
    display: none;
  }
}
.header-block_mob {
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  border-bottom: 0.16rem solid rgba(111,146,232,0.2);
}
.header-block_mob .fill_iris {
  fill: #fff;
}
.header-block_mob svg:first-of-type {
  height: 2.4rem;
}
.header-block_mob svg:last-of-type {
  height: 1.7rem;
}
@media screen and (min-width: 760px) {
  .header-block_mob svg:first-of-type {
    height: 2.7rem;
  }
  .header-block_mob svg:last-of-type {
    height: 1.7rem;
  }
}
@media screen and (min-width: 1440px) {
  .header-block_mob {
    display: none;
  }
}
.header-block {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -100vw;
  background: #010101;
  top: 0;
  z-index: 1;
  padding: 2rem 2rem 4rem;
  box-sizing: border-box;
  color: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 11.6rem;
}
.header-block .logo {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  font-size: 1.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 0.16rem solid rgba(111,146,232,0.2);
  position: relative;
}
.header-block .logo::after {
  content: url("./images/plus.svg");
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(45deg);
}
.header-block .logo svg {
  height: 3rem;
}
.header-block .logo .fill_iris {
  fill: #fff;
}
.header-block nav {
  align-content: flex-end;
  display: grid;
  gap: 2.4rem;
  font-size: 2.8rem;
  color: #c6c6c6;
}
.header-block .links {
  border-top: 0.16rem solid rgba(111,146,232,0.2);
  padding-top: 2.3rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  position: relative;
}
.header-block .links::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  background-color: rgba(111,146,232,0.2);
  left: calc(50% - 0.05rem);
  height: 5rem;
}
.header-block .links .btn-label {
  height: 4.2rem;
  background: transparent;
  color: #fff;
  gap: 1rem;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.header-block .links .btn-label svg {
  order: -1;
}
.header-block .links .btn-label:last-child {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header-block {
    position: static;
    height: 7.6rem;
    background-color: transparent;
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    padding: 0;
    border-bottom: 0.16rem solid rgba(111,146,232,0.2);
    width: calc(100vw - 4rem);
  }
  .header-block .logo {
    font-size: 1rem;
    gap: 1.4rem;
    border-bottom: none;
    padding: 0;
  }
  .header-block .logo svg {
    height: 2.2rem;
  }
  .header-block .logo::after {
    display: none;
  }
  .header-block nav {
    display: flex;
    gap: 8rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #d6dcff;
  }
  .header-block .links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .header-block .links .btn-label {
    height: 4.2rem;
    color: #32364c;
    gap: 0.6rem;
    padding: 0.7rem 0.65rem;
    background-color: #fff;
    letter-spacing: -0.008;
  }
  .header-block .links .btn-label svg {
    order: 1;
  }
  .header-block .links .btn-label:nth-child(2) {
    display: none;
  }
  .header-block .links .btn-label:last-child {
    display: flex;
  }
  .header-block .links .btn-label:first-child svg>path {
    stroke: #32364c;
  }
}
.second-section {
  background-image: url("./images/banner2.jpg");
  background-size: auto 100%;
  background-position: center bottom;
  height: 109.6rem;
  position: relative;
}
@media screen and (min-width: 760px) {
  .second-section {
    height: 133.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .second-section {
    height: 125.9rem;
    border-radius: 0 0 3rem 3rem;
  }
}
.tasks {
  margin: 0 1rem;
  background-color: rgba(255,255,255,0.8);
  border-radius: 2rem;
  padding: 2rem 1rem;
  transform: translate(0, -43rem);
  backdrop-filter: blur(40rem);
}
@media screen and (min-width: 760px) {
  .tasks {
    padding: 3rem;
  }
}
@media screen and (min-width: 1440px) {
  .tasks {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 61.8rem 2rem 1fr;
    gap: 3rem;
    align-content: flex-start;
    transform: translate(0, -17rem);
  }
}
.tasks__text {
  display: grid;
  padding: 0 1rem;
  gap: 4rem;
  margin-bottom: 8rem;
}
@media screen and (min-width: 760px) {
  .tasks__text {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
    padding: 0;
  }
  .tasks__text h3 {
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .tasks__text {
    align-content: space-between;
    grid-template-columns: auto;
    gap: 2.2rem;
    height: 100%;
  }
  .tasks__text p {
    width: 78%;
  }
}
.tasks__text .text-item {
  display: grid;
  gap: 1.2rem;
}
.tasks__text h4 {
  color: #6f92e8;
}
.tasks__decorate_center {
  display: none;
}
@media screen and (min-width: 1440px) {
  .tasks__decorate_center {
    display: block;
    background-color: #d6dcff;
  }
}
.tasks__block {
  display: grid;
  gap: 4.4rem;
}
@media screen and (min-width: 760px) {
  .tasks__block {
    gap: 5rem;
  }
}
@media screen and (min-width: 1440px) {
  .tasks__block {
    gap: 5.2rem;
    padding-bottom: 1.7rem;
  }
}
.tasks__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.tasks__label .label-txt {
  flex: 0.6;
}
.tasks__label .label-cnt {
  word-spacing: 0.4rem;
}
@media screen and (min-width: 760px) {
  .tasks__label {
    padding: 0;
  }
  .tasks__label .label-cnt {
    word-spacing: 0.2rem;
  }
}
.tasks__cards {
  position: relative;
}
.tasks-item {
  background-color: rgba(255,255,255,0.8);
  border-radius: 1.6rem;
  padding: 4.9rem 2rem 2rem;
  height: 18rem;
  box-sizing: border-box;
  position: absolute;
  display: grid;
  align-content: space-between;
  transform-origin: center top;
}
.tasks-item svg {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
}
.tasks-item h3 {
  color: #6f92e8;
}
.tasks-item p {
  line-height: 1.6rem;
}
.tasks-item:nth-child(1) {
  position: relative;
  z-index: 4;
}
.tasks-item:nth-child(2) {
  z-index: 3;
  background-color: #6f92e8;
  opacity: 0.3;
  bottom: 0;
  transform: translate(0, -0.8rem) scale(94%);
}
.tasks-item:nth-child(3) {
  z-index: 2;
  background-color: #6f92e8;
  opacity: 0.2;
  bottom: 0;
  transform: translate(0, -1.6rem) scale(88%);
}
.tasks-item:nth-child(4) {
  z-index: 1;
  background-color: #6f92e8;
  opacity: 0.1;
  bottom: 0;
  transform: translate(0, -2.4rem) scale(82%);
}
@media screen and (min-width: 760px) {
  .tasks-item {
    height: 19rem;
    padding: 3rem;
  }
  .tasks-item p {
    line-height: 1;
  }
  .tasks-item h3 {
    width: 48.4rem;
  }
  .tasks-item svg {
    height: 3.2rem;
    width: auto;
    top: 3rem;
    righht: 3rem;
  }
  .tasks-item:nth-child(2) {
    transform: translate(0, -1rem) scale(94%);
  }
  .tasks-item:nth-child(3) {
    transform: translate(0, -2rem) scale(88%);
  }
  .tasks-item:nth-child(4) {
    transform: translate(0, -3rem) scale(82%);
  }
}
@media screen and (min-width: 1440px) {
  .tasks-item {
    height: 22rem;
    padding: 3.4rem 3rem 3rem;
  }
  .tasks-item h3 {
    width: 41.1rem;
  }
  .tasks-item p {
    line-height: 1.6rem;
  }
  .tasks-item svg {
    width: 3.8rem;
    height: 3.8rem;
  }
}
.tasks__decorate_bottom {
  width: 6rem;
  height: 0.2rem;
  margin: 1.1rem auto 0;
  background-color: #e5e5e5;
  border-radius: 0.1rem;
}
@media screen and (min-width: 760px) {
  .tasks__decorate_bottom {
    margin-top: 2.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .tasks__decorate_bottom {
    display: none;
  }
}
.scenarios {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.scenarios .primary-caption {
  padding: 0 2rem 2.5rem;
}
.scenarios .cnt-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 1rem 2rem 2rem;
}
@media screen and (min-width: 760px) {
  .scenarios .cnt-b {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .scenarios .cnt-b {
    padding: 3rem 2rem 4rem;
  }
}
.sq_line {
  background-color: rgba(111,146,232,0.2);
  margin: 0 2rem;
  width: calc(100% - 4rem);
}
@media screen and (min-width: 1440px) {
  .sq_line {
    background-color: #6f92e8;
  }
}
.circles-block {
  width: 100%;
  overflow: hidden;
}
.circles {
  position: relative;
  height: 36rem;
  overflow-x: hidden;
  overflow-y: hidden;
  transform: translate(0rem, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.7rem;
}
.circles .sc_line {
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.circles svg {
  width: 36rem;
  height: 36rem;
  position: absolute;
  top: 0;
  left: calc(50% - 18rem);
}
.circles svg:nth-child(1) {
  left: calc(50% - 43.5rem);
}
.circles svg:nth-child(3) {
  left: calc(50% + 7.5rem);
}
.circles svg:nth-child(4) {
  left: calc(50% + 33rem);
}
.circles svg:nth-child(5) {
  left: calc(50% + 58.5rem);
}
@media screen and (min-width: 760px) {
  .circles {
    height: 56.9rem;
  }
  .circles svg {
    width: 56.9rem;
    height: 56.9rem;
    left: calc(50% - 28.45rem);
  }
  .circles svg:nth-child(1) {
    left: calc(50% - 68.65rem);
  }
  .circles svg:nth-child(3) {
    left: calc(50% + 11.75rem);
  }
  .circles svg:nth-child(4) {
    left: calc(50% + 51.95rem);
  }
  .circles svg:nth-child(5) {
    left: calc(50% + 92.15rem);
  }
}
@media screen and (min-width: 1440px) {
  .circles {
    height: 50rem;
  }
  .circles svg {
    width: 50rem;
    height: 50rem;
  }
  .circles svg:nth-child(1) {
    left: calc(50% - 95.5rem);
  }
  .circles svg:nth-child(2) {
    left: calc(50% - 60.3rem);
  }
  .circles svg:nth-child(3) {
    left: calc(50% - 25rem);
  }
  .circles svg:nth-child(4) {
    left: calc(50% + 10.2rem);
  }
  .circles svg:nth-child(5) {
    left: calc(50% + 45.5rem);
  }
}
.sc__item {
  width: 15rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: rgba(214,220,255,0.2);
  z-index: 2;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  transform: translate(0, -2.5rem);
}
.sc__item :last-child {
  width: 12rem;
  display: block;
  text-align: center;
  height: 3.6rem;
}
.sc__item :first-child {
  font-size: 1.2rem;
}
.sc__item:nth-child(2n - 1) {
  flex-direction: column-reverse;
  transform: translate(0, 2.5rem);
}
.sc__item.active {
  color: #6f92e8;
}
.sc__item.active .l {
  background-color: #6f92e8;
}
.sc__item.active .c {
  background-color: #6f92e8;
}
.sc__item .l {
  height: 6rem;
  width: 0.1rem;
  background-color: rgba(214,220,255,0.2);
}
.sc__item .c {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  background-color: #212223;
  border-radius: 50%;
  border: 0.4rem solid #d6dcff;
}
@media screen and (max-width: 1439px) {
  .sc__item:not(:first-of-type) {
    display: none;
  }
}
.mi {
  margin: 1rem auto 2rem;
  height: 0.1rem;
  width: 6rem;
  background-color: #d6dcff;
}
.ss {
  box-sizing: border-box;
  padding: 0 2.4rem 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 16rem;
  position: relative;
}
@media screen and (min-width: 1440px) {
  .ss {
    overflow: hidden;
  }
  .ss>:last-child.btn-block {
    display: flex;
    position: absolute;
    top: 0;
    bottom: auto;
    right: 2rem;
  }
}
.sc {
  width: 68rem;
  gap: 1rem;
  transform: translate(100%);
  transition-duration: 500ms;
  transition-property: transform opacity;
  display: flex;
  position: absolute;
  z-index: 0;
  opacity: 0;
}
.sc.active {
  transform: translate(0);
  z-index: 1;
  opacity: 1;
}
.sc.empty {
  transform: translate(-100%);
  opacity: 0;
}
@media screen and (min-width: 760px) {
  .sc {
    gap: 2rem;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .sc {
    width: 100%;
  }
}
.sc-card {
  width: 33.5rem;
  height: 14rem;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: rgba(140,159,205,0.2);
  backdrop-filter: blur(4rem);
  border-radius: 1rem;
  color: #fff;
  display: grid;
  align-content: space-between;
}
.work {
  padding: 10rem 1rem 0;
}
@media screen and (min-width: 760px) {
  .work {
    padding: 12rem 2rem 0;
  }
}
@media screen and (min-width: 1440px) {
  .work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100%;
    gap: 2rem;
    position: relative;
    height: 61.2rem;
    overflow: hidden;
  }
}
.work .primary-caption {
  padding: 0 1rem;
  margin-bottom: 4rem;
  text-align: left;
}
@media screen and (min-width: 760px) {
  .work .primary-caption {
    padding: 0;
    width: 35rem;
  }
}
@media screen and (min-width: 1440px) {
  .work .primary-caption {
    position: absolute;
    z-index: 10;
    top: 15rem;
    left: 5rem;
    width: 37rem;
  }
}
.work__container {
  margin-bottom: 1rem;
}
.work__container .work__cards {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 760px) {
  .work__container {
    margin-bottom: 4rem;
  }
  .work__container .work__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .work__container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .work__container .work__cards {
    grid-column-start: 2;
    grid-template-rows: 7.1rem 35.8rem 7.1rem 35.8rem 7.1rem;
  }
}
.work-item {
  height: 35rem;
  box-sizing: border-box;
  padding: 3rem;
  display: grid;
  grid-template-rows: 2.8rem 1fr;
  gap: 1.2rem;
  border: 0.15rem solid #6f92e8;
  border-radius: 1.6rem;
  position: relative;
}
@media screen and (min-width: 760px) {
  .work-item {
    height: 32rem;
    gap: 1rem;
    grid-template-rows: 3.2rem 1fr;
  }
}
@media screen and (min-width: 1440px) {
  .work-item {
    padding: 2.8rem;
    border-radius: 1.5rem;
    gap: 2rem;
    grid-row-end: span 2;
    height: 100%;
  }
  .work-item:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .work-item:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 3;
  }
}
.work-item::before {
  content: "";
  position: absolute;
  top: 6rem;
  bottom: 6rem;
  left: -0.5rem;
  right: -0.5rem;
  border-left: 1rem solid #f1f1f1;
  border-right: 1rem solid #f1f1f1;
  user-select: none;
}
.work-item::after {
  content: "";
  position: absolute;
  border-top: 1rem solid #f1f1f1;
  border-bottom: 1rem solid #f1f1f1;
  user-select: none;
  left: 6rem;
  right: 6rem;
  top: -0.5rem;
  bottom: -0.5rem;
}
.work-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-item__header svg {
  width: 2.8rem;
  height: 2.8rem;
}
@media screen and (min-width: 760px) {
  .work-item__header svg {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.work-item__caption {
  font-size: 1.2rem;
  color: #6f92e8;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .work-item__caption {
    font-size: 1rem;
  }
}
.work-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
}
@media screen and (min-width: 760px) {
  .work-item__content {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .work-item__content {
    font-size: 1.4rem;
  }
}
.work-item__content h3 {
  font-size: 1.5rem;
}
@media screen and (min-width: 760px) {
  .work-item__content h3 {
    font-size: 2.2rem;
  }
}
.work__image {
  height: 35rem;
  overflow: hidden;
  border-radius: 1.6rem;
  position: relative;
}
@media screen and (min-width: 760px) {
  .work__image {
    height: 42.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .work__image {
    grid-row-start: 1;
    height: 100%;
  }
}
.work__image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #8c9fcd;
  mix-blend-mode: hue;
}
.work__labels {
  display: none;
}
@media screen and (min-width: 760px) {
  .work__labels {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    gap: 1.2rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .work__labels {
    left: 3rem;
    bottom: 3rem;
    font-size: 1rem;
  }
}
.label-item {
  border-radius: 0.6rem;
  background-color: rgba(140,159,205,0.051);
  backdrop-filter: blur(40px);
  padding: 1rem;
  z-index: 1;
}
.methodic {
  padding: 10rem 0 0;
  position: relative;
}
.methodic .figures {
  position: absolute;
  top: 20.4rem;
  left: 0;
  width: 100%;
}
.methodic__title {
  margin-bottom: 4.6rem;
  font-size: 2.4rem;
  line-height: 0.9;
  text-align: center;
}
.map {
  width: 100%;
  height: 64rem;
  position: relative;
}
.map img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.methodic__cards {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(3, 35.8rem);
  grid-template-rows: 10.8rem;
}
.methodic-item {
  padding: 1rem;
  background-color: #131313;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.methodic-item svg {
  height: 100%;
}
.methodic__text {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.1;
  color: rgba(255,255,255,0.702);
}
.effect {
  padding-bottom: 1rem;
}
@media screen and (min-width: 1440px) {
  .effect {
    padding-bottom: 2rem;
  }
}
.effect__cards {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 31rem;
  transform: translate(0, 1rem);
}
@media screen and (min-width: 760px) {
  .effect__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2.1rem;
    grid-auto-rows: 44rem;
    transform: translate(0, -1rem);
  }
}
@media screen and (min-width: 1440px) {
  .effect__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 48rem;
    transform: translate(0, -2rem);
  }
}
.effect__item {
  padding: 3rem;
  margin: 0 1rem;
  border-bottom: 0.1rem solid #6f92e8;
  position: relative;
  display: grid;
  align-content: space-between;
}
.effect__item:last-child {
  border-bottom: none;
}
.effect__item div {
  display: grid;
  gap: 2rem;
}
.effect__item div span {
  font-size: 2.4rem;
  color: #6f92e8;
}
.effect__item div span .big {
  font-size: 5rem;
}
.effect__item::before,
.effect__item::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: calc(100% - 2rem);
  top: 1rem;
  background-color: #6f92e8;
}
.effect__item::before {
  left: -1rem;
}
.effect__item::after {
  right: -1rem;
}
@media screen and (min-width: 760px) {
  .effect__item {
    margin: 0;
    padding: 2rem 2rem 4rem;
  }
  .effect__item div {
    gap: 3rem;
  }
  .effect__item div span {
    font-size: 3rem;
  }
  .effect__item div span .big {
    font-size: 7rem;
  }
  .effect__item::before {
    display: none;
  }
  .effect__item:nth-child(4)::before {
    display: block;
    height: 0.1rem;
    width: 100%;
    top: -2.1rem;
    left: 0;
  }
  .effect__item::after {
    top: 0;
    left: -1.1rem;
  }
  .effect__item:nth-child(1)::after {
    height: 5rem;
    top: auto;
    bottom: 1rem;
    left: auto;
    right: -1.1rem;
  }
  .effect__item:nth-child(2n)::after {
    display: none;
  }
  .effect__item:nth-child(1) {
    padding-left: 0;
  }
  .effect__item:nth-child(1) h3 {
    width: 22.5rem;
  }
  .effect__item:nth-child(4) {
    padding-left: 0;
  }
  .effect__item:nth-child(3) {
    grid-column-start: 2;
  }
  .effect__item:last-child {
    border-bottom: 0.1rem solid #6f92e8;
  }
}
@media screen and (min-width: 1440px) {
  .effect__item {
    padding: 2rem 2rem 3rem;
  }
  .effect__item div {
    gap: 2.8rem;
  }
  .effect__item div span {
    font-size: 2.2rem;
  }
  .effect__item div span .big {
    font-size: 5.8rem;
  }
  .effect__item:nth-child(1)::after {
    height: calc(var(--size, 4rem) - 4rem);
    top: 2rem;
  }
  .effect__item:nth-child(1) h3 {
    width: auto;
  }
  .effect__item:nth-child(2) {
    grid-column-start: 3;
  }
  .effect__item:nth-child(2)::before {
    display: block;
    height: 0.1rem;
    width: 100%;
    left: calc(-100% - 2.1rem);
    top: auto;
    bottom: 0;
  }
  .effect__item:nth-child(2)::after {
    height: 4rem;
    display: block;
    top: auto;
    bottom: 0;
  }
  .effect__item:nth-child(3) {
    grid-column-start: 4;
  }
  .effect__item:nth-child(3)::after {
    height: calc(100% - 4rem);
    top: 2rem;
  }
  .effect__item:nth-child(4) {
    grid-column-start: 2;
  }
  .effect__item:nth-child(4)::before {
    display: block;
    height: calc(var(--size, 2rem) - 2rem);
    width: 0.1rem;
    top: 0;
    left: -1.1rem;
  }
  .effect__item:nth-child(5) {
    grid-column-start: 4;
  }
  .effect__item:nth-child(5) h3 {
    width: 27.1rem;
  }
  .effect__item:nth-child(5)::before {
    display: block;
    top: 0;
    height: calc(var(--size, 2rem) - 2rem);
    left: calc(-100% - 3.2rem);
  }
}
.profit {
  background-image: url("./images/banner2.jpg");
  background-size: cover;
  background-position: bottom center;
  padding: 10rem 1rem 2rem;
}
@media screen and (min-width: 1440px) {
  .profit {
    padding: 12rem 2rem 3rem;
  }
}
.profit h2 {
  color: #e5e5e5;
  margin: 1rem 0 2rem;
}
.profit .figures {
  margin: 0 1rem;
  opacity: 0.2;
}
.profit .cnt {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.profit-cards {
  height: 69.5rem;
  position: relative;
}
@media screen and (min-width: 760px) {
  .profit-cards {
    height: 57.7rem;
  }
}
@media screen and (min-width: 1440px) {
  .profit-cards {
    height: 53.1rem;
  }
}
.profit-item {
  position: absolute;
  bottom: 0;
  height: 66.4rem;
  background-color: #f1f1f1;
  border-radius: 2rem;
  padding: 1rem 1rem 2rem;
  box-sizing: border-box;
  margin-top: 3.1rem;
  transform-origin: top center;
  width: 100%;
}
@media screen and (min-width: 760px) {
  .profit-item {
    height: 50rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
}
.profit-item:nth-child(1) {
  z-index: 5;
}
.profit-item:nth-child(2) {
  z-index: 4;
  opacity: 0.8;
  transform: translate(0, -0.8rem) scale(94%);
}
.profit-item:nth-child(3) {
  z-index: 3;
  opacity: 0.6;
  transform: translate(0, -1.6rem) scale(88%);
}
.profit-item:nth-child(4) {
  z-index: 2;
  opacity: 0.4;
  transform: translate(0, -2.4rem) scale(82%);
}
.profit-item:nth-child(5) {
  z-index: 1;
  opacity: 0.2;
  transform: translate(0, -3.2rem) scale(74%);
}
.profit-item header {
  display: grid;
  grid-template-columns: 60%;
  align-content: space-between;
  padding: 1rem;
  height: 19.9rem;
  box-sizing: border-box;
  background-image: url("./images/profit1.png");
  background-position: 200% 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 1.6rem;
}
.profit-item header h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.profit-item header p {
  font-size: 1.2rem;
  color: rgba(50,54,76,0.6);
}
@media screen and (min-width: 760px) {
  .profit-item header {
    height: 100%;
    padding: 2rem;
  }
  .profit-item header p {
    width: 19.9rem;
  }
}
@media screen and (min-width: 1440px) {
  .profit-item header {
    width: 50.3rem;
  }
}
.profit-item .content {
  padding: 2rem 1rem 0;
}
.profit-item .content h4 {
  display: none;
}
@media screen and (min-width: 1440px) {
  .profit-item .content h4 {
    display: block;
    color: #6f92e8;
    margin-bottom: 1.5rem;
  }
}
.profit-item .content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.profit-item .content .widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.profit-item .content .widgets svg {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .profit-item .content .widgets {
    height: 8.6rem;
    width: auto;
    justify-content: flex-start;
    gap: 2rem;
    grid-template-columns: repeat(2, auto);
  }
  .profit-item .content .widgets svg {
    height: 100%;
  }
}
.profit-item .content ul {
  display: grid;
  gap: 2rem;
  font-size: 1.4rem;
}
.profit-item .content li {
  padding-left: 2.8rem;
  position: relative;
}
.profit-item .content li::before {
  content: url("./images/check.svg");
  position: absolute;
  left: 0;
}
.profit-item .bottom {
  display: flex;
  position: absolute;
  bottom: 2rem;
  gap: 1rem;
  align-items: center;
  font-size: 1.2;
  text-transform: uppercase;
}
.ksl {
  padding: 10rem 1rem 0;
}
@media screen and (min-width: 760px) {
  .ksl {
    padding: 12rem 2rem 0;
  }
}
.ksl h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1440px) {
  .ksl h2 {
    margin-bottom: 1rem;
  }
}
.ksl h2 .span {
  color: #6f92e8;
}
@media screen and (min-width: 1440px) {
  .ksl h2 .span {
    color: #32364c;
  }
}
.ksl .figures {
  padding: 1rem 0;
  margin-bottom: 1.3rem;
}
@media screen and (min-width: 1440px) {
  .ksl .figures {
    margin-bottom: 2rem;
  }
}
.ksl__cards {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 760px) {
  .ksl__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .ksl__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.ksl-item {
  background-image: url("images/banner2.jpg");
  background-size: auto 125%;
  background-position: center top;
  height: 41rem;
  position: relative;
  border-radius: 2rem;
  display: grid;
  align-content: flex-end;
  box-sizing: border-box;
  padding: 0 5.5rem 4rem 3rem;
  gap: 1.2rem;
  color: #fff;
}
.ksl-item h3,
.ksl-item p {
  position: relative;
  z-index: 2;
}
.ksl-item svg {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.ksl-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #131313;
  mix-blend-mode: multiply;
  border-radius: 2rem;
}
.ksl-item::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-right: 7rem solid #f1f1f1;
  border-top: 7rem solid transparent;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 760px) {
  .ksl-item:last-child {
    grid-column-start: 2;
  }
}
@media screen and (min-width: 1440px) {
  .ksl-item:nth-child(2) {
    grid-column-start: 3;
  }
  .ksl-item:nth-child(3) {
    grid-column-start: 4;
  }
}
.ksl__text {
  display: grid;
  padding: 8rem 1rem 10rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem 1.2rem;
}
@media screen and (min-width: 760px) {
  .ksl__text {
    padding: 12rem 0;
    gap: 8rem 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .ksl__text {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 2rem;
  }
}
.ksl-card {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 760px) {
  .ksl-card {
    grid-template-rows: 7.7rem auto;
  }
}
@media screen and (min-width: 1440px) {
  .ksl-card {
    grid-template-rows: 7.8rem auto;
  }
  .ksl-card>:first-child {
    align-self: center;
  }
  .ksl-card:nth-child(2) {
    grid-column-start: 3;
  }
}
.ksl-card svg {
  height: 3.9rem;
}
@media screen and (min-width: 760px) {
  .ksl-card svg {
    height: 7.7rem;
  }
}
@media screen and (min-width: 1440px) {
  .ksl-card svg {
    height: 4.5rem;
  }
}
.ksl-card h3 {
  font-size: 5rem;
  color: #6f92e8;
}
.ksl-card h3 span {
  font-size: 2.4rem;
}
@media screen and (min-width: 760px) {
  .ksl-card h3 {
    font-size: 7rem;
    line-height: 7.7rem;
  }
  .ksl-card h3 span {
    font-size: 3rem;
  }
}
.ksl-card:nth-child(1) {
  grid-column-end: span 2;
}
.ksl-card:nth-child(1) p {
  width: 24rem;
}
@media screen and (min-width: 760px) {
  .ksl-card:nth-child(1) {
    grid-column-end: span 1;
  }
  .ksl-card:nth-child(1) p {
    width: 26.1rem;
  }
}
.ksl-card:nth-child(4) {
  grid-column-end: span 2;
  gap: 0;
}
@media screen and (min-width: 760px) {
  .ksl-card:nth-child(4) {
    grid-column: 1/2;
    grid-row-start: 2;
    gap: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .ksl-card:nth-child(4) {
    grid-column: 3/4;
    gap: 0;
    grid-template-rows: auto;
    width: 90%;
  }
}
.figures_simple {
  margin: 0 1rem 2rem;
}
@media screen and (min-width: 760px) {
  .figures_simple {
    margin: 0 -2rem 2rem;
  }
}
.quote {
  height: 2.8rem;
  margin-bottom: 2rem;
}
.quote svg {
  height: 100%;
}
.ksl__article {
  padding: 0 1rem;
}
.ksl__article .big-text {
  font-size: 2.4rem;
  margin-bottom: 5rem;
  color: rgba(111,146,232,0.2);
}
.ksl__article>p {
  margin-bottom: 3rem;
}
@media screen and (min-width: 760px) {
  .ksl__article {
    display: grid;
    grid-template-columns: 1fr 35rem;
    padding: 0;
  }
  .ksl__article .quote {
    grid-column-end: span 2;
    height: 2.8rem;
    margin-bottom: 1.1rem;
  }
  .ksl__article .big-text {
    grid-column-end: span 2;
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 760px) and (min-width: 1440px) {
  .ksl__article {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .ksl__article .quote {
    grid-column-end: span 1;
  }
  .ksl__article .big-text {
    grid-column-end: span 1;
    width: 66.1rem;
  }
}
.person {
  display: grid;
  grid-template-columns: 15.8rem 14.8rem;
  gap: 2rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 760px) {
  .person {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
}
.person__img {
  background-color: #e5e5e5;
  height: 20rem;
  width: 15.8rem;
  overflow: hidden;
}
.person__img img {
  width: 90%;
  object-fit: cover;
  object-position: center top;
}
.person__content h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.person__content p {
  font-size: 1.2rem;
  color: rgba(50,54,76,0.6);
}
@media screen and (min-width: 760px) {
  .person__content {
    grid-row-start: 1;
    width: 22rem;
  }
}
@media screen and (min-width: 760px) {
  .article-txt {
    display: grid;
    gap: 3rem;
    align-content: flex-start;
  }
  .article-txt p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .article-txt {
    align-content: flex-end;
    gap: 4.3rem;
    width: 42.2rem;
  }
}
.partners {
  padding: 12rem 2rem 0;
}
.partners h2 {
  margin: 1rem 0 2rem;
}
.partners .figures {
  margin-bottom: 2rem;
}
.partners .figures_simple {
  margin-top: 2rem;
  transform: rotate(180deg);
  margin-bottom: 0;
}
.partners__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 1440px) {
  .partners__block {
    gap: 2rem;
  }
}
.partners__img {
  height: 15.2rem;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners__img svg {
  height: 5.2rem;
}
@media screen and (min-width: 1440px) {
  .partners__img {
    width: 33.5rem;
    height: 28rem;
  }
  .partners__img svg {
    height: 10rem;
  }
}
.partners__list {
  display: grid;
  gap: 1.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .partners__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.faq {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 1440px) {
  .faq {
    padding-bottom: 12rem;
    display: grid;
    grid-template-columns: 32.5rem 1fr;
    gap: 30rem;
  }
}
.faq .list {
  display: grid;
  counter-reset: section;
}
@media screen and (min-width: 1440px) {
  .faq .list {
    grid-row-end: span 2;
  }
}
.faq .list li {
  padding: 1rem 0 0 2rem;
  counter-increment: section;
  position: relative;
  border-top: 0.1rem solid #e5e5e5;
}
.faq .list li .q {
  font-size: 1.6rem;
  width: 27.2rem;
  height: 7rem;
}
@media screen and (min-width: 760px) {
  .faq .list li .q {
    width: 50rem;
  }
}
.faq .list li .a {
  font-size: 1.4rem;
  padding: 1.6rem 0 3rem;
  color: rgba(50,54,76,0.6);
  display: none;
}
.faq .list li:last-child {
  border-bottom: 0.1rem solid #e5e5e5;
}
.faq .list li.active .q {
  height: auto;
}
.faq .list li.active .a {
  display: block;
}
.faq .list li.active::after {
  transform: rotate(45deg);
}
.faq .list li::before {
  content: counter(section, decimal) ".";
  position: absolute;
  left: 0;
  font-family: Tipography, monospace;
  font-size: 1.2rem;
  top: 1rem;
}
.faq .list li::after {
  content: url("./images/plus.svg");
  position: absolute;
  right: 0;
  top: 1rem;
  filter: invert(1);
}
.faq__text {
  padding: 3rem 0 6rem;
  display: grid;
  gap: 2rem;
}
.faq__text .img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: url("./images/faq.jpg");
  background-size: auto 170%;
  background-position: 55% 15%;
  border: 0.1rem solid #fff;
}
.faq__text p {
  width: 28rem;
}
@media screen and (min-width: 760px) {
  .faq__text {
    padding-bottom: 12rem;
  }
}
@media screen and (min-width: 1440px) {
  .faq__text {
    padding-bottom: 0;
  }
}
footer {
  background-color: #131313;
  color: #e5e5e5;
  padding: 6.4rem 2rem 3rem;
}
footer .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}
footer .logo svg {
  height: 3rem;
}
footer .logo .fill_iris {
  fill: #fff;
}
