@import "styles/var.styl"

html
    font-size 2.56vw
    @media screen and (min-width: 760px)
        font-size 1.36vw
    @media screen and (min-width: 1440px)
        font-size 0.69vw
body
    background-color lGray
    color inkDark
    font-family sans-serif
    //width 390px
    margin 0
h1
h2
h3
h4
h5
h6
p
    margin 0
    font-size inherit
    font-weight normal

.iris-txt
    color iris
.stroke_iris
    stroke iris
.fill_iris
    fill iris

@import "styles/work.styl"