.main-banner
    include ./header
    section
        <svg width="36" height="20" viewBox="0 0 36 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.51 1.3334C17.6145 1.33348 18.51 2.22888 18.51 3.3334V7.12198C18.51 8.34332 19.5001 9.3334 20.7214 9.3334C21.9428 9.3334 22.9329 8.34332 22.9329 7.12198V3.3334C22.9329 2.22884 23.8283 1.3334 24.9329 1.3334H31.5989C32.7034 1.3334 33.5989 2.22884 33.5989 3.3334V10.0004C33.5986 11.1048 32.7033 12.0004 31.5989 12.0004H29.7558C28.283 12.0004 27.0891 13.1943 27.0891 14.6671V18.0004C27.0889 19.1047 26.1934 20.0002 25.0891 20.0004H18.4221C17.3177 20.0004 16.4223 19.1048 16.4221 18.0004V14.2113C16.4221 12.9903 15.4322 12.0004 14.2112 12.0004C12.9901 12.0004 12.0002 12.9903 12.0002 14.2113V18.0004C12 19.1047 11.1046 20.0003 10.0002 20.0004H3.33325C2.22891 20.0003 1.33348 19.1047 1.33325 18.0004V11.3334C1.33325 10.2289 2.22877 9.33351 3.33325 9.3334H5.17635C6.64911 9.3334 7.84302 8.1395 7.84302 6.66674V3.3334C7.84302 2.2289 8.73854 1.33351 9.84302 1.3334H16.51Z" fill="#D6DCFF"/>
        </svg>
        h1 HORIZON цифровое моделирование оптимальной логистической сети
        .buttons
            button
                span Запросить аудит
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="22" height="22" rx="6" fill="#6F92E8"/>
                <path d="M5 15.0518L8.38176 11.8311L10.5611 13.7528L16.9167 7M16.9167 7H13.3739M16.9167 7V10.5428" stroke="white" stroke-width="1.4"/>
                </svg>
            button
                span Личный кабинет
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 14.0625L14.3125 11.25M14.3125 11.25L11.5 8.4375M14.3125 11.25H4M8.6875 6.79555V6.75018C8.6875 5.70008 8.6875 5.17464 8.89186 4.77356C9.07163 4.42076 9.35826 4.13413 9.71106 3.95436C10.1121 3.75 10.6376 3.75 11.6877 3.75H16.0002C17.0503 3.75 17.5746 3.75 17.9757 3.95436C18.3285 4.13413 18.6161 4.42076 18.7958 4.77356C19 5.17425 19 5.69906 19 6.7471V15.7534C19 16.8014 19 17.3254 18.7958 17.7261C18.6161 18.0789 18.3285 18.3661 17.9757 18.5458C17.575 18.75 17.0509 18.75 16.0029 18.75H11.6846C10.6366 18.75 10.1118 18.75 9.71106 18.5458C9.35826 18.3661 9.07163 18.0787 8.89186 17.7259C8.6875 17.3248 8.6875 16.8001 8.6875 15.75V15.7031" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
