.main-banner
    include ./header
    section.banner
        .banner__image
            include vectors/logo2
        h1
            span.first HORIZON
            | &#32;
            span
                |цифровое&#32;
                span.lavender-txt моделирование
                | &#32;
                span.span оптимальной
            | &#32;
            span логистической сети
        .banner__buttons
            button.btn-label
                span Запросить аудит
                include vectors/pic5
            button.btn-label
                span Личный кабинет
                include vectors/pic6
