section.effect
    h4.label-btn Эффект
    h2.primary-caption.primary-caption_center
        |Как меняется логистическая сеть&#32;
        span.primary-caption_iris после моделирования
    div
        div
            h5 Экономия на логистике
            div от 7,8%
            p подтверждено >80 проектами, максимальная эффективность  оптимизации — 43%.
        div
            h5 Повышение конкурентоспособности
            p снижается себестоимость и улучшается сервис — без потерь в работе с запасами.
        div
            h5 Сокращение инвестиций в развитие складов
            div до 0 руб.
            p благодаря перераспределению потоков по существующим складам с повышением эффективности.
        div
            h5 Гибкая и адаптивная логистическая сеть
            p возможность оперативного пересчета сценариев развития в формате «Что будет, если?..»
        div
            h5 Прозрачность транспортных и складских процессов
            p затраты измерены и оценены на предмет адекватности рынку.