section.effect.container
    h4.label-btn Эффект
    h2.primary-caption.primary-caption_center
        |Как меняется логистическая сеть&#32;
        span.primary-caption_iris после моделирования
    .sq_line
    div.effect__cards
        div.effect__item
            h3 Экономия на логистике
            div
                span
                    |от&#32;
                    span.big 7,8%
                p подтверждено >80 проектами, максимальная эффективность  оптимизации — 43%.
        div.effect__item
            h3 Повышение конкурентоспособности
            p снижается себестоимость и улучшается сервис — без потерь в работе с запасами.
        div.effect__item
            h3 Сокращение инвестиций в развитие складов
            div
                span
                    |до&#32;
                    span.big 0
                    |&#32;руб.
                p благодаря перераспределению потоков по существующим складам с повышением эффективности.
        div.effect__item
            h3 Гибкая и адаптивная логистическая сеть
            p возможность оперативного пересчета сценариев развития в формате «Что будет, если?..»
        div.effect__item
            h3 Прозрачность транспортных и складских процессов
            p затраты измерены и оценены на предмет адекватности рынку.
script.
    const effectItems = gsap.utils.toArray(".effect__item")
    const pseudoBox = document.getElementById('pseudoBox');
    const h0 = effectItems[0].offsetHeight
    const h3 = effectItems[3].offsetHeight
    const h4 = effectItems[4].offsetHeight
    // Анимация CSS-переменных для псевдоэлементов

    ScrollTrigger.create({
        trigger: ".effect",
        start: "top top",
        scrub: true,
        pin: true,
        onUpdate: (self) => {
            const n0 = 100 / effectItems[0].offsetHeight;
            const m0 = Math.floor(self.progress * 100 / n0)
            const n3 = 100 / effectItems[3].offsetHeight;
            const m3 = Math.floor(self.progress * 100 / n3)
            gsap.to(effectItems[0], {
                '--size': `${ m0 }px`
            });
            gsap.to(effectItems[3], {
                '--size': `${ m3 }px`
            });
            gsap.to(effectItems[4], {
                '--size': `${ m3 }px`
            });
        }
    });