section#specialists.container.container_h2.faq
    h2.primary-caption
        | Собрали ответы на самые&#32;
        span.primary-caption_iris популярные вопросы
    .faq__block
        ol.list
            li
                .q Как убедиться в эффективности цифрового моделирования для нашей компании?
                .a Создайте модель одного направления или региона, чтобы на тестовом примере оценить эффект и увидеть логику расчетов.
            li
                .q Сколько времени занимает проект?
                .a От 8 до 12 недель.
            li
                .q Как рассчитывается стоимость моделирования?
                .a
                    div Цена зависит от масштаба, глубины анализа и количества сценариев.
                    div Предварительная оценка формируется под конкретные параметры вашей задачи.
            li
                .q Что нужно от нас для старта проекта?
                .a Базовые данные о сети: расположение складов, отгрузочные объемы, структура поставок, действующие тарифы, номенклатура. Мы поможем собрать и верифицировать все данные.
            li
                .q Мы уже строили маршруты и оптимизировали логистику. Что нового даст моделирование?
                .a HORIZON позволяет пересобрать сеть от текущего состояния к оптимальному, что обычно экономит десятки и сотни миллионов рублей. Вы получаете картину на 3-5 лет вперёд: где строить, где арендовать, сколько компания сэкономит и т.д.
            li
                .q Мы и так загружены, кто будет заниматься проектом с нашей стороны?
                .a На первом этапе сбора данных, в проект вовлекается 1-2 ваших специалиста — обычно это логист и/или аналитик. Мы берем на себя сбор, обработку и расчет всех данных. Наши заказчики тратят на участие в проекте в среднем 2-4 часа в неделю.
            li
                .q Если модель покажет, что наш склад неэффективен — что дальше?
                .a Вы получите сценарий действий: где должен быть склад, в какой форме (аренда, 3PL, собственность), размер затрат, когда они окупятся и как повлияет на уровень сервиса. HORIZON — это инструмент для принятия управленческих решений.
            li
                .q Что, если у нас мало данных или нет аналитики?
                .a Мы умеем работать с минимальным объемом информации — часть параметров восполняется из рыночных источников, отраслевых бенчмарков и нашей базы данных.
            li
                .q Сможем ли мы использовать модель самостоятельно, без участия КСЛ?
                .a
                    div Да, мы передаём модель с инструкцией и обучаем ваших сотрудников с ней работать.
                    div Вы сможете самостоятельно тестировать гипотезы и принимать обоснованные решения по развитию логистики.
            li
                .q Моделирование заменяет TMS?
                .a Нет. Это инструмент стратегического уровня, который отвечает на вопросы «Что будет, если…», а не управляет ежедневными операциями.
            li
                .q Что будет, если ничего в сети не менять?
                .a HORIZON покажет и этот сценарий: вы увидите, когда текущая схема перестанет справляться с объемами, где возникнут «узкие места» и во сколько это обойдется компании.
    div.faq__text
        .img
            //img(src="./images/faq.jpg" alt="")
        p Не нашли ответ? Напишите — разберем ваш случай.
        a.btn(href="")
            span задать вопрос
            include vectors/pic02
script.
    const faqBlock = document.querySelector(".faq__block")
    const faqList2 = faqBlock.querySelector(".list")

    let faqScrollDistance = faqList2.scrollHeight - faqBlock.offsetHeight;
    const faqP = document.querySelectorAll(".list li")
    const faqList = document.querySelectorAll(".list .q")
    const faqA = document.querySelectorAll(".list .a")
    faqP.forEach((item, i) => {
        item.addEventListener("click", () => {
            console.log("click", i)
            if (faqA[i]?.style.maxHeight) {
                console.log(item.lastElementChild.style.maxHeight)
                faqA[i].style.maxHeight = null
            } else {
                faqA[i].style.maxHeight = faqA[i]?.scrollHeight + "px";
            }
            item.classList.toggle("active")
            faqScrollDistance = faqList2.scrollHeight - faqBlock.offsetHeight;
        })
    })
    if (window.innerWidth >= 1440) {
        gsap.to(faqList2, {
            y: -faqScrollDistance,
            ease: "none",
            scrollTrigger: {
                trigger: ".faq",
                start: "bottom bottom",
                end: `+=${ faqScrollDistance }`,
                scrub: 1,
                pin: true
            }
        });
    }