footer
    div.footer__top
        a.logo(href="")
            include vectors/logo
            span
                | Логистический
                br
                | консалтинг
        div.footer__menu
            h4 Навигация
            nav
                a(href="#directions") Направления
                a(href="#technology") Технология
                a(href="#results") Результаты
                a(href="#specialists") Специалистам
                a(href="") Личный кабинет
        div.footer__block
            h4 адрес
            p Ленинградский пр-кт, дом 39с14, офис 203
            p.fz14
                a(href="")
                    <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.6875 7.30078C12.6875 5.27734 11.5938 3.41797 9.84375 2.37891C8.06641 1.36719 5.90625 1.36719 4.15625 2.37891C2.37891 3.41797 1.3125 5.27734 1.3125 7.30078C1.3125 9.35156 2.37891 11.2109 4.15625 12.25C5.90625 13.2617 8.06641 13.2617 9.84375 12.25C11.5938 11.2109 12.6875 9.35156 12.6875 7.30078ZM0 7.30078C0 4.8125 1.3125 2.51562 3.5 1.25781C5.66016 0 8.3125 0 10.5 1.25781C12.6602 2.51562 14 4.8125 14 7.30078C14 9.81641 12.6602 12.1133 10.5 13.3711C8.3125 14.6289 5.66016 14.6289 3.5 13.3711C1.3125 12.1133 0 9.81641 0 7.30078ZM6.37109 7.92969L2.35156 7L10.0898 4.21094L7.30078 11.9492L6.37109 7.92969Z" fill="#E5E5E5"/>
                    </svg>
                    span Проложить маршрут
        div.footer__block
            h4 Контакты
            p
                a(href="mailto:audit@ccl-logistics.ru") audit@ccl-logistics.ru
            p
                a(href="tel:+74957639195") +7 (495) 763-91-95
        div.footer__block
            h4 Написать
            p.fz14_16
                a(href="")
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.83 3.59458C13.8789 3.44811 13.8789 3.30165 13.83 3.10637C13.83 3.00873 13.7321 2.86227 13.6832 2.81345C13.5364 2.66699 13.2918 2.66699 13.1939 2.66699C12.7536 2.66699 12.0198 2.91109 8.64398 4.32688C7.46979 4.81508 5.12142 5.79148 1.59887 7.35373C1.01178 7.59783 0.718229 7.79311 0.669305 8.03721C0.62038 8.42777 1.2564 8.57423 1.99026 8.81833C2.62628 9.01361 3.45799 9.25772 3.89831 9.25772C4.28971 9.25772 4.73003 9.11125 5.21927 8.76951C8.49721 6.52379 10.2096 5.40092 10.3074 5.40092C10.4053 5.40092 10.5031 5.3521 10.552 5.40092C10.6499 5.49856 10.6499 5.5962 10.601 5.64502C10.552 5.88912 7.46979 8.72069 7.2741 8.91597C6.58915 9.59946 5.80636 10.0388 7.02947 10.82C8.05689 11.5034 8.64398 11.9428 9.72031 12.6263C10.4053 13.0657 10.9434 13.6027 11.6284 13.5539C11.9708 13.5051 12.3133 13.2121 12.4601 12.2846C12.9004 10.1853 13.6832 5.49856 13.83 3.59458Z" fill="#E5E5E5"/>
                    </svg>
                    span Телеграм
            p.fz14_16
                a(href="")
                    <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.875 3.0625C14.1875 4.375 15 6.09375 15 7.96875C15 11.7812 11.8125 14.9062 7.96875 14.9062C6.8125 14.9062 5.6875 14.5938 4.65625 14.0625L1 15L1.96875 11.4062C1.375 10.375 1.03125 9.1875 1.03125 7.9375C1.03125 4.125 4.15625 1 7.96875 1C9.84375 1 11.5938 1.75 12.875 3.0625ZM7.96875 13.7188C11.1562 13.7188 13.8125 11.125 13.8125 7.96875C13.8125 6.40625 13.1562 4.96875 12.0625 3.875C10.9688 2.78125 9.53125 2.1875 8 2.1875C4.8125 2.1875 2.21875 4.78125 2.21875 7.9375C2.21875 9.03125 2.53125 10.0938 3.09375 11.0312L3.25 11.25L2.65625 13.375L4.84375 12.7812L5.03125 12.9062C5.9375 13.4375 6.9375 13.7188 7.96875 13.7188ZM11.1562 9.40625C11.3125 9.5 11.4375 9.53125 11.4688 9.625C11.5312 9.6875 11.5312 10.0312 11.375 10.4375C11.2188 10.8438 10.5312 11.2188 10.2188 11.25C9.65625 11.3438 9.21875 11.3125 8.125 10.8125C6.375 10.0625 5.25 8.3125 5.15625 8.21875C5.0625 8.09375 4.46875 7.28125 4.46875 6.40625C4.46875 5.5625 4.90625 5.15625 5.0625 4.96875C5.21875 4.78125 5.40625 4.75 5.53125 4.75C5.625 4.75 5.75 4.75 5.84375 4.75C5.96875 4.75 6.09375 4.71875 6.25 5.0625C6.375 5.40625 6.75 6.25 6.78125 6.34375C6.8125 6.4375 6.84375 6.53125 6.78125 6.65625C6.46875 7.3125 6.09375 7.28125 6.28125 7.59375C6.96875 8.75 7.625 9.15625 8.65625 9.65625C8.8125 9.75 8.90625 9.71875 9.03125 9.625C9.125 9.5 9.46875 9.09375 9.5625 8.9375C9.6875 8.75 9.8125 8.78125 9.96875 8.84375C10.125 8.90625 10.9688 9.3125 11.1562 9.40625Z" fill="#E5E5E5"/>
                    </svg>
                    span Ватсапп
    div.footer__bottom
        span.fb_1 ООО «Координационный совет по логистике»
        div.fb
            span.fb_2 ООО КСЛ
            span.fb_3
                a(href="") Политика обработки
        ul
            li
                a(href="")
                    span Инсайты
                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.0951 2.1875H11.8125V2.90489V10.0788V10.7962H10.3777V10.0788V4.63859L3.71196 11.3043L3.2038 11.8125L2.1875 10.7962L2.69565 10.288L9.36141 3.62228H3.9212H3.2038V2.1875H3.9212H11.0951Z" fill="#D6DCFF" fill-opacity="0.4"/>
                    </svg>
            li
                a(href="")
                    span Проекты
                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.0951 2.1875H11.8125V2.90489V10.0788V10.7962H10.3777V10.0788V4.63859L3.71196 11.3043L3.2038 11.8125L2.1875 10.7962L2.69565 10.288L9.36141 3.62228H3.9212H3.2038V2.1875H3.9212H11.0951Z" fill="#D6DCFF" fill-opacity="0.4"/>
                    </svg>
            li
                a(href="")
                    span Logbook
                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.0951 2.1875H11.8125V2.90489V10.0788V10.7962H10.3777V10.0788V4.63859L3.71196 11.3043L3.2038 11.8125L2.1875 10.7962L2.69565 10.288L9.36141 3.62228H3.9212H3.2038V2.1875H3.9212H11.0951Z" fill="#D6DCFF" fill-opacity="0.4"/>
                    </svg>
