footer
    div
        .logo
            include ./logo_main
            span
                | Логистический
                br
                | консалтинг
        div
            div Навигация
            nav
                a(href="") Направления
                a(href="") Технология
                a(href="") Результаты
                a(href="") Специалистам
                a(href="") Личный кабинет
        div
            div адрес
            p Ленинградский пр-кт, дом 39с14, офис 203
            p Проложить маршрут
        div
            div Контакты
            p audit@ccl-logistics.ru
            p +7 (495) 763-91-95
        div
            div Написать
            p Телеграм
            p Ватсапп
    div
        div
            span ООО «Координационный совет по логистике»
            span Политика обработки
        ul
            li Инсайты
            li Проекты
            li Logbook