header
    .header-mob
        a.header-mob__logo(href="")
            include vectors/logo
        a.header-mob__btn(href="")
            include vectors/burger
    .header-block
        .header__first
            a.header__logo(href="")
                include vectors/logo
                span.header__logo-txt
                    |Логистический
                    br
                    |консалтинг
            a.logo__x(href="")
                include vectors/x
        nav.header__menu
            a(href="#directions") Направления
            a(href="#technology") Технология
            a(href="#results") Результаты
            a(href="#specialists") Специалистам
        .header__links
            a.btn(href="")
                span Личный кабинет
                include vectors/pic01
            a.btn(href="")
                span Задать вопрос
                include vectors/pic02
            a.btn(href="")
                span Запросить аудит
                include vectors/pic03