section.ksl
    h4.label-btn.label-btn_upper КСЛ
    h2.primary-caption.primary-caption_center
        |Разработчик экосистемы&#32;
        span.primary-caption_iris_390 цифровых
        |&#32;
        span.primary-caption_iris логистических решений
    .figures
        .line
        .square
    .ksl__cards
        .ksl-item
            include vectors/image4
            h3 LogAudit
            p автоматизированный расчет и бенчмарк 12 KPI логистики с отраслевыми ориентирами
        .ksl-item
            include vectors/image5
            h3 LogicStore
            p верификация, моделирование и анализ товарных потоков.
        .ksl-item
            include vectors/image6
            h3 Цифровой склад
            p оценки сценариев логистики на основе имитационного мод

    .ksl__text
        .ksl-card
            include vectors/logo
            p № 1 в проектировании логистики в России
        .ksl-card
            h3
                |29
                span &#32;лет
            p экспертизы на рынке консалтинга логистических услуг
        .ksl-card
            h3 280 +
            p завершенных проектов, по оптимизации логистики
        .ksl-card
            span
            p Среди заказчиков — X5 Group, «Магнит», Danone, НЛМК, «Лукойл», «СТД Петрович» и другие лидеры отрасли.
    .figures_simple
        .line
        .line2

    .ksl__article
        .quote
            include vectors/quote
        .big-text HORIZON позволяет оценить эффективность всей сети и каждого склада в отдельности — и точно понять, какие действия сэкономят миллионы.
        .person
            div.person__img
                img(src="./images/photo.png" alt="")
            .person__content
                h3 Василий Демин
                p Исполнительный директор КСЛ, доктор технических наук
        .article-txt
            p Если у вас возник похожий вопрос — начните с диагностики  вашей сети. Это безопасно, быстро и поможет создать стратегическое преимущество.
            button.btn-label
                span Запросить аудит
                include vectors/pic11
script.
    const textElement = document.querySelector(".big-text");
    const originalText = textElement.textContent;

    textElement.innerHTML = originalText.split('').map(letter =>
        `<span class="seq-letter">${ letter }</span>`
    ).join('');

    const letters = gsap.utils.toArray('.seq-letter');


    ScrollTrigger.create({
        trigger: ".ksl",
        start: "bottom bottom",
        scrub: true,
        pin: true,
        onUpdate: (self) => {
            let cnt = letters.length;
            const n = 100 / cnt;
            const m = Math.floor(self.progress * 100 / n)
            letters.forEach((letter, i) => {
                if (i <= m) {
                    letter.style.color = "#6F92E8"
                } else {
                    letter.style.color = null
                }
            })
        }
    });
            