section
    h4 КСЛ
    h2 Разработчик экосистемы цифровых логистических решений
    div
        div
            h3 LogAudit
            p автоматизированный расчет и бенчмарк 12 KPI логистики с отраслевыми ориентирами
        div
            h3 LogicStore
            p верификация, моделирование и анализ товарных потоков.
        div
            h3 Цифровой склад
            p оценки сценариев логистики на основе имитационного мод
        div
            h3
                <svg width="121" height="78" viewBox="0 0 121 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M90.4888 59.5569C90.3992 59.5672 90.3093 59.5774 90.2191 59.5855L90.1168 59.8013C90.3493 60.1334 90.599 60.4527 90.8648 60.7579L91.0389 60.9409C92.8291 62.8215 94.6114 64.6939 96.45 66.5123C96.858 66.8914 97.378 67.1217 97.9283 67.1668C99.2761 67.2316 100.631 67.174 101.979 67.1057C102.949 67.0589 102.998 66.9582 102.998 65.9584V25.5628C103.023 25.027 102.758 24.804 102.25 24.804C101.955 24.804 101.66 24.7932 101.366 24.7824C101.072 24.7716 100.779 24.7608 100.486 24.7608H79.4897C79.3304 24.7608 79.1723 24.7607 79.0148 24.7605C78.1531 24.7596 77.3093 24.7586 76.4024 24.786C75.3299 24.8184 75.2346 24.9335 75.2346 25.9872C75.2459 29.461 75.0219 32.9315 74.5642 36.3738C74.2578 38.9203 73.7864 41.4434 73.1529 43.9264C72.3891 46.9375 71.1879 49.8153 69.5894 52.4645C67.4513 55.8991 64.6004 58.3878 60.7688 59.6574C57.6459 60.7546 54.2914 60.977 51.0555 60.3012C49.158 59.8904 47.3741 59.0537 45.8337 57.852C43.2461 55.8344 41.3883 52.9989 40.5513 49.7897C39.7142 46.5804 39.9452 43.1788 41.2081 40.1178C42.6759 36.773 44.9622 34.1584 48.1623 32.5292C50.9814 31.0942 54.0333 30.9791 57.1064 31.6085C57.5479 31.6981 57.9815 31.8062 58.4121 31.9136C58.6905 31.983 58.9675 32.0521 59.2445 32.1156C59.4715 32.1826 59.7144 32.1659 59.9305 32.0686C60.1466 31.9713 60.3223 31.7995 60.4265 31.5833C60.7419 31.0771 61.0925 30.5927 61.4433 30.108C61.5635 29.942 61.6837 29.7759 61.8025 29.6089C61.9068 29.465 62.0116 29.3207 62.1166 29.176C62.6547 28.435 63.1994 27.6848 63.7219 26.9295C64.1806 26.2714 64.0924 25.9944 63.3444 25.6348C63.2494 25.5875 63.1545 25.5397 63.0597 25.492C62.7072 25.3144 62.3545 25.1368 61.993 24.9838C59.2939 23.8221 56.4749 23.4481 53.5535 23.5057C50.2864 23.5442 47.0766 24.3856 44.1966 25.9584C41.4909 27.4867 39.1292 29.5755 37.2635 32.0904C34.6773 35.446 33.072 39.1647 32.7756 43.4589C32.4722 47.2346 32.9915 51.032 34.2963 54.5792C35.0457 56.6582 36.1178 58.6011 37.4717 60.3335C39.3972 62.7646 41.8198 64.7382 44.5706 66.1167C46.9274 67.2999 49.3866 68.2206 52.0152 68.4004C55.3313 68.6831 58.6704 68.3628 61.8766 67.4546C64.6497 66.6767 67.2608 65.391 69.5823 63.6603C74.1161 60.1861 77.0658 55.5394 78.9851 50.1807C79.786 47.9437 80.3929 45.6276 80.9962 43.3222C81.3391 41.9612 81.5996 40.5799 81.776 39.1863C81.9263 38.1138 82.0393 37.0365 82.1523 35.96C82.2329 35.1917 82.3135 34.4239 82.4075 33.6585C82.5487 32.4681 82.5804 32.4681 83.713 32.4681H94.6506C94.8589 32.4681 95.0736 32.4875 95.2989 32.5079C95.4094 32.5179 95.5224 32.5281 95.6385 32.5364C95.6498 32.7186 95.6638 32.888 95.6772 33.0493C95.7012 33.3401 95.7232 33.6047 95.7232 33.8707C95.7067 40.6177 95.6984 47.3646 95.6984 54.1116C95.6984 54.8471 95.7082 55.5817 95.7179 56.3163C95.7276 57.0509 95.7373 57.7854 95.7373 58.5209C95.7408 59.3661 95.5962 59.5135 94.7635 59.5135H91.0588C90.8692 59.5135 90.6796 59.5352 90.4888 59.5569Z" fill="#6F92E8"/>
                <path d="M30.4206 25.9009C30.6241 25.5914 30.8 25.2641 30.9463 24.9227C30.6666 24.8516 30.3825 24.7999 30.096 24.768C27.7427 24.7465 25.3928 24.7465 23.0395 24.7465C22.6573 24.7475 22.2819 24.8493 21.9499 25.0422C21.6179 25.2351 21.3405 25.5123 21.1448 25.847C17.6377 30.8317 14.1201 35.8128 10.5918 40.7903L10.5912 40.7911C10.161 41.3986 9.73073 42.0062 9.26873 42.5885C9.06359 42.8013 8.80498 42.9525 8.52121 43.0254C8.23743 43.0984 7.93943 43.0903 7.65985 43.0021C7.27676 42.8443 7.29117 42.518 7.30517 42.2006C7.30935 42.1057 7.3135 42.0117 7.30702 41.9232C7.2717 41.5849 7.2835 41.2433 7.29528 40.9029C7.30116 40.733 7.30702 40.5635 7.30702 40.3947V26.0915C7.30702 24.9982 7.21528 24.8472 6.10741 24.8472C4.43502 24.8364 2.75556 24.8579 1.08318 24.8939C0 24.9155 0 24.9515 0 26.0304V65.9512C0 66.9079 0.0846746 67.0302 1.05848 67.0302H5.82162C7.33523 67.0302 7.33523 67.023 7.33523 65.4765V50.0117C7.33523 48.8284 7.43756 48.7529 8.63011 48.8752C8.98604 48.9096 9.34496 48.9267 9.70371 48.9438C10.0206 48.9589 10.3374 48.9741 10.6518 49.0011C13.5979 49.26 15.9724 50.5152 17.6589 53.0615C18.871 54.8916 19.5829 56.9369 20.2942 58.9805C20.4649 59.471 20.6356 59.9614 20.8132 60.4486C21.1647 61.4258 21.5265 62.401 21.8885 63.3768C22.2313 64.3009 22.5743 65.2255 22.9089 66.1526C23.0082 66.4705 23.2128 66.7433 23.4876 66.9243C23.7624 67.1054 24.0904 67.1835 24.4155 67.1453H27.5909C27.885 67.1453 28.179 67.1485 28.473 67.1517C29.061 67.158 29.6491 67.1644 30.2371 67.1453C30.8616 67.1273 31.1157 66.7532 30.9781 66.1275C30.9286 65.9559 30.8685 65.7877 30.7981 65.624C29.2998 61.6583 27.8097 57.6901 26.3278 53.7196C25.5987 51.6906 24.5078 49.8165 23.1101 48.1919C21.4592 46.3387 19.3091 45.0227 16.9286 44.4084C16.5566 44.2874 16.1915 44.1457 15.8348 43.984C15.8743 43.8498 15.9263 43.7197 15.99 43.5956L22.3056 35.8595C25.0247 32.5484 27.7297 29.2288 30.4206 25.9009Z" fill="#6F92E8"/>
                </svg>
            p № 1 в проектировании логистики в России
        div
            h3 29 лет
            p экспертизы на рынке консалтинга логистических услуг
            p Среди заказчиков — X5 Group, «Магнит», Danone, НЛМК, «Лукойл», «СТД Петрович» и другие лидеры отрасли.
        div
            h3 280 +
            p завершенных проектов, по оптимизации логистики
    div
        div HORIZON позволяет оценить эффективность всей сети и каждого склада в отдельности — и точно понять, какие действия сэкономят миллионы.
        p Если у вас возник похожий вопрос — начните с диагностики  вашей сети. Это безопасно, быстро и поможет создать стратегическое преимущество.
        button
            span Запросить аудит
            <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="22" height="22" rx="6" fill="#6F92E8"/>
            <path d="M5.5 15.0518L8.88176 11.8311L11.0611 13.7528L17.4167 7M17.4167 7H13.8739M17.4167 7V10.5428" stroke="white" stroke-width="1.4"/>
            </svg>
            