section.ksl
    h4.label-btn.label-btn_upper КСЛ
    h2.primary-caption.primary-caption_center
        |Разработчик экосистемы&#32;
        span.primary-caption_iris_390 цифровых
        |&#32;
        span.primary-caption_iris логистических решений
    .figures
        .line
        .square
    .ksl__cards
        .ksl-item
            include vectors/image4
            h3 LogAudit
            p автоматизированный расчет и бенчмарк 12 KPI логистики с отраслевыми ориентирами
        .ksl-item
            include vectors/image5
            h3 LogicStore
            p верификация, моделирование и анализ товарных потоков.
        .ksl-item
            include vectors/image6
            h3 Цифровой склад
            p оценки сценариев логистики на основе имитационного мод

    .ksl__text
        .ksl-card
            include vectors/logo
            p № 1 в проектировании логистики в России
        .ksl-card
            h3
                strong.ksl_a 0
                span &#32;лет
            p экспертизы на рынке консалтинга логистических услуг
        .ksl-card
            h3
                strong.ksl_b 0
                |&#32;+
            p завершенных проектов, по оптимизации логистики
        .ksl-card
            span
            p Среди заказчиков — X5 Group, «Магнит», Danone, НЛМК, «Лукойл», «СТД Петрович» и другие лидеры отрасли.
    .figures_simple
        .line
        .line2

    .ksl__article
        .quote
            include vectors/quote
        .big-text HORIZON позволяет оценить эффективность всей сети и каждого склада в отдельности — и точно понять, какие действия сэкономят миллионы.
        .person
            div.person__img
                img(src="./images/photo.png" alt="")
            .person__content
                h3 Василий Демин
                p Исполнительный директор КСЛ, доктор технических наук
        .article-txt
            p Если у вас возник похожий вопрос — начните с диагностики  вашей сети. Это безопасно, быстро и поможет создать стратегическое преимущество.
            button.btn-label
                span Запросить аудит
                include vectors/pic11
script.
    const textElement = document.querySelector(".big-text");
    const originalText = textElement.textContent;

    textElement.innerHTML = originalText.split('').map(letter =>
        `<span class="seq-letter">${ letter }</span>`
    ).join('');

    const letters = gsap.utils.toArray('.seq-letter');
    for (let i = 0; i < 7; i++) {
        letters[i].style.color = "#32364C"
    }

    const kslA = document.querySelector(".ksl_a")
    const kslB = document.querySelector(".ksl_b")
    const kslBlock = document.querySelector(".ksl")



    ScrollTrigger.create({
        trigger: ".ksl__article",
        start: "-40 top",
        scrub: true,
        pin: true,
        onUpdate: (self) => {
            let cnt = letters.length;
            const n = 100 / cnt;
            const m = Math.floor(self.progress * 100 / n)
            letters.forEach((letter, i) => {
                if (i <= m) {
                    letter.style.color = "#32364C"
                } else if (i >= 8) {
                    letter.style.color = null
                }
            })
        }
    });


    const setN = (el, n, l = 30) => {
        let char = +el.innerText
        if (char < n) {
            setTimeout(() => {
                if (n.toString().length > 2 && n - char >= 10) {
                    el.innerText = char + 10;
                } else {
                    el.innerText = char + 1;
                }
                setN(el, n)
            }, l)
        }
    }
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            // Если элемент виден на экране
            if (entry.isIntersecting) {
                setN(kslA, 29)
                setN(kslB, 280, 1)
                 observer.unobserve(entry.target);
            }
        });
    }, {
        // Настройки:
        root: null, // отслеживаем относительно viewport
        rootMargin: '0px', // отступы
        //threshold: .5 // сработает когда 10% элемента видно
    });

    observer.observe(kslBlock)