section.ksl
    h4.title-label КСЛ
    h2
        |Разработчик экосистемы&#32;
        span.span цифровых
        |&#32;
        span.iris-txt логистических решений
    .figures
        .line
        .square
    .ksl__cards
        .ksl-item
            include vectors/image4
            h3 LogAudit
            p автоматизированный расчет и бенчмарк 12 KPI логистики с отраслевыми ориентирами
        .ksl-item
            include vectors/image5
            h3 LogicStore
            p верификация, моделирование и анализ товарных потоков.
        .ksl-item
            include vectors/image6
            h3 Цифровой склад
            p оценки сценариев логистики на основе имитационного мод

    .ksl__text
        .ksl-card
            include vectors/logo
            p № 1 в проектировании логистики в России
        .ksl-card
            h3
                |29
                span &#32;лет
            p экспертизы на рынке консалтинга логистических услуг
        .ksl-card
            h3 280 +
            p завершенных проектов, по оптимизации логистики
        .ksl-card
            span
            p Среди заказчиков — X5 Group, «Магнит», Danone, НЛМК, «Лукойл», «СТД Петрович» и другие лидеры отрасли.
    .figures_simple
        .line
        .line2

    .ksl__article
        .quote
            include vectors/quote
        .big-text HORIZON позволяет оценить эффективность всей сети и каждого склада в отдельности — и точно понять, какие действия сэкономят миллионы.
        .person
            div.person__img
                img(src="./images/photo.png" alt="")
            .person__content
                h3 Василий Демин
                p Исполнительный директор КСЛ, доктор технических наук
        .article-txt
            p Если у вас возник похожий вопрос — начните с диагностики  вашей сети. Это безопасно, быстро и поможет создать стратегическое преимущество.
            button.btn-label
                span Запросить аудит
                include vectors/pic11
            