section.methodic
    h4.label-btn.label-btn_lit Методика
    h2.primary-caption.primary-caption_center
        | Почему моделирование дает&#32;
        span.primary-caption_iris достоверный результат
    .sq_line
    .map
        img(src="images/map.svg" alt="")
        .methodic__cards
            .methodic-item
                include vectors/image1
                p.methodic__text
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 0C13.7761 1.20706e-08 14 0.223858 14 0.5C14 0.776142 13.7761 1 13.5 1H5C2.79086 1 1 2.79086 1 5V13.5C1 13.7761 0.776142 14 0.5 14C0.223858 14 0 13.7761 0 13.5V0.5C0 0.223858 0.223858 0 0.5 0H13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 13.5C14 13.7761 13.7761 14 13.5 14C13.2239 14 13 13.7761 13 13.5L13 5C13 2.79086 11.2091 1 9 1L0.5 0.999999C0.223858 0.999999 -3.39263e-08 0.776142 -2.18557e-08 0.499999C-9.78513e-09 0.223857 0.223858 -6.02174e-07 0.5 -5.90104e-07L13.5 -2.18557e-08C13.7761 -9.78513e-09 14 0.223858 14 0.5L14 13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 14C13.7761 14 14 13.7761 14 13.5C14 13.2239 13.7761 13 13.5 13H5C2.79086 13 1 11.2091 1 9V0.5C1 0.223858 0.776142 0 0.5 0C0.223858 0 0 0.223858 0 0.5V13.5C0 13.7761 0.223858 14 0.5 14H13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 0.5C14 0.223858 13.7761 9.78513e-09 13.5 2.18557e-08C13.2239 3.39263e-08 13 0.223858 13 0.5L13 9C13 11.2091 11.2091 13 9 13L0.5 13C0.223858 13 -3.39263e-08 13.2239 -2.18557e-08 13.5C-9.78513e-09 13.7761 0.223858 14 0.5 14L13.5 14C13.7761 14 14 13.7761 14 13.5L14 0.5Z" fill="#3F3F3F"/>
                    </svg>
                    |Для расчетов используется реальная дорожная сеть — авто и ж/д — вместо расстояний «по прямым».
            .methodic-item
                include vectors/image2
                p.methodic__text
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 0C13.7761 1.20706e-08 14 0.223858 14 0.5C14 0.776142 13.7761 1 13.5 1H5C2.79086 1 1 2.79086 1 5V13.5C1 13.7761 0.776142 14 0.5 14C0.223858 14 0 13.7761 0 13.5V0.5C0 0.223858 0.223858 0 0.5 0H13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 13.5C14 13.7761 13.7761 14 13.5 14C13.2239 14 13 13.7761 13 13.5L13 5C13 2.79086 11.2091 1 9 1L0.5 0.999999C0.223858 0.999999 -3.39263e-08 0.776142 -2.18557e-08 0.499999C-9.78513e-09 0.223857 0.223858 -6.02174e-07 0.5 -5.90104e-07L13.5 -2.18557e-08C13.7761 -9.78513e-09 14 0.223858 14 0.5L14 13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 14C13.7761 14 14 13.7761 14 13.5C14 13.2239 13.7761 13 13.5 13H5C2.79086 13 1 11.2091 1 9V0.5C1 0.223858 0.776142 0 0.5 0C0.223858 0 0 0.223858 0 0.5V13.5C0 13.7761 0.223858 14 0.5 14H13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 0.5C14 0.223858 13.7761 9.78513e-09 13.5 2.18557e-08C13.2239 3.39263e-08 13 0.223858 13 0.5L13 9C13 11.2091 11.2091 13 9 13L0.5 13C0.223858 13 -3.39263e-08 13.2239 -2.18557e-08 13.5C-9.78513e-09 13.7761 0.223858 14 0.5 14L13.5 14C13.7761 14 14 13.7761 14 13.5L14 0.5Z" fill="#3F3F3F"/>
                    </svg>
                    |Система учитывает фактические и оптимальные маршруты, ограничения и актуальные тарифы.
            .methodic-item
                include vectors/image3
                p.methodic__text
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 0C13.7761 1.20706e-08 14 0.223858 14 0.5C14 0.776142 13.7761 1 13.5 1H5C2.79086 1 1 2.79086 1 5V13.5C1 13.7761 0.776142 14 0.5 14C0.223858 14 0 13.7761 0 13.5V0.5C0 0.223858 0.223858 0 0.5 0H13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 13.5C14 13.7761 13.7761 14 13.5 14C13.2239 14 13 13.7761 13 13.5L13 5C13 2.79086 11.2091 1 9 1L0.5 0.999999C0.223858 0.999999 -3.39263e-08 0.776142 -2.18557e-08 0.499999C-9.78513e-09 0.223857 0.223858 -6.02174e-07 0.5 -5.90104e-07L13.5 -2.18557e-08C13.7761 -9.78513e-09 14 0.223858 14 0.5L14 13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 14C13.7761 14 14 13.7761 14 13.5C14 13.2239 13.7761 13 13.5 13H5C2.79086 13 1 11.2091 1 9V0.5C1 0.223858 0.776142 0 0.5 0C0.223858 0 0 0.223858 0 0.5V13.5C0 13.7761 0.223858 14 0.5 14H13.5Z" fill="#3F3F3F"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 0.5C14 0.223858 13.7761 9.78513e-09 13.5 2.18557e-08C13.2239 3.39263e-08 13 0.223858 13 0.5L13 9C13 11.2091 11.2091 13 9 13L0.5 13C0.223858 13 -3.39263e-08 13.2239 -2.18557e-08 13.5C-9.78513e-09 13.7761 0.223858 14 0.5 14L13.5 14C13.7761 14 14 13.7761 14 13.5L14 0.5Z" fill="#3F3F3F"/>
                    </svg>
                    |Работает на реальных товарных потоках с учетом товарного соседства и требований к уровню клиентского сервиса.