section.methodic
    h4.label-btn.label-btn_lit Методика
    h2.primary-caption.primary-caption_center
        | Почему моделирование дает&#32;
        span.primary-caption_iris достоверный результат
    .figures
        .line
        .square
    .map
        img(src="images/map.svg" alt="")
        .methodic__cards
            .methodic-item
                include vectors/image1
                p.methodic__text Для расчетов используется реальная дорожная сеть — авто и ж/д — вместо расстояний «по прямым».
            .methodic-item
                include vectors/image2
                p.methodic__text Система учитывает фактические и оптимальные маршруты, ограничения и актуальные тарифы.
            .methodic-item
                include vectors/image3
                p.methodic__text Работает на реальных товарных потоках с учетом товарного соседства и требований к уровню клиентского сервиса.