section.partners
    h4.label-btn Партнеры
    h2.primary-caption.primary-caption_center
        |Кейсы с крупнейшими&#32;
        span.primary-caption_iris российскими компаниями
    .figures
        .line
        .square
    div.partners__block
        .partners__img
            img(src="./images/partners_1.svg" alt="АК «Алроса»")
        ul.partners__list
            li.active АК «Алроса»
            li Сахалинская Энергия 
            li М.Видео-Эльдорадо 
            li Сбербанк
            li Magnum Go
            li Продо
            li Henderson
            li Сегежа Групп 
            li Восток-Сервис
            li Мосэнерго 
            li Knauf
            li ЛУКОЙЛ 
            li КОМОС Групп 
            li КАМАЗ
            li Милком
    .figures_simple
        .line
        .line2
script.
    const pImgBlock = document.querySelector(".partners__img img")
    const pList = document.querySelectorAll(".partners__list li")

    const setPartner = (i) => {
        pImgBlock.src = `./images/partners_${i + 1}.svg`
        pImgBlock.alt = pList[i].textContent;
    }

    pList.forEach((item, i) => {
        item.addEventListener("mouseover", () => {
            setPartner(i)
            item.classList.add("active")
            pList.forEach(el => {
                if (el !== item && el.classList.contains("active")) {
                    el.classList.remove("active")
                }
            })
        })
        item.addEventListener("click", () => {
            setPartner(i)
            this.classList.add("active")
        })
    })
