section.partners
    h4.title-label Партнеры
    h2
        |Кейсы с крупнейшими&#32;
        .iris-txt российскими компаниями
    .figures
        .line
        .square
    div.partners__block
        .partners__img
            <svg width="130" height="72" viewBox="0 0 130 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.0524 10.0023H36.2738L33.0165 33.1354L32.9601 33.4624L32.7278 34.9638L33.1502 33.6029L33.2957 33.2206L37.107 23.114H43.1969L37.5341 36.3362L39.2989 51.5572H32.932L32.3687 40.6354L32.3453 39.9929L32.3195 38.031L32.1294 39.4633L32.0824 39.7903L30.4303 51.5549H24L30.0548 10M45.0861 23.1163H51.8426L52.2721 34.8878L52.2861 35.2539L52.258 36.6701L52.5631 34.8763L54.4593 23.1163H59.6551L55.2948 51.5595H49.1977L48.5735 38.4547L48.5571 38.1116L48.5805 36.6701L48.3247 38.4938L46.2924 51.5595H40.7234L45.0861 23.1163ZM86.958 23.1163H93.2404L89.4127 46.3645C88.7697 50.2976 86.0943 51.6792 80.4972 51.4489C74.6231 51.2072 74.6841 47.4514 74.9071 45.7866C76.5099 37.08 77.7678 29.5225 78.6854 23.1163H85.0688L81.3021 45.8326C81.2364 46.1481 81.4007 46.7514 81.9851 46.8642C82.7102 47.0001 83.0669 46.4659 83.1327 46.0859L86.9556 23.1163M95.7984 23.1163H106L105.38 27.6273H101.569L100.743 33.2897H104.453L103.719 38.0379H100.112L96.2114 62H89.7155L95.796 23.114M65.7686 41.2571L68.857 29.0228L68.9931 28.4816L69.4883 26.3792L69.1621 28.5392L69.094 29.0987L67.7024 41.2548H65.7709M63.1707 51.5595L64.5811 45.9915H67.1555L66.5243 51.5595H72.5556L74.2265 23.1163H65.8765L57.0596 51.5595H63.1707Z" fill="#6F92E8"/>
            </svg>
        ul.partners__list
            li АК «Алроса»
            li Сахалинская Энергия 
            li М.Видео-Эльдорадо 
            li Сбербанк
            li Magnum Go
            li Продо
            li Henderson
            li Сегежа Групп 
            li Восток-Сервис
            li Мосэнерго 
            li Knauf
            li ЛУКОЙЛ 
            li КОМОС Групп 
            li КАМАЗ
            li Милком
    .figures_simple
        .line
        .line2
