section
    h4 Партнеры
    h2 Кейсы с крупнейшими российскими компаниями
    div
        ul
            li АК «Алроса»
            li Сахалинская Энергия 
            li М.Видео-Эльдорадо 
            li Сбербанк
            li Magnum Go
            li Продо
            li Henderson
            li Сегежа Групп 
            li Восток-Сервис
            li Мосэнерго 
            li Knauf
            li ЛУКОЙЛ 
            li КОМОС Групп 
            li КАМАЗ
            li Милком
