<section class="partners"><h4 class="label-btn">Партнеры</h4><h2 class="primary-caption primary-caption_center">Кейсы с крупнейшими&#32;<span class="primary-caption_iris">российскими компаниями</span></h2><div class="figures"><div class="line"></div><div class="square"></div></div><div class="partners__block"><div class="partners__img"><div class="partners__bg"><img src="./images/partners_1.svg" alt="АК «Алроса»"/></div></div><ul class="partners__list"><li class="active">АК «Алроса»</li><li>Сахалинская Энергия </li><li>М.Видео-Эльдорадо </li><li>Сбербанк</li><li>Magnum Go</li><li>Продо</li><li>Henderson</li><li>Сегежа Групп </li><li>Восток-Сервис</li><li>Мосэнерго </li><li>Knauf</li><li>ЛУКОЙЛ </li><li>КОМОС Групп </li><li>КАМАЗ</li><li>Милком</li></ul></div><div class="figures_simple"><div class="line"></div><div class="line2"></div></div></section><script>const pImgBlock = document.querySelector(".partners__img img")
const pList = document.querySelectorAll(".partners__list li")

const setPartner = (i) => {
    pImgBlock.src = `./images/partners_${i + 1}.svg`
    pImgBlock.alt = pList[i].textContent;
}

pList.forEach((item, i) => {
    item.addEventListener("mouseover", () => {
        setPartner(i)
        item.classList.add("active")
        pList.forEach(el => {
            if (el !== item) {
                if (el.classList.contains("active")) {
                    el.classList.remove("active")
                }
                el.style.filter = "blur(1px)"
            } else {
                el.style.filter = "blur(0)"
            }
        })
    })
    item.addEventListener("mouseout", () => {
        pList.forEach(el => {
                el.style.filter = "blur(0)"
        })
    })
    item.addEventListener("click", () => {
        setPartner(i)
        this.classList.add("active")
    })
})</script>