section.profit
    h4.title-label.title-label_light Профит
    h2
        .iris-txt Результаты клиентов
        |&#32;
        span сокращение
        |&#32;затрат и рост эффективности
    .figures
        .line
        .square
    h4.cnt
        span Кейс
        span / <span>01</span> — 05 /
    div.profit-cards
        div.profit-item
            header
                h3 Askona
                p производитель и ритейлер товаров для сна и household
            div.content
                h4 результат
                p Снизили годовые затраты на логистику на 1,4% при росте рыночных тарифов на 22%
                .widgets

                    include vectors/widget1
                    include vectors/widget2

                h4 что сделали
                ul
                    li Перераспределили товарные потоки и запасы между складами
                    li Повысили клиентский сервис, сделали сеть более гибкой
                    li Оптимизировали локации и мощности складов
                div
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 1.75V8.25H13.0625L10.5938 5.78125L10.0625 5.25L11.125 4.1875L11.6562 4.71875L15.4062 8.46875L15.9375 9L15.4062 9.53125L11.6562 13.2812L11.125 13.8125L10.0625 12.75L10.5938 12.2188L13.0625 9.75H0.75H0V9V1.75V1H1.5V1.75Z" fill="#212223"/>
                    </svg>
                    span подробнее
        div
            div
                h3 Находка
                p сеть дискаунтеров
            div
                h4 результат
                p Пересчитали схему складов и сэкономили 280 млн руб. в год
                h4 что сделали
                ul
                    li Перераспределили потоки между складами
                    li Сократили пробеги транспорта на 22%. Снизили количество пустых рейсов
                    li Рост сети ускорился в 1,5 раза без инвестиций в новые склады
                div
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 1.75V8.25H13.0625L10.5938 5.78125L10.0625 5.25L11.125 4.1875L11.6562 4.71875L15.4062 8.46875L15.9375 9L15.4062 9.53125L11.6562 13.2812L11.125 13.8125L10.0625 12.75L10.5938 12.2188L13.0625 9.75H0.75H0V9V1.75V1H1.5V1.75Z" fill="#212223"/>
                    </svg>
                    span подробнее
        div
            div
                h3 Галамарт
                p федеральный ритейлер товаров для дома
            div
                h4 результат
                p Отказались от РЦ за 8 млрд в пользу более эффективной схемы
                h4 что сделали
                ul
                    li Вместо одного центрального РЦ открыли 5 РЦ в регионах
                    li Сократили плечи доставки на 35%, ускорив поставки в ключевые города
                    li Ускорили масштабирование сети, сократив издержки на складскую логистику на 18%
                div
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 1.75V8.25H13.0625L10.5938 5.78125L10.0625 5.25L11.125 4.1875L11.6562 4.71875L15.4062 8.46875L15.9375 9L15.4062 9.53125L11.6562 13.2812L11.125 13.8125L10.0625 12.75L10.5938 12.2188L13.0625 9.75H0.75H0V9V1.75V1H1.5V1.75Z" fill="#212223"/>
                    </svg>
                    span подробнее
        div
            div
                h3 Прогресс
                p производитель продуктов питания
            div
                h4 результат
                p Вместо проекта на 1,2 млрд запустили 9 эффективных складов в регионах
                h4 что сделали
                ul
                    li Снизили ежегодные операционные затраты
                    li Сократили долю упущенных продаж, разместив запасы ближе к потребителям
                    li Вышли в регионы за 3,5 месяца и обеспечили рост на 7 лет без строительства — за счёт сети арендуемых и 3PL-складов
                div
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 1.75V8.25H13.0625L10.5938 5.78125L10.0625 5.25L11.125 4.1875L11.6562 4.71875L15.4062 8.46875L15.9375 9L15.4062 9.53125L11.6562 13.2812L11.125 13.8125L10.0625 12.75L10.5938 12.2188L13.0625 9.75H0.75H0V9V1.75V1H1.5V1.75Z" fill="#212223"/>
                    </svg>
                    span подробнее
        div
            div
                h3 NDA*
                p Крупнейший производитель строительных материалов
            div
                h4 результат
                p Сэкономили 42% логистических затрат и отказались от избыточного склада
                h4 что сделали
                ul
                    li Сократили арендные издержки, перейдя на другой формат складов
                    li Снизили площадь хранения от 2,1 до 5,6 раз по двум товарным группам
                    li Исключили перемещения без создания ценности: до 30% продукции в регионы отправлялось через центральный склад
                div
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 1.75V8.25H13.0625L10.5938 5.78125L10.0625 5.25L11.125 4.1875L11.6562 4.71875L15.4062 8.46875L15.9375 9L15.4062 9.53125L11.6562 13.2812L11.125 13.8125L10.0625 12.75L10.5938 12.2188L13.0625 9.75H0.75H0V9V1.75V1H1.5V1.75Z" fill="#212223"/>
                    </svg>
                    span подробнее
