section.scenarios
    h4.label-btn.label-btn_light.label-btn_upper HORIZON
    h2.primary-caption.primary-caption_light.primary-caption_center
        span.primary-caption_iris Помогает развивать логистическую
        | &#32;
        span.primary-caption_iris_390_1440 сеть быстро,
        | &#32;гибко и с минимальными затратами
    .sq_line
    h4.cnt-b
        span Направление
        span.label-cnt
            | /&#32;
            span.sc-cnt 00
            | &#32; — 07 /
    div
        .circles-block
            .circles
                include vectors/circle1
                include vectors/circle2
                include vectors/circle1
                include vectors/circle2
                include vectors/circle1
                svg.sc_line(viewBox="0 0 1440 1" fill="none" xmlns="http://www.w3.org/2000/svg")
                    line(x1="0" x2="1440" y1="0" y2="1" stroke="#6F92E833" stroke-width="2"
                    stroke-dasharray="4 4")
                    line.sc_progress(x1="0" x2="0" y1="0" y2="1" stroke="#6F92E8" stroke-width="2"
                        stroke-dasharray="4 4")
                .sc__item
                    span 01
                    span.l
                    span.c
                    span Размещение и количество складов
                .sc__item
                    span 02
                    span.l
                    span.c
                    span Размещение производств
                .sc__item
                    span 03
                    span.l
                    span.c
                    span Формат складов и модель владения
                .sc__item
                    span 04
                    span.l
                    span.c
                    span Рост и устойчивость сети
                .sc__item
                    span 05
                    span.l
                    span.c
                    span Частота поставок и работа с запасами
                .sc__item
                    span 06
                    span.l
                    span.c
                    span Клиентский сервис
                .sc__item
                    span 07
                    span.l
                    span.c
                    span Адекватность логистических затрат
    //.mi
    .figures_simple
        .line
        .line2

    div.ss
        div.sc
            div.sc-card
                h4 Сценарии и расчеты
                p Где открыть склады, чтобы снизить затраты без ухудшения сервиса?
            div.sc-card
                h4 Сценарии и расчеты
                p Что выгоднее расширить имеющийся склад или распределить запас по регионам продаж?
        div.sc
            div.sc-card
                h4 Сценарии и расчеты
                p Где открыть производство, чтобы снизить транспортные и производственные затраты?
            div.sc-card
                h4 Сценарии и расчеты
                p Что выгоднее производство и отдельный склад или производственно-складской комплекс?
            div.sc-card
                h4 Сценарии и расчеты
                p Как сбалансировать мощности где держать основное производство, а что выгоднее выпускать на сторонних площадках?
        div.sc
            div.sc-card
                h4 Сценарии и расчеты
                p Что выбрать аренду, собственные мощности или аутсорсинг?
            div.sc-card
                h4 Сценарии и расчеты
                p Как повлияет на затраты смена формата РЦ, консолидационный центр, кросс-док?
        div.sc
            div.sc-card
                h4 Сценарии и расчеты
                p Как изменится стоимость логистики при росте бизнеса — экспансии в регионы РФ, СНГ или другие страны?
            div.sc-card
                h4 Сценарии и расчеты
                p Где появятся узкие места, кратно удорожающие логистику?
            div.sc-card
                h4 Сценарии и расчеты
                p Есть ли риски утраты конкурентного преимущества, если ничего в бизнесе не менять?
        div.sc
            div.sc-card
                h4 Сценарии и расчеты
                p Как увеличить доходность бизнеса за счёт баланса частоты поставок и затрат?
            div.sc-card
                h4 Сценарии и расчеты
                p Как сбалансировать затраты на хранение и транспорт?
        div.sc
            div.sc-card
                h4 Сценарии и расчеты
                p Как через конфигурацию складской сети улучшить сервис, скорость доставки и NPS?
            div.sc-card
                h4 Сценарии и расчеты
                p Какой будет структура затрат при заданном уровне сервиса?
        div.sc
            div.sc-card
                h4 Сценарии и расчеты
                p Насколько затраты на транспорт и склады соответствуют отраслевому бенчмарку и рынку в целом?
        div.btn-block
            button.btn-label
                span запросить аудит
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="22" height="22" rx="6" fill="#D6DCFF"/>
                <path d="M5 15.0518L8.38176 11.8311L10.5611 13.7528L16.9167 7M16.9167 7H13.3739M16.9167 7V10.5428" stroke="#212223" stroke-width="1.4"/>
                </svg>

        div.ss__line
script.
    const scData = gsap.utils.toArray(".sc__item")
    const scText = gsap.utils.toArray(".sc")
    const line = document.querySelector(".sc_progress")
    const scCnt = document.querySelector(".sc-cnt")

    const lineAnimation = gsap.to(line, {
        attr: { x2: 1440 },
        duration: 1,
        ease: "none",
        paused: true
    });

    ScrollTrigger.create({
        trigger: ".second-section",
        start: "bottom bottom",
        scrub: true,
        pin: true,
        onUpdate: (self) => {
            lineAnimation.progress(self.progress);
            const progressCnt = 100 / (scData.length + 1);
            const current = Math.floor(self.progress * 100 / progressCnt)
            if (current >= 1 && current < scData.length + 1) {
                scData[current - 1].classList.add("active")
                scText[current - 1].classList.add("active")
                scData[current - 1].previousElementSibling?.classList.add("empty");
                scText[current - 1].previousElementSibling?.classList.add("empty");
                scText[current - 1].previousElementSibling?.classList.remove("active");
                scData[current - 1].previousElementSibling?.classList.remove("active");
                setTimeout(() => {
                    scText[current - 1].previousElementSibling?.classList.remove("empty")
                    scData[current - 1].previousElementSibling?.classList.remove("active");
                }, 1000)
            }
            if (current <= 7) {
                scCnt.innerText = `0${current}`
            }
            scData.forEach((card, i) => {
                if (i > current - 1 && card.classList.contains("active")) {
                    card.classList.remove("active")
                    scText[i].classList.remove("active")
                }
            })
        }
    });
