section.scenarios
    div
        .circles-block
            .circles
                include vectors/circle1
                include vectors/circle2
                include vectors/circle1
                include vectors/circle2
                include vectors/circle1
        div
            span 01
            spaan Размещение и количество складов
        div
            span 02
            spaan Размещение производств
        div
            span 03
            spaan Формат складов и модель владения
        div
            span 04
            spaan Рост и устойчивость сети
        div
            span 05
            spaan Частота поставок и работа с запасами
        div
            span 06
            spaan Клиентский сервис
        div
            span 07
            spaan Адекватность логистических затрат
    div
        div
            div
                h3 Сценарии и расчеты
                p Где открыть склады, чтобы снизить затраты без ухудшения сервиса?
            div
                h3 Сценарии и расчеты
                p Что выгоднее расширить имеющийся склад или распределить запас по регионам продаж?
        div
            div
                h3 Сценарии и расчеты
                p Где открыть производство, чтобы снизить транспортные и производственные затраты?
            div
                h3 Сценарии и расчеты
                p Что выгоднее производство и отдельный склад или производственно-складской комплекс?
            div
                h3 Сценарии и расчеты
                p Как сбалансировать мощности где держать основное производство, а что выгоднее выпускать на сторонних площадках?
        div
            div
                h3 Сценарии и расчеты
                p Что выбрать аренду, собственные мощности или аутсорсинг?
            div
                h3 Сценарии и расчеты
                p Как повлияет на затраты смена формата РЦ, консолидационный центр, кросс-док?
        div
            div
                h3 Сценарии и расчеты
                p Как изменится стоимость логистики при росте бизнеса — экспансии в регионы РФ, СНГ или другие страны?
            div
                h3 Сценарии и расчеты
                p Где появятся узкие места, кратно удорожающие логистику?
            div
                h3 Сценарии и расчеты
                p Есть ли риски утраты конкурентного преимущества, если ничего в бизнесе не менять?
        div
            div
                h3 Сценарии и расчеты
                p Как увеличить доходность бизнеса за счёт баланса частоты поставок и затрат?
            div
                h3 Сценарии и расчеты
                p Как сбалансировать затраты на хранение и транспорт?
        div
            div
                h3 Сценарии и расчеты
                p Как через конфигурацию складской сети улучшить сервис, скорость доставки и NPS?
            div
                h3 Сценарии и расчеты
                p Какой будет структура затрат при заданном уровне сервиса?
        div
            div
                h3 Сценарии и расчеты
                p Насколько затраты на транспорт и склады соответствуют отраслевому бенчмарку и рынку в целом?
        div
            button
                span запросить аудит
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11.0518L4.38176 7.83108L6.56111 9.75278L12.9167 3M12.9167 3H9.37387M12.9167 3V6.54279" stroke="#212223" stroke-width="1.4"/>
                </svg>
                
