<section><div><div><h4>задача</h4><p>Как сократить затраты на транспорт и склады без потерь в клиентском сервисе?</p></div><div><h4>Решение</h4><p>Оптимальное размещение складов и распределение запасов по ним снижают издержки благодаря лучшей загрузке транспорта и сокращению плеч доставки.</p></div></div><div><h4>Какие задачи решает моделирование?</h4><div>/ <span>01</span> — 04 /</div></div><div><div><svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.5 18L21.5 21.403L21.5 28.2091L15.5 31.6122L9.5 28.2091L9.5 21.403L15.5 18Z" fill="#D6DCFF" fill-opacity="0.6"/>
<path d="M9 7L15 10.403L15 17.2091L9 20.6122L3 17.2091L3 10.403L9 7Z" fill="#6F92E8"/>
<path d="M28.5 18L34.5 21.403L34.5 28.2091L28.5 31.6122L22.5 28.2091L22.5 21.403L28.5 18Z" fill="#6F92E8"/>
<path d="M22 7L28 10.403L28 17.2091L22 20.6122L16 17.2091L16 10.403L22 7Z" fill="#6F92E8"/>
</svg><h2>Оценка соответствия логистической сети целям компании</h2><p>Где теряются деньги и в каких точках сеть работает неэффективно по сравнению с оптимальной.</p></div><div><svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 7L18 10.403L18 17.2091L12 20.6122L6 17.2091L6 10.403L12 7Z" fill="#6F92E8"/>
<path d="M25 7L31 10.403L31 17.2091L25 20.6122L19 17.2091L19 10.403L25 7Z" fill="#D6DCFF" fill-opacity="0.6"/>
<path d="M18.5 18L24.5 21.403L24.5 28.2091L18.5 31.6122L12.5 28.2091L12.5 21.403L18.5 18Z" fill="#6F92E8"/>
</svg><h2>Быстрая адаптация к росту и изменениям стратегии</h2><p>Как перестроить логистику под рост бизнеса, региональную экспансию, изменение объемов или выход в новые каналы продаж (маркетплейсы и др.)</p></div><div><svg width="39" height="38" viewBox="0 0 39 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24 19L27.5 13L34.5 13L38 19L34.5 25L27.5 25L24 19Z" fill="#D6DCFF" fill-opacity="0.6"/>
<path d="M12.5 12L16 6L23 6L26.5 12L23 18L16 18L12.5 12Z" fill="#D6DCFF" fill-opacity="0.6"/>
<path d="M1 19L4.5 13L11.5 13L15 19L11.5 25L4.5 25L1 19Z" fill="#D6DCFF" fill-opacity="0.6"/>
<path d="M12.5 25.5L16 19.5L23 19.5L26.5 25.5L23 31.5L16 31.5L12.5 25.5Z" fill="#6F92E8"/>
</svg><h2>Оценка эффекта от оптимизации сети</h2><p>Достоверный расчет экономии при переходе от текущих схем поставок к распределенной складской сети.</p></div><div><svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 18L18 21.5L18 28.5L12 32L6 28.5L6 21.5L12 18Z" fill="#6F92E8"/>
<path d="M26 18L32 21.5L32 28.5L26 32L20 28.5L20 21.5L26 18Z" fill="#D6DCFF" fill-opacity="0.6"/>
<path d="M19 6L25 9.5L25 16.5L19 20L13 16.5L13 9.5L19 6Z" fill="#D6DCFF" fill-opacity="0.6"/>
</svg><h2>Сравнение затрат на логистику с рынком</h2><p>Бенчмарк транспортных и складских затрат с отраслью и рыночными тарифами на склады и транспорт.</p></div></div></section>