section.tasks
    .tasks__text
        div.text-item
            h4 задача
            h3 Как сократить затраты на транспорт и склады без потерь в клиентском сервисе?
        div.text-item
            h4 Решение
            p Оптимальное размещение складов и распределение запасов по ним снижают издержки благодаря лучшей загрузке транспорта и сокращению плеч доставки.
    .tasks__decorate_center
    div.tasks__block
        h4.tasks__label
            span.label-txt Какие задачи решает моделирование?
            span.label-cnt
                |/&#32;
                span.tasks-cnt 01
                |&#32; — 04 /
        div.tasks__cards
            div.tasks-item
                include vectors/pic7
                h3 Оценка соответствия логистической сети целям компании
                p Где теряются деньги и в каких точках сеть работает неэффективно по сравнению с оптимальной.
            div.tasks-item
                include vectors/pic8
                h3 Быстрая адаптация к росту и изменениям стратегии
                p Как перестроить логистику под рост бизнеса, региональную экспансию, изменение объемов или выход в новые каналы продаж (маркетплейсы и др.)
            div.tasks-item
                include vectors/pic9
                h3 Оценка эффекта от оптимизации сети
                p Достоверный расчет экономии при переходе от текущих схем поставок к распределенной складской сети.
            div.tasks-item
                include vectors/pic10
                h3 Сравнение затрат на логистику с рынком
                p Бенчмарк транспортных и складских затрат с отраслью и рыночными тарифами на склады и транспорт.
    .tasks__decorate_bottom
