.first-section {
  position: relative;
}
.first-section::before {
  content: "";
  position: var(--pos, fixed);
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #001342;
  background-image: url("./images/banner.png");
  background-position: center -8rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
@media screen and (max-width: 1439px) {
  .first-section::before {
    display: none;
  }
}
.pre-work {
  position: var(--posi, absolute);
  height: 16rem;
  bottom: -12rem;
  background-color: lGray;
  width: 100%;
}
