.first-section
    position relative
    &::before
        content ""
        position var(--pos, fixed)
        z-index -1
        height 100%
        width 100%
        top 0
        left 0
        background-color #001342
        background-image url("./images/banner.png")
        background-position center -8rem
        background-repeat no-repeat
        background-size 100%
        background-attachment fixed
        @media screen and (max-width: 1439px)
            display none
.second-section
    background-image url("./images/banner2.jpg")
    background-size auto 100%
    background-position center bottom
    height 109.6rem
    position relative
    z-index 1
    @media screen and (min-width: 760px)
        height 133.3rem
    @media screen and (min-width: 1440px)
        height 125.9rem
        border-radius 0 0 3rem 3rem
.pre-work
    position var(--posi, absolute)
    height 16rem
    bottom -12rem
    background-color lGray
    width 100%
    @media screen and (max-width: 1439px)
        display none