.label-btn
    display flex
    justify-content center
    align-items center
    width 8rem
    height 3rem
    margin 0 auto 1rem
    border .16rem solid lavender
    border-radius .6rem
    background-color dBlack
    color ltGray
    font-size 1.2rem
    line-height 1.4rem
    @media screen and (min-width: 1440px)
        height 2.8rem
        font-size 1rem
        line-height 1.2rem
.label-btn_light
    background-color ltGray
    border-color lavender20
    color inkDark
.label-btn_upper
    text-transform uppercase
.label-btn_lit
    letter-spacing -.012rem
    @media screen and (min-width: 1440px)
        letter-spacing 0

