.label-btn
    display flex
    justify-content center
    align-items center
    width 8rem
    height 3rem
    margin 0 auto 1rem
    border .16rem solid lavender
    border-radius .6rem
    background-color dBlack
    color ltGray
    font-size 1.2rem
    line-height 1.4rem
    text-transform none
    @media screen and (min-width: 1440px)
        height 2.8rem
        font-size 1rem
        line-height 1.2rem
.label-btn_light
    background-color ltGray
    border-color lavender20
    color inkDark
.label-btn_upper
    text-transform uppercase
.label-btn_lit
    letter-spacing -.012rem
    @media screen and (min-width: 1440px)
        letter-spacing 0

.primary-caption
    font-weight 300
    font-size 2.4rem
    line-height 2.2rem
    color inkDark
    padding-bottom 2rem
    @media screen and (min-width: 760px)
        font-size 3rem
        line-height 1
    @media screen and (min-width: 1440px)
        padding-bottom 1.5rem
        font-size 2.8rem
        line-height 3.1rem
        //text-align center
.primary-caption_center
    text-align center
.primary-caption_center_760
    text-align center
    @media screen and (min-width: 1440px)
        text-align left
.primary-caption_light
    color ltGray
.primary-caption_iris
    color iris
.primary-caption_iris_390
    color iris
    @media screen and (min-width: 760px)
        color inherit
.primary-caption_iris_760
    @media screen and (min-width: 760px)
        color iris
.primary-caption_iris_390_1440
    color iris
    @media screen and (min-width: 760px)
        color inherit
    @media screen and (min-width: 1440px)
        color iris
.primary-caption_white_1440
    @media screen and (min-width: 1440px)
        color white

.container
    padding 10rem 1rem 0
    @media screen and (min-width: 760px)
        padding 12rem 2rem 0
    @media screen and (min-width: 1440px)
        padding-top 15rem
.container_h0
    padding-left 0
    padding-right 0
.container_h2
    padding-left 2rem
    padding-right 2rem
.container_top15_1440
    @media screen and (min-width: 1440px)
        padding-top 15rem

.sq_line
    margin-top .5rem
    height .1rem
    margin-bottom 3.4rem
    width 100%
    position relative
    background-color iris
    display flex
    justify-content center
    &::before
    &::after
        content ""
        position absolute
    &::before
        top -.5rem
        width 1rem
        height 1rem
        background-color inherit
        border-radius .2rem
    &::after
        top -.5rem
        width .1rem
        height 4rem
        background-color inherit
    @media screen and (min-width: 760px)
        margin-top .65rem
        margin-bottom 2.95rem
        &::before
            top -.65rem
            width 1.3rem
            height 1.3rem
        &::after
            height 3rem
            top 0
    @media screen and (min-width: 1440px)
        margin-top .5rem
        margin-bottom 4.4rem
        &::before
            top -.5rem
        &::after
            height 5rem
            top -.5rem
.btn
    height 4rem
    width 15.8rem
    border-radius .8rem
    gap 1rem
    text-transform uppercase
    font-size 1rem
    letter-spacing -0.01rem
    svg
        height 2.2rem
        width 2.2rem
    &:hover
        background-color dBlack