.faq
    display grid
    gap 2rem
    @media screen and (min-width: 1440px)
        padding-bottom 12rem
        display grid
        grid-template-columns 32.5rem 1fr
        gap 30rem
        height 67.8rem
    .faq__block
        @media screen and (min-width: 1440px)
            overflow hidden
            height 100%
            grid-row-end span 2
    .list
        display grid
        //gap 3.2rem
        counter-reset: section
        li
            padding 1rem 0 0 2rem
            counter-increment section
            position relative
            border-top .1rem solid ltGray
            cursor pointer
            user-select none
            max-height 7rem
            transition max-height 300ms
            &.active
                transition max-height 300ms
                max-height 20rem
                &::after
                    transform rotate(45deg)
            .q
                font-size 1.6rem
                width 27.2rem
                @media screen and (min-width: 760px)
                    width 50rem
            .a
                font-size 1.4rem
                padding 1.6rem 0 0
                margin-bottom 2rem
                transition-property max-height
                transition-duration 300ms
                color inkDark60
                max-height 0
                overflow hidden
            &:last-child
                border-bottom .1rem solid ltGray

            &::before
                content counter(section, decimal) "."
                position absolute
                left 0
                font-size 1.2rem
                top 1rem
            &::after
                content url("./images/plus.svg")
                position absolute
                right 0
                top 1rem
                filter invert(1)
                transition transform 300ms
            @media screen and (min-width: 760px)
                padding-left 4rem
            @media screen and (min-width: 1440px)
                padding-left 0
                margin-left 4rem
                &::before
                    left -4rem

.faq__text
    padding 3rem 0 6rem
    display grid
    gap 2rem
    .img
        width 6rem
        height 6rem
        border-radius 50%
        background-image url(./images/faq.jpg)
        background-size auto 170%
        background-position 55% 15%
        border .1rem solid white
    p
        width 28rem
    @media screen and (min-width: 760px)
        padding-bottom 12rem
    @media screen and (min-width: 1440px)
        padding-bottom 0
        //object-view-box: inset(20%);