footer
    background-color #131313
    color ltGray
    padding 6.4rem 2rem 3rem
    .logo
        display flex
        align-items center
        gap 1rem
        font-size 1.4rem
        //margin-bottom 5rem
        svg
            height 3rem
        .fill_iris
            fill white