.header-block_mob
    height 6.5rem
    display flex
    justify-content space-between
    align-items center
    margin 0 2rem
    border-bottom .16rem solid iris20
    .fill_iris
        fill white
    svg:first-of-type
        height 2.4rem
    svg:last-of-type
        height 1.7rem
    @media screen and (min-width: 760px)
        svg:first-of-type
            height 2.7rem
        svg:last-of-type
            height 1.7rem
    @media screen and (min-width: 1440px)
        display none

.header-block
    width 100vw
    height 100vh
    position fixed
    left -100vw
    background #010101
    top 0
    z-index 1
    padding 2rem 2rem 4rem
    box-sizing border-box
    color white
    display grid
    grid-template-rows auto 1fr auto
    gap 11.6rem
    transition transform 500ms
    &.active
        transform translate(100vw)
    @media screen and (min-width: 760px)
        width 39rem
        left -39rem
        &.active
            transform translate(39rem)
    .logo
        display flex
        align-items center
        gap 1.7rem
        font-size 1.4rem
        padding-bottom 2.4rem
        border-bottom .16rem solid iris20
        position relative
        .logo_x
            position absolute
            right 0
            top 0
            transform rotate(45deg)
            svg
                width 3rem
                height 3rem
        svg
            height 3rem
        .fill_iris
            fill white
    nav
        align-content flex-end
        display grid
        gap 2.4rem
        font-size 2.8rem
        color #C6C6C6
    .links
        border-top .16rem solid iris20
        padding-top 2.3rem
        display grid
        grid-template-columns repeat(2, auto)
        justify-content space-between
        position relative
        &::before
            content ""
            position absolute
            width .1rem
            background-color iris20
            left calc(50% - .05rem)
            height 5rem
        .btn-label
            height 4.2rem
            background transparent
            color white
            gap 1rem
            font-size 1.2rem
            padding 1rem 0
            svg
                order -1
            &:last-child
                display none
    @media screen and (min-width: 1440px)
        position static
        height 7.6rem
        background-color transparent
        display flex
        gap 0
        justify-content space-between
        align-items center
        margin 0 2rem
        padding 0
        border-bottom .16rem solid iris20
        width calc(100vw - 4rem)
        .logo
            font-size 1rem
            gap 1.4rem
            border-bottom none
            padding 0
            svg
                height 2.2rem
            .logo_x
                display none
        nav
            display flex
            gap 8rem
            font-size .8rem
            text-transform uppercase
            color #D6DCFF
            font-weight 450
        .links
            display flex
            align-items center
            gap 1rem
            padding-top 0
            .btn-label
                height 2.8rem
                width 11rem
                color inkDark
                gap .6rem
                border-radius .6rem
                background-color white
                letter-spacing -.008
                font-size .8rem
                font-weight 450
                display flex
                justify-content center
                cursor pointer
                svg
                    order 1
                    width 1.4rem
                    height 1.4rem
                &:nth-child(2)
                    display none
                &:last-child
                    display flex
                &:first-child svg>path
                    stroke  inkDark
