.methodic
    padding 10rem 0 0
    position relative
    .figures
        position absolute
        top 20.4rem
        left 0
        width 100%
    .primary-caption
        @media screen and (min-width: 1440px)
            width 45.8rem
            margin 0 auto
    .sq_line
        margin 2rem
.map
    width 100%
    //overflow hidden
    height 64rem
    position relative
    img
        height 100%
        width 100%
        object-fit cover
        object-position center
.methodic__cards
    z-index 1
    position absolute
    left 0
    bottom 0
    width 100%
    box-sizing border-box
    padding 1rem
    gap 1rem
    overflow-x scroll
    overflow-y hidden
    display grid
    grid-template-columns repeat(3, 35.8rem)
    grid-template-rows 10.8rem
    @media screen and (min-width: 1440px)
        grid-template-columns repeat(3, 1fr)
        gap 2.2rem
        padding 0 2rem 2.6rem
.methodic-item
    padding 1rem
    background-color #131313
    border-radius .8rem
    display grid
    grid-template-columns auto 1fr
    gap 1rem
    svg
        height 100%
.methodic__text
    padding 0 1rem
    display flex
    align-items center
    justify-content center
    font-size 1.2rem
    line-height 1.1
    color #FFFFFFB3
    position relative
    @media screen and (min-width: 1440px)
        padding 0 3rem

    svg
        position absolute
        height 1.4rem
        &:nth-of-type(1)
            top 0
            left 0
        &:nth-of-type(2)
            top 0
            right 0
        &:nth-of-type(3)
            bottom 0
            left 0
        &:nth-of-type(4)
            bottom 0
            right 0


