.methodic
    padding 10rem 0 0
    .figures
        position absolute
        top 20.4rem
        left 0
        width 100%
.methodic__title
    margin-bottom 4.6rem
    font-size 2.4rem
    line-height .9
    text-align center
.map
    width 100%
    //overflow hidden
    height 64rem
    position relative
    img
        height 100%
        width 100%
        object-fit cover
        object-position center
.methodic__cards
    z-index 1
    position absolute
    left 0
    bottom 0
    width 100%
    box-sizing border-box
    padding 1rem
    gap 1rem
    overflow-x scroll
    overflow-y hidden
    display grid
    grid-template-columns repeat(3, 35.8rem)
    grid-template-rows 10.8rem
.methodic-item
    padding 1rem
    background-color #131313
    border-radius .8rem
    display grid
    grid-template-columns auto 1fr
    gap 1rem
    svg
        height 100%
.methodic__text
    padding 0 1rem
    display flex
    align-items center
    justify-content center
    font-size 1.2rem
    line-height 1.1
    color #FFFFFFB3


