.partners
    padding 12rem 2rem 0
    background-color lGray
    h2
        margin 1rem 0 2rem
    .figures
        margin-bottom 2rem
    .figures_simple
        margin-top 2rem
        transform rotate(180deg)
        margin-bottom 0
    .primary-caption
        @media screen and (min-width: 1440px)
            width 56rem
            margin-left auto
            margin-right auto
.partners__block
    display grid
    grid-template-columns repeat(2, 1fr)
    gap 1rem
    @media screen and (min-width: 1440px)
        gap 2rem
.partners__img
    height 100%
    display flex
    justify-content center
    align-items flex-start
    .partners__bg
        width 100%
        height 15.2rem
        display flex
        justify-content center
        align-items center
        background-color dark
    img
        height 7.2rem
        max-width 80%
    @media screen and (min-width: 760px)
        .partners__bg
            height 28rem
        img
            height 10rem
    @media screen and (min-width: 1440px)
        width 33.5rem

.partners__list
    display grid
    gap 1.6rem
    font-size 1.4rem
    text-transform uppercase
    li
        cursor pointer
        transition-property color, filter
        transition-duration 500ms
        &.active
            color iris
    @media screen and (min-width: 1440px)
        grid-template-columns repeat(2, 1fr)



