.profit
    background-image url("./images/banner2.jpg")
    background-size cover
    background-position bottom center
    padding 10rem 1rem 2rem
    @media screen and (min-width: 1440px)
        padding 12rem 2rem 3rem
    h2
        color #E5E5E5
        margin 1rem 0 2rem
    .figures
        margin 0 1rem
        opacity .2
    .cnt
        padding 0 1rem
        display flex
        align-items center
        justify-content space-between
.profit-cards
    height 69.5rem
    position relative
.profit-item
    position absolute
    bottom 0
    height 66.4rem
    background-color #F1F1F1
    border-radius 2rem
    padding 1rem 1rem 2rem
    header
        display grid
        grid-template-columns 60%
        align-content space-between
        padding 1rem
        height 19.9rem
        box-sizing border-box
        background-image url("./images/profit1.png")
        background-position 200% 30%
        background-size 80%
        background-repeat no-repeat
        background-color white
        border-radius 1.6rem
        h3
            font-size 1.8rem
        p
            font-size 1.2rem
            color inkDark60
    .content
        padding 2rem 1rem 0
        h4
            display none
        p
            font-size 1.8rem
            margin-bottom 2rem
            //letter-spacing -.018rem
        .widgets
            display grid
            grid-template-columns repeat(2, 1fr)
            gap 1.5rem
            svg
                width 100%