.scenarios
    position absolute
    bottom 0
    width 100%
    overflow hidden
    .primary-caption
        padding 0 2rem 2.5rem
        @media screen and (min-width: 760px)
            width 58.7rem
            margin 0 auto
        @media screen and (min-width: 1440px)
            width 74.1rem
    .cnt-b
        display flex
        align-items center
        justify-content space-between
        color white
        padding 1rem 2rem 2rem
        @media screen and (min-width: 760px)
            padding-top 2rem
        @media screen and (min-width: 1440px)
            padding 3rem 2rem 4rem
    .sq_line
        opacity .2
    .figures_simple
        opacity .2
        margin-top 3rem
        .line2
            height 3rem
.sq_line
    background-color iris20
    margin 0 2rem
    width calc(100% - 4rem)
    @media screen and (min-width: 1440px)
        background-color iris
.circles-block
    width 100%
    overflow hidden
.circles
    position relative
    height 36rem
    overflow-x hidden
    overflow-y hidden
    transform translate(0rem, 0)
    display flex
    align-items center
    justify-content center
    gap 2.7rem
    .sc_line
        width 100%//calc(100% + 4rem)
        content ""
        position absolute
        top 0
        left 0
    svg
        width 36rem
        height 36rem
        position absolute
        top 0
        left calc(50% - 18rem)
        &:nth-child(1)
            left calc(50% - 43.5rem)
        &:nth-child(3)
            left calc(50% + 7.5rem)
        &:nth-child(4)
            left calc(50% + 33rem)
        &:nth-child(5)
            left calc(50% + 58.5rem)
    @media screen and (min-width: 760px)
        height 56.9rem
        svg
            width 56.9rem
            height 56.9rem
            left calc(50% - 28.45rem)
            &:nth-child(1)
                left calc(50% - 68.65rem)
            &:nth-child(3)
                left calc(50% + 11.75rem)
            &:nth-child(4)
                left calc(50% + 51.95rem)
            &:nth-child(5)
                left calc(50% + 92.15rem)
    @media screen and (min-width: 1440px)
        height 50rem
        svg
            width 50rem
            height 50rem
            &:nth-child(1)
                left calc(50% - 95.5rem)
            &:nth-child(2)
                left calc(50% - 60.3rem)
            &:nth-child(3)
                left calc(50% - 25rem)
            &:nth-child(4)
                left calc(50% + 10.2rem)
            &:nth-child(5)
                left calc(50% + 45.5rem)
.sc__item
    width 15rem
    overflow hidden
    display flex
    flex-direction column
    //gap 13rem
    gap 1rem
    justify-content center
    align-items center
    color lavender20
    z-index 2
    text-transform uppercase
    font-size 1rem
    position relative
    transform translate(0, -2.5rem)
    :last-child
        width 12rem
        display block
        text-align center
        height 3.6rem
    :first-child
        font-size 1.2rem
    &:nth-child(2n - 1)
        flex-direction column-reverse
        transform translate(0, 2.5rem)
    &.active
        color iris
        .l
            background-color iris
        .c
            background-color iris
    .l
        height 6rem
        width .1rem
        background-color lavender20
    .c
        width 2rem
        height 2rem
        box-sizing border-box
        background-color #212223
        border-radius 50%
        border .4rem solid lavender
    @media screen and (max-width: 1439px)
    //@media screen and (max-width: 759px)
        &:not(:first-of-type)
            display none
.mi
    margin 1rem auto 2rem
    height .1rem
    width 6rem
    background-color lavender
    @media screen and (min-width: 1440px)
        display none

.ss
    box-sizing border-box
    padding 0 2.4rem 2rem
    overflow-x scroll
    overflow-y hidden
    width 100%
    height 16rem
    position relative
    &>.btn-block
        display none
    @media screen and (min-width: 1440px)
        overflow hidden
        padding-bottom 3rem
        transform translate(0, -3rem)
        &>.btn-block
            display flex
            position absolute
            top 0
            bottom auto
            right 2rem
            .btn-label
                background-color transparent
                border .16rem solid iris20
                color white
                line-height 2.2rem

        &>.ss__line
            position absolute
            bottom 0

.sc
    width 68rem
    gap 1rem
    transform translate(100%)
    transition-duration 500ms
    transition-property transform opacity
    display flex
    position absolute
    z-index 0
    opacity 0
    &.active
        transform translate(0)
        z-index 1
        opacity 1
    &.empty
        transform translate(-100%)
        opacity 0
    @media screen and (min-width: 760px)
        gap 2rem
        width 100%
    @media screen and (min-width: 1440px)
        width 100%
.sc-card
    width 33.5rem
    height 14rem
    box-sizing border-box
    padding 1.5rem
    background-color cloudyBlue20
    backdrop-filter blur(4rem)
    border-radius 1rem
    color white
    display grid
    p
        font-size 1.2rem
    align-content space-between
    //@media screen and (min-width: 760px)
    //    width 100%

.ss__line
    width 100%
    height .1rem
    background-color iris20