.tasks
    margin 0 1rem
    background-color white80
    border-radius 2rem
    padding 2rem 1rem
    transform translate(0, -43rem)
    backdrop-filter blur(40rem)
    @media screen and (min-width: 760px)
        padding 3rem
    @media screen and (min-width: 1440px)
        margin 0 2rem
        display grid
        grid-template-columns 61.8rem 2rem 1fr
        gap 3rem
        align-content flex-start
        transform translate(0, -17rem)
.tasks__text
    display grid
    padding 0 1rem
    gap 4rem
    margin-bottom 8rem
    @media screen and (min-width: 760px)
        grid-template-columns repeat(2, 1fr)
        gap 2.2rem
        padding 0
        h3
            width 90%
    @media screen and (min-width: 1440px)
        align-content space-between
        grid-template-columns auto
        gap 2.2rem
        height 100%
        p
            width 78%
    .text-item
        display grid
        gap 1.2rem
    h4
        color iris
.tasks__decorate_center
    display none
    @media screen and (min-width: 1440px)
        display block
        background-color transparent
        svg
            width 2rem
            height 30.6rem
.tasks__block
    display grid
    gap 4.4rem
    @media screen and (min-width: 760px)
        gap 5rem
    @media screen and (min-width: 1440px)
        gap 5.2rem
        padding-bottom 1.7rem
.tasks__label
    display flex
    justify-content space-between
    align-items center
    padding 0 1rem
    .label-txt
        flex .6
    @media screen and (min-width: 760px)
        padding 0
.tasks__cards
    position relative
.tasks-item
    background-color white
    border-radius 1.6rem
    padding 2rem 2rem 2rem
    height 18rem
    box-sizing border-box
    position absolute
    display grid
    align-content space-between
    transform-origin center top
    img
        width 3.2rem
        height 3.2rem
        position absolute
        top 2.2rem
        right 2.2rem
    h3
        color iris
        width 20rem
    p
        line-height 1.6rem
    &:nth-child(1)
        position relative
        z-index 4
    &:nth-child(2)
        z-index 3
        background-color iris
        opacity .3
        bottom 0
        transform translate(0, -.8rem) scale(94%)
    &:nth-child(3)
        z-index 2
        background-color iris
        opacity .2
        bottom 0
        transform translate(0,-1.6rem) scale(88%)
    &:nth-child(4)
        z-index 1
        background-color iris
        opacity .1
        bottom 0
        transform translate(0,-2.4rem) scale(82%)
    @media screen and (min-width: 760px)
        height 19rem
        padding 3.4rem 3rem 3rem
        p
            line-height 1
        h3
            width 48.4rem
        img
            height 3.8rem
            width auto
            top 3rem
            right 2.4rem
        &:nth-child(2)
            transform translate(0, -1rem) scale(94%)
        &:nth-child(3)
            transform translate(0,-2rem) scale(88%)
        &:nth-child(4)
            transform translate(0,-3rem) scale(82%)
    @media screen and (min-width: 1440px)
        height 22rem
        padding 3.4rem 3rem 3rem
        h3
            width 41.1rem
        p
            line-height 1.6rem
.tasks__decorate_bottom
    width 6rem
    height .2rem
    margin 1.1rem auto 0
    background-color ltGray
    border-radius .1rem
    position relative
    &::before
        content ""
        position absolute
        top 0
        left 0
        width 0
        height 100%
        background-color inkDark
    &.active::before
        width 100%
        transition width 5s linear


    @media screen and (min-width: 760px)
        margin-top 2.1rem

    @media screen and (min-width: 1440px)
        display none