//Ink Dark = #32364C // text
//    60%
//Iris = #6F92E8 // Title/Label
//    10
//    20
//    30
//    40
//    60
//Lavender = #D6DCFF
//    40%
//    60%
//Indigo = #3D57E6
//    40%
//    60%
//Cloudy Blue = #8C9FCD
//    10
//    40
//    60
//L Gray = #E5E5E5
//Gradient 1 =
//color1 = #F1F1F1
//
//
//Lite Gray(BG) F1F1F1
//D Black (BG) 131313

lGray = #f1f1f1
iris = #6F92E8
iris20 = #6F92E833
inkDark = #32364C
inkDark60 = #32364C99
cloudyBlue = #8C9FCD
cloudyBlue20 = #8C9FCD33
cloudyBlue5 = #8C9FCD0D
lavender = #D6DCFF
lavender20 = #D6DCFF33
white80 = #FFFFFFCC
ltGray = #E5E5E5
dBlack = #131313

@font-face
    font-family "Suisse Intl"
    src url("./fonts/web/SuisseIntl-Black-WebM.eot") format("embedded-opentype"), url("./fonts/web/SuisseIntl-Black-WebM.ttf") format("truetype"), url("./fonts/web/SuisseIntl-Black-WebM.woff") format("woff"), url("./fonts/web/SuisseIntl-Black-WebM.woff2") format("woff2")
    font-weight 600

@font-face
    font-family "Suisse Intl"
    src url("./fonts/web/SuisseIntl-Book-WebXL.eot") format("embedded-opentype"), url("./fonts/web/SuisseIntl-Book-WebXL.ttf") format("truetype"), url("./fonts/web/SuisseIntl-Book-WebXL.woff") format("woff"), url("./fonts/web/SuisseIntl-Book-WebXL.woff2") format("woff2")
    font-weight 400


@font-face
    font-family "Suisse Intl"
    src url("./fonts/web/SuisseIntl-Book-WebM.eot") format("embedded-opentype"), url("./fonts/web/SuisseIntl-Book-WebM.ttf") format("truetype"), url("./fonts/web/SuisseIntl-Book-WebM.woff") format("woff"), url("./fonts/web/SuisseIntl-Book-WebM.woff2") format("woff2")
    font-weight 300