//Ink Dark = #32364C // text
//    60%
//Iris = #6F92E8 // Title/Label
//    10
//    20
//    30
//    40
//    60
//Lavender = #D6DCFF
//    20%
//    40%
//    60%
//White = #FFFFFF
//    80
//Indigo = #3D57E6
//    40%
//    60%
//Cloudy Blue = #8C9FCD
//    5
//    10
//    20
//    40
//    60
//L Gray = #E5E5E5
//Gradient 1 =
//color1 = #F1F1F1
//
//
//Lite Gray(BG) F1F1F1
//D Black (BG) 131313

lGray = #f1f1f1
iris = #6F92E8
inkDark = #32364C
cloudyBlue = #8C9FCD
cloudyBlue20 = #8C9FCD33
cloudyBlue5 = #8C9FCD0D